workflows-iawinners/(VOZ) Sofía AI - Ventas a Calendario.json
{
  "active": false,
  "connections": {
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-09T01:21:03.504Z",
  "id": "k7pKfXh9TX9IMWGy",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "(VOZ) Sofía AI - Ventas a Calendario",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1460,
        40
      ],
      "id": "a5d6ec9c-c89c-428f-be8b-2f2ea08eab99",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "7e07f6d693a0e2414fab8dbb64bc8acbd10d450f3e64dd32a64e7e4f37cd742d@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Agenda Equipo Ventas"
        },
        "start": "={{ $('Webhook').item.json.body.args.fyhreunion }}",
        "end": "={{ $json.message.content.fecha_fin }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Webhook').item.json.body.args.email }}"
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        620,
        40
      ],
      "id": "f16ca9f9-a456-440f-b271-ebb8bad8b081",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "kySGlys3HU1g1q6Y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=luzcgarcia.ia@gmail.com",
        "subject": "Reunion con IA WINNERS",
        "emailType": "text",
        "message": "=Hola  {{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.nombre }}\n\nTe paso el links de la reunión:\n\n{{ $json.hangoutLink }}\n\n\nUn saludo!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        940,
        40
      ],
      "id": "c0f73ec5-40f5-4dd5-97b7-50bb112bfcf6",
      "name": "Gmail",
      "webhookId": "e84e22b5-1e83-406f-b8e0-74cecbe2c77a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1cf93e14-8bb4-80db-a58a-e926ad55cf23",
          "mode": "list",
          "cachedResultName": "Agencia - Solución agentes de voz",
          "cachedResultUrl": "https://www.notion.so/1cf93e148bb480dba58ae926ad55cf23"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Nombre|title",
              "title": "={{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.nombre }}"
            },
            {
              "key": "Email|rich_text",
              "textContent": "={{ $('Webhook').item.json.body.call.retell_llm_dynamic_variables.email }}"
            },
            {
              "key": "Telefono|rich_text",
              "textContent": "={{ $('Webhook').item.json.body.call.to_number }}"
            },
            {
              "key": "Resumen llamada|rich_text",
              "textContent": "={{ $('Webhook').item.json.body.args.summary }}"
            },
            {
              "key": "Estado|select",
              "selectValue": "={{ $('Webhook').item.json.body.args.interes }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1160,
        40
      ],
      "id": "6b569deb-6449-45c0-903a-66ce0a58d9d7",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "FUr3Z7jS0wCOGBNC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e134a0f4-2ad6-4866-a8a0-bfb9fa234881",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        40
      ],
      "id": "75a166ef-3fad-4d55-b65e-b2424091b057",
      "name": "Webhook",
      "webhookId": "e134a0f4-2ad6-4866-a8a0-bfb9fa234881"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Suma 1 hora a esta variable:\n {{ $json.body.args.fyhreunion }}\nDevuelve la misma variable pero con una hora adicional\nSolo le fecha completa como \"fecha_fin\""
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -60,
        40
      ],
      "id": "1e7a678b-4fc4-46f5-94a5-58148de45c98",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.iawinners.com",
            "user-agent": "axios/1.7.7",
            "content-length": "8786",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "100.20.5.228",
            "cf-ipcountry": "US",
            "cf-ray": "9397cb80cd70debd-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "100.20.5.228, 104.23.160.121",
            "x-forwarded-host": "n8n.iawinners.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e96c02968f5",
            "x-real-ip": "104.23.160.121",
            "x-retell-signature": "v=1746191805509,d=d1ef21eee85071c506b170555e13325df82d1d98c56cdb1c113abd99b403d266"
          },
          "params": {},
          "query": {},
          "body": {
            "call": {
              "call_id": "playground",
              "call_type": "web_call",
              "retell_llm_dynamic_variables": {},
              "transcript": "User: Hola\nAgent: ¡Hola! ¿Cómo estás? Soy Sofia, una asistente de My Digital Winner. Vi que estuviste interesado en incorporar agentes de voz en tu negocio. ¡Me alegra mucho eso! ¿Te gustaría tener una asistente virtual como yo trabajando por ti?\nUser: si\nAgent: ¡Genial! ¿Te gustaría que agendemos una cita con el equipo para que te expliquen cómo podemos ayudarte? ¿Qué día y hora te vendría bien?\nUser: manana las 10 hs\nAgent: ¡Perfecto! Entonces agendamos para mañana a las 10 de la mañana. ¿Te parece bien?\nUser: si\n",
              "transcript_object": [
                {
                  "role": "user",
                  "content": "Hola",
                  "words": [
                    {
                      "word": "Hola",
                      "start": 0,
                      "end": 0
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Hola! ¿Cómo estás? Soy Sofia, una asistente de My Digital Winner. Vi que estuviste interesado en incorporar agentes de voz en tu negocio. ¡Me alegra mucho eso! ¿Te gustaría tener una asistente virtual como yo trabajando por ti?",
                  "words": [
                    {
                      "word": "¡Hola! ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¿Cómo ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "estás? ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Soy ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Sofia, ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "una ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "asistente ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "de ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "My ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Digital ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Winner. ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Vi ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "que ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "estuviste ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "interesado ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "en ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "incorporar ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "agentes ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "de ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "voz ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "en ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "tu ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "negocio. ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¡Me ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "alegra ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "mucho ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "eso! ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¿Te ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "gustaría ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "tener ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "una ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "asistente ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "virtual ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "como ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "yo ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "trabajando ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "por ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "ti?",
                      "start": 1,
                      "end": 1
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "si",
                  "words": [
                    {
                      "word": "si",
                      "start": 2,
                      "end": 2
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Genial! ¿Te gustaría que agendemos una cita con el equipo para que te expliquen cómo podemos ayudarte? ¿Qué día y hora te vendría bien?",
                  "words": [
                    {
                      "word": "¡Genial! ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "¿Te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "gustaría ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "que ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "agendemos ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "una ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "cita ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "con ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "el ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "equipo ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "para ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "que ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "expliquen ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "cómo ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "podemos ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "ayudarte? ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "¿Qué ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "día ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "y ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "hora ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "vendría ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "bien?",
                      "start": 4,
                      "end": 4
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "manana las 10 hs",
                  "words": [
                    {
                      "word": "manana ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "las ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "10 ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "hs",
                      "start": 5,
                      "end": 5
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Perfecto! Entonces agendamos para mañana a las 10 de la mañana. ¿Te parece bien?",
                  "words": [
                    {
                      "word": "¡Perfecto! ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "Entonces ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "agendamos ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "para ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "mañana ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "a ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "las ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "10 ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "de ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "la ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "mañana. ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "¿Te ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "parece ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "bien?",
                      "start": 7,
                      "end": 7
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "si",
                  "words": [
                    {
                      "word": "si",
                      "start": 8,
                      "end": 8
                    }
                  ]
                }
              ],
              "transcript_with_tool_calls": [
                {
                  "role": "user",
                  "content": "Hola",
                  "words": [
                    {
                      "word": "Hola",
                      "start": 0,
                      "end": 0
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Hola! ¿Cómo estás? Soy Sofia, una asistente de My Digital Winner. Vi que estuviste interesado en incorporar agentes de voz en tu negocio. ¡Me alegra mucho eso! ¿Te gustaría tener una asistente virtual como yo trabajando por ti?",
                  "words": [
                    {
                      "word": "¡Hola! ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¿Cómo ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "estás? ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Soy ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Sofia, ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "una ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "asistente ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "de ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "My ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Digital ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Winner. ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "Vi ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "que ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "estuviste ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "interesado ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "en ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "incorporar ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "agentes ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "de ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "voz ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "en ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "tu ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "negocio. ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¡Me ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "alegra ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "mucho ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "eso! ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "¿Te ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "gustaría ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "tener ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "una ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "asistente ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "virtual ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "como ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "yo ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "trabajando ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "por ",
                      "start": 1,
                      "end": 1
                    },
                    {
                      "word": "ti?",
                      "start": 1,
                      "end": 1
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "si",
                  "words": [
                    {
                      "word": "si",
                      "start": 2,
                      "end": 2
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Genial! ¿Te gustaría que agendemos una cita con el equipo para que te expliquen cómo podemos ayudarte? ¿Qué día y hora te vendría bien?",
                  "words": [
                    {
                      "word": "¡Genial! ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "¿Te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "gustaría ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "que ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "agendemos ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "una ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "cita ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "con ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "el ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "equipo ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "para ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "que ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "expliquen ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "cómo ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "podemos ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "ayudarte? ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "¿Qué ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "día ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "y ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "hora ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "te ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "vendría ",
                      "start": 4,
                      "end": 4
                    },
                    {
                      "word": "bien?",
                      "start": 4,
                      "end": 4
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "manana las 10 hs",
                  "words": [
                    {
                      "word": "manana ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "las ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "10 ",
                      "start": 5,
                      "end": 5
                    },
                    {
                      "word": "hs",
                      "start": 5,
                      "end": 5
                    }
                  ]
                },
                {
                  "role": "agent",
                  "content": "¡Perfecto! Entonces agendamos para mañana a las 10 de la mañana. ¿Te parece bien?",
                  "words": [
                    {
                      "word": "¡Perfecto! ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "Entonces ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "agendamos ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "para ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "mañana ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "a ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "las ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "10 ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "de ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "la ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "mañana. ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "¿Te ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "parece ",
                      "start": 7,
                      "end": 7
                    },
                    {
                      "word": "bien?",
                      "start": 7,
                      "end": 7
                    }
                  ]
                },
                {
                  "role": "user",
                  "content": "si",
                  "words": [
                    {
                      "word": "si",
                      "start": 8,
                      "end": 8
                    }
                  ]
                },
                {
                  "role": "tool_call_invocation",
                  "tool_call_id": "tool_call_68b13c",
                  "name": "agendar_reunion",
                  "arguments": "{\"summary\":\"El usuario mostró interés en incorporar agentes de voz en su negocio y agendó una reunión para mañana a las 10 de la mañana.\",\"fyhreunion\":\"2025-05-03T10:00:00+02:00\",\"interes\":\"Interesado\"}"
                }
              ],
              "latency": {},
              "tool_mocks": []
            },
            "name": "agendar_reunion",
            "args": {
              "summary": "El usuario mostró interés en incorporar agentes de voz en su negocio y agendó una reunión para mañana a las 10 de la mañana.",
              "fyhreunion": "2025-05-03T10:00:00+02:00",
              "interes": "Interesado",
              "email": "luz@ejemplo.com"
            }
          },
          "webhookUrl": "https://n8n.iawinners.com/webhook-test/e134a0f4-2ad6-4866-a8a0-bfb9fa234881",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-09T11:06:18.319Z",
      "updatedAt": "2025-04-09T11:06:18.319Z",
      "id": "WgXEuLULsFNjuFVn",
      "name": "Voz 09/04"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-02T13:36:41.000Z",
  "versionId": "2adacbe6-188d-484c-af4f-8f26ed517399"
}