workflows-iawinners/(VOZ)  Agente confirmacion - VIVO - RESUMEN.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-08T01:20:02.633Z",
  "id": "weOztZ6HJNOYWSrJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "(VOZ)  Agente confirmacion - VIVO - RESUMEN",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ef31c830-7834-4d11-a681-5b359316ddbc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "817b50ca-8edb-44eb-82d4-130cbe0966ac",
      "name": "Webhook",
      "webhookId": "ef31c830-7834-4d11-a681-5b359316ddbc"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1cf93e14-8bb4-80ae-ac43-c81e371eaf76",
          "mode": "list",
          "cachedResultName": "Agente confirmación - VOZ",
          "cachedResultUrl": "https://www.notion.so/1cf93e148bb480aeac43c81e371eaf76"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "Adrian"
            },
            {
              "key": "Resumen llamada|rich_text",
              "textContent": "={{ $json.body.args.resumen }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "6f514cea-1363-45c4-80e1-a1bc4e54355c",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "FUr3Z7jS0wCOGBNC",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "b3ded485-6151-4cc9-aad1-374194a16342",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-08T01:24:36.000Z",
  "versionId": "12e9f840-908c-4144-a749-143b4993405e"
}