workflows-iawinners/Agente de Instagram.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-23T20:14:40.070Z",
  "id": "FtKarD45NAWDNCaZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de Instagram",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b545280f-bfe7-45c7-8f95-65f8c0f7a701",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=### **Prompt Perfecto para Agente de IA: Creación de Guiones para Reels de Instagram**\n\n#### **Objetivo:**\nCrear guiones virales y altamente persuasivos para Reels de Instagram dirigidos a emprendedores, autónomos y profesionales interesados en iniciar una agencia de inteligencia artificial. El agente deberá extraer de las transcripciones los mensajes clave, estructurarlos en formato de guion y entregarlos en formato JSON con cuatro variables principales: **Título del reel**, **Gancho**, **Cuerpo** y **CTA**.\n\n---\n\n#### **Formato de Salida (Output)**\n{\n  \"Titulo del reel\": \"\",\n  \"Gancho\": \"\",\n  \"Cuerpo\": \"\",\n  \"CTA\": \"\"\n}\n\n---\n\n#### **Instrucciones para la Creación del Guion:**\n\n1. **Título del Reel (Resumen en 3-4 palabras):**  \n   - Resume el tema principal del video en un máximo de 4 palabras.\n   - Ejemplos: “Gana 10k con IA”, “IA para inmobiliarias”, “Clientes sin anuncios”, “Avatares de IA”\n\n2. **Gancho (Primeros 5-7 segundos):**  \n   - Captura la atención de inmediato con una pregunta, dato sorprendente o afirmación disruptiva.\n   - Debe conectar con los deseos, problemas o curiosidad del espectador.\n   - Ejemplos:\n     - “¿Sabías que puedes ganar 10.000 € al mes con IA sin programar?”\n     - “La peor forma de emprender en 2025 es ignorar la inteligencia artificial.”\n     - “Dos personas, cero experiencia y un reto: ¿Quién gana más rápido con IA?”\n\n3. **Cuerpo (Duración principal, 35-45 segundos):**  \n   - Explica brevemente el problema o desafío del avatar y cómo la IA ofrece una solución rentable.\n   - Incluye ejemplos concretos y resultados tangibles si están en la transcripción.\n   - Mantén una narrativa clara, usando lenguaje sencillo y directo.\n   - Detalla al menos 2 beneficios específicos o pasos a seguir para captar el interés.\n   - Ejemplos:\n     - “Con una agencia de IA, puedes ofrecer automatización de procesos, chatbots o generación de contenido. Solo necesitas 3 clientes al mes para superar los 5.000 €.”\n     - “Maxi y Xavi partieron de cero. En 45 días, Maxi lanzó su agencia, mientras que Xavi facturó más de 12.000 € en su primer mes. Y tú, ¿cuánto podrías lograr?”\n\n4. **CTA (Llamado a la acción, 5-8 segundos):**  \n   - Motiva al espectador a actuar de inmediato, destacando el beneficio que obtendrá.\n   - Si la transcripción incluye un CTA, incorpóralo al final del guion.\n   - Ejemplos:\n     - “¿Te gustaría aprender cómo lo hicieron? Comenta ‘IA 2025’ y te envío acceso gratuito al evento en vivo.”\n     - “Si quieres probar esta solución en tu negocio, comenta ‘AGENTE’ y te enviamos una demo gratuita.”\n     - “¿Quieres conseguir clientes sin gastar en anuncios? Comenta ‘CLIENTES’ y te explico cómo.”\n\n---\n\n#### **Pautas Adicionales:**\n- La duración total del guion debe ser de 50 a 60 segundos.\n- El contenido debe ser directo y breve, manteniendo el ritmo dinámico.\n- El tono es motivador, cercano y profesional.\n- Si la transcripción es de un testimonio (como los casos de Maxi y Xavi), resalta el resultado alcanzado y el tiempo en el que se logró.\n- Si la transcripción menciona plataformas como N8N, Make, HeyGen o Go High Level, indícalo en el cuerpo del guion como parte de la solución.\n\n---\n\nEste prompt está optimizado para que el agente de IA extraiga los mensajes clave de los videos y genere guiones de 50 a 60 segundos, claros y persuasivos, listos para publicar en Reels de Instagram.\n\nIMPORTANTE:\nEnviarás solo el json\n\nNo incluirás en tus respuestas \"Aquí tienes el contenido para un reel de Instagram sobre los beneficios de tener un agente de IA, presentado de forma divertida:\\n\\n```json . \nNo incluirás en tus respuestas ```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "5cdcd608-cb48-4d0b-9f61-2491ee633e55",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        280
      ],
      "id": "dd3d96e7-8aa8-4d49-932e-03e8f14c2a50",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-09T17:44:24.556Z",
      "updatedAt": "2025-03-09T17:44:24.556Z",
      "id": "vaUfhq34aha7UB6B",
      "name": "Adelaida"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-09T17:44:50.000Z",
  "versionId": "17859a63-adff-46d6-b2dd-5c659a0fdd42"
}