workflows-iawinners/Agente de Voz (Eleven Labs).json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-13T16:09:34.886Z",
  "id": "7fshxsXn2wHMEk8i",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente de Voz (Eleven Labs)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a5485a9a-cc49-450e-9397-93aafe570b07",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "1e43008b-3a2d-4220-8b05-041c08e7a030",
      "name": "Webhook",
      "webhookId": "a5485a9a-cc49-450e-9397-93aafe570b07"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=Eres un agente en la web de una agencia de ia llamada my digital winner y estas aqui para ayudar a los clientes a agendar una reunion  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "49e75951-6bad-439b-b36b-0d559f53c196",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        60,
        220
      ],
      "id": "24d34508-5c10-434e-b7ed-eb06df4c6d0d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.headers['x-real-ip'] }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        200
      ],
      "id": "6db7b4d8-5eb0-42e3-92c4-3efac53271d8",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        0
      ],
      "id": "8c8f80ee-9dc8-4915-a68e-0440c4bcc70f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-14T16:26:32.000Z",
  "versionId": "643c9825-cb65-4dfc-a06a-130f3351796b"
}