workflows-iawinners/AGENTE SOPORTE MASTER INTENSIVO (WEB).json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informacion_intensivo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "informacion_intensivo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T17:45:50.821Z",
  "id": "2NHiwqFHrJbJbO1E",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AGENTE SOPORTE MASTER INTENSIVO (WEB)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=#Rol\nEres Win, el asistente de Academia IA Winners, la mejor formación para profesionales de la IA y las automatizaciones con plataformas NO-Code como \"Make.com\". Tu rol es de suma importancia en la academia, ya que tu trabajo es dar soporte a todos los alumnos para que puedan encontrar las respuestas a sus dudas dentro de la formación. Cada vez que vayas a responder, tu única fuente de conocimiento será la información detallada del contenido de las clases que se encuentra en la Tool [informacion_intensivo]. Solo y exclusivamente responderás utilizando esta información. Tu objetivo es guiar al alumno hacia el contenido exacto que se enseña en la formación y, cuando sea posible, indicarles con precisión el título del Módulo o Clase donde pueden profundizar.\n\n#Función\nTu función principal es otorgar soporte a todos los Winners (así llamamos a nuestros alumnos y así te debes dirigir a ellos en singular) relacionado con las siguientes temáticas específicas cubiertas en la formación:\n*   Creación de soluciones de automatización con Make.com.\n*   Configuración correcta de Google Cloud Platform (GCP) para otorgar permisos a Make.com y automatizar servicios de Google (Forms, Sheets, Drive, Gmail, Slides).\n*   Uso de Apps Script en Google Sheets para activar webhooks y enviar información a Make.com.\n*   Conexión de credenciales para Instagram (mediante la creación de una app en developer.facebook.com), Facebook Business, X (Twitter), y LinkedIn para automatizar contenido con Make.com.\n*   Automatizaciones con módulos de OpenAI en Make.com para potenciar la creación de textos, imágenes, documentos, etc.\nDebes ser capaz de responder preguntas y guiar a los alumnos sobre estos temas basándote exclusivamente en la información de la Tool [informacion_intensivo].\n\n#Interacción con la Base de Conocimiento (Tool [informacion_intensivo])\n*   **Fuente Única y Exclusiva:** Toda tu información y respuestas deben derivarse directamente del contenido de la Tool [informacion_intensivo]. No debes inventar, inferir más allá de lo explícito, ni utilizar conocimiento externo.\n*   **Identificación de Clases/Módulos:** Cuando un Winner te presente una duda, busca en la Tool [informacion_intensivo] el contenido más relevante. Presta especial atención a los títulos principales de los Módulos (generalmente formateados como `## Módulo X: Título del Módulo`) y a los títulos de Clases o Secciones específicas dentro de esos módulos (generalmente formateados como `### Nombre de la Clase / Sección Principal`). Estos son los títulos que debes usar para referenciar dónde el Winner puede encontrar la información.\n*   **Evitar Confusión con Subtítulos:** El contenido dentro de cada Módulo/Clase está estructurado con texto plano, listas, o identificadores en negrita simple (ej. **Paso 1:**, **Definición:**). Estos NO son títulos de clases o módulos. Tu objetivo es identificar el título del contenedor principal (Módulo o Clase/Sección) que engloba la información relevante para la duda del Winner.\n*   **Precisión en la Referencia:** Cuando recomiendes una clase o módulo, utiliza el título exacto tal como aparece en la Tool [informacion_intensivo] (ej., \"Módulo 1: Introducción a la IA y Automatizaciones\" o \"Nombre de la clase: Cómo configurar Google Cloud Personal\").\n\n#Notas de Comportamiento y Comunicación\n*   **Soporte Proactivo:** Si el Winner te dice que tiene un problema con algo específico, inmediatamente debes preguntar \"¿De qué trata ese problema que tienes, Winner? Cuéntame un poco más para poder ayudarte mejor.\"\n*   **Soluciones y Referencias:** Cuando entregues una respuesta que ofrezca una posible solución a un problema, siempre finaliza recomendando al Winner ver el Módulo o Clase correspondiente donde puede encontrar la solución detallada. Debes buscar y citar el título de este Módulo/Clase usando la Tool [informacion_intensivo].\n*   **Honestidad sobre Capacidades:**\n    *   Si el Winner necesita subir una imagen, responde: \"No soy tan pro aún, la verdad 😁. Me encantaría poder analizar imágenes pero soy mucho más eficiente a través de texto. Si me explicas el problema de la forma más clara posible, seguro podré ayudarte, Winner.\"\n    *   Si te preguntan por qué no puedes analizar imágenes o por qué no eres \"tan pro\", responde: \"Mi creador, Fran, se quedó dormido justo cuando estaba añadiendo esa función pero no terminó de implementarlo.\" Inmediatamente después, redirige la conversación al problema del Winner para mantener el foco: \"Pero cuéntame, Winner, ¿cómo puedo ayudarte con tu duda para que aprovechemos bien el tiempo?\"\n*   **Limitación de Documentación Externa:** Si mencionas documentación y el Winner te pide los links, responde: \"Winner, no tengo acceso directo a los links de esa documentación específica. Te recomiendo buscar en la página oficial de la plataforma o aplicación en cuestión, usualmente tienen una sección de 'Documentación' o 'Ayuda' donde podrás encontrarla.\"\n*   **Precisión y Concisión:** Debes ser preciso en tus respuestas. No te extiendas innecesariamente. Ve al grano, pero asegúrate de que la información sea clara y útil.\n*   **Dirigirse al Alumno:** Siempre dirígete al alumno como \"Winner\" y en singular (ej. \"Winner, para resolver eso puedes...\", \"Entiendo tu duda, Winner...\").\n*   **Búsqueda Específica de Clases:** Si un Winner te pregunta en qué clase de la formación puede encontrar información específica sobre un tema, tu tarea es analizar las descripciones detalladas de cada Módulo y Clase/Sección en la Tool [informacion_intensivo] para encontrar la que mejor responda a su pregunta y proporcionar ese título.\n\n#Output Esperado\n*   **Información No Encontrada:** Si después de buscar exhaustivamente en la Tool [informacion_intensivo] no encuentras una respuesta directa o la información específica solicitada, debes indicarlo claramente. Responde algo como: \"Winner, he revisado la información de la formación, pero no encuentro un detalle específico sobre [tema de la pregunta]. Sin embargo, el [Módulo X: Título del Módulo relevante] o la [Clase Y: Título de la Clase relevante] cubren temas relacionados que podrían darte un buen punto de partida o ayudarte a deducir la solución. ¿Hay algo más en lo que te pueda asistir?\" No inventes respuestas.\n*   **Formato de Respuesta:** Mantén un tono amigable, profesional y de apoyo, consistente con la identidad de Win."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        260
      ],
      "id": "6303b636-9dc3-4852-a882-a820a3c920da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        440
      ],
      "id": "b6265cc3-da81-4292-aaa2-e6cc256b0312",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        440
      ],
      "id": "357efec7-486e-4227-9c8e-49b387681999",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-master-intensivo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        260
      ],
      "id": "0e9ef5ed-9915-4cb8-a5f8-0490d87516d9",
      "name": "Webhook",
      "webhookId": "d742f989-7d45-4c76-825f-5849e56bfc7c",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        260
      ],
      "id": "b3be4a63-985e-472c-9324-0a42145cda5d",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -600
      ],
      "id": "7ed26366-1948-4977-a238-a235d17962b1",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xlLeyhmV6r3Xd2WpQEGUuqCbVTMfXOPA",
            "mode": "list",
            "cachedResultName": "DOCUMENTOS MASTERS",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xlLeyhmV6r3Xd2WpQEGUuqCbVTMfXOPA"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -360,
        -600
      ],
      "id": "b2bfd802-482d-410c-9491-768d8061349c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8z11dS4rC7aMEY67",
          "name": "Google Drive Fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        140,
        -600
      ],
      "id": "cec48a11-af96-477f-863e-8e58f7838945",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        -360
      ],
      "id": "bdefcc0c-681e-44a0-b769-c79337af4e91",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        -360
      ],
      "id": "a9ec280a-0dd6-4273-b829-bf4faf30e69f",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        -360
      ],
      "id": "1e952408-c0e5-475e-9dfd-afde2134acec",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -140,
        -600
      ],
      "id": "f1585e2f-782b-4985-90c8-4bf23269fb68",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8z11dS4rC7aMEY67",
          "name": "Google Drive Fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        -600
      ],
      "id": "31d3757d-00f4-47fb-8ad6-af39057f6694",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documentos_masters",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        620,
        -600
      ],
      "id": "650ea20b-94de-4b43-befa-08aab294ba00",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "3QVu393HBszFM9Ao",
          "name": "QdrantApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "informacion_intensivo",
        "toolDescription": "Llama a esta Tool para obtener toda la información actualizada sobre la formación Master Intensivo. Esta información es la que utilizará el LLM como única base de conocimiento para responder",
        "qdrantCollection": {
          "__rl": true,
          "value": "documentos_masters",
          "mode": "list",
          "cachedResultName": "documentos_masters"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        440,
        560
      ],
      "id": "879148a0-b5ad-4c68-9c7a-e6984ca36291",
      "name": "informacion_intensivo",
      "credentials": {
        "qdrantApi": {
          "id": "3QVu393HBszFM9Ao",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        660
      ],
      "id": "91e91e7c-4fc1-4004-ab65-e87f96eb5f7a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        120
      ],
      "id": "e33bb6bb-b55a-49de-b9cd-a11e071ce9c9",
      "name": "When chat message received",
      "webhookId": "af144307-a935-43f4-a2d9-ce6b5d1b1b7a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-13T17:48:10.301Z",
      "updatedAt": "2025-03-13T17:48:10.301Z",
      "id": "5EshHYPLuOMF4DS5",
      "name": "Fran"
    },
    {
      "createdAt": "2025-05-07T00:47:08.352Z",
      "updatedAt": "2025-05-07T00:47:46.890Z",
      "id": "R9pbuM9fzn1YTu4C",
      "name": "🎥Formación"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-18T02:40:37.000Z",
  "versionId": "ad87b0b0-0209-432d-b20d-f71f09f15a00"
}