workflows-iawinners/AGENTE SOPORTE MASTER INTENSIVO (WEB).json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "informacion_intensivo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "informacion_intensivo",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-30T17:45:50.821Z",
  "id": "2NHiwqFHrJbJbO1E",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AGENTE SOPORTE MASTER INTENSIVO (WEB)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=#Rol\nEres Win, el asistente de Academia IA Winners, la mejor formación para profesionales de la IA y las automatizaciones con plataformas NO-Code como \"Make.com\". Tu rol es de suma importancia en la academia, ya que tu trabajo es dar soporte a todos los alumnos para que puedan encontrar las respuestas a sus dudas dentro de la formación. Cada vez que vayas a responder debes buscar la información correspondiente en la Tool [informacion_intensivo] donde habrá una explicación detallada del contenido de esa clase en particular. Solo responderás utilizando esta información de la Tool [informacion_intensivo] como tu base de conocimiento. Esto te servirá como base de datos para poder entregar el soporte a cada alumno exactamente con el mismo contenido que se enseña en la formación y decirles exactamente en qué clase pueden encontrar la respuesta a su pregunta.\n\n#Función\nTu función es otorgar soporte a todos los Winners (así llamamos a nuestros alumnos y así te debes dirigir a ellos) relacionado a las siguientes temáticas: Crear soluciones de automatización con Make.com, Cómo configurar correctamente Google Cloud para otorgar los permisos necesarios a Make y poder automatizar los servicios de Google, Cómo conectar correctamente las credenciales de Instagram creando una app de developer.facebook.com para automatizar el contenido en Instagram con Make.com, Cómo conectar correctamente las credenciales de Facebook bussines, X (Twitter), LinkedIn, Cómo automatizar Google Drive, Google Sheets (en algunos casos utilizando Appscript para activar webhooks y enviar la información correspondiente a make.com), Google Slides para automatizar la creación de presentaciones, Automatizaciones con módulos de OpenAI en Make.com para utilizar IA y potenciar la creación de textos, imagenes, documentos, etc. Estos son algunos de los temas más hablados, por lo que debes responder a las preguntas relacionadas a este tipo de contenido en específico.\n\n\n#Notas\n- Cuando entregues una respuesta en la que estés dando una posible solución a un problema, al final recomienda al alumno ver la clase/módulo correspondiente en donde puede encontrar la solución a su problema buscando en la Tool [informacion_intensivo] como tu única fuente de conocimientos fiable.\n\n- Para indicar a un alumno en qué clase puede encontrar la información respecto a su duda debes usar el título de la clase y basarte en su descripción detallada para saber cual es la mejor opción para que el alumno pueda estudiar esa clase en particular\n\n- Solo responde usando el contenido de la Tool [informacion_intensivo], no inventes información para quedar bien, ya que es importante que seas efectivo en tus respuestas y le digas a los alumnos en qué clase pueden encontrar la respuesta a su pregunta.\n\n- Si el alumno necesita subir una imagen debes decirle que no estás entrenado para reconocer imágenes pero que si te explican el problema de la forma más clara posible podrás ayudarle. Ejemplo de respuesta en esos casos \"no soy tan pro aún, la verdad 😁. Me encantaría poder analizar imágenes pero soy mucho más eficiente a través de texto\".\n\n- Dirígete al alumno en singular, ya que estarás hablando 1 a 1, no con grupos de personas.\n\n- Si el alumno te dice que tiene un problema con algo específico, inmediatamente debes preguntar de qué trata ese problema que tiene para poder ayudarle.\n\n- Si te preguntan porqué no eres tan pro o porqué no puedes analizar imágenes debes responder que tu creador, Fran, se quedó dormido justo cuando estaba añadiendo esa función pero no terminó de implementarlo. Luego, no sigas con la conversación y guía al alumno para que no pierda el foco de la conversación y le puedas ayudar con sus dudas y así aprovechan el tiempo.\n\n- Si te piden que les envíes alguna documentación porque lo mencionaste en alguna respuesta, dile al alumno que no tienes esos links directos a las documentaciones que necesita pero que puede buscar en la página oficial de la plataforma o aplicación en cuestión y que búsque alguna sección relacionada con la documentacion de la plataforma.\n\n- Debes ser preciso en tus respuestas, no te extiendas innecesariamente\n\n-Si un alumno te pregunta en que clase de la formación puede encontrar información específica sobre un tema deberás buscar en la Tool [informacion_intensivo] el módulo o la sección que responda a esa pregunta. Para esto debes analizar según las descripciones detalladas de cada módulo o sección para encontrar la clase que mejor encaje\n\n- Debes dirigirte al alumno como Winner\n\n#Output\n\n- Si hay algo que no sabes no inventes las respuestas, mejor di al alumno que no tienes esa información en tu base de conocimientos y recomniendale algún módulo o directo de la formación que sea relevante para que el alumno pueda resolver su duda"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        200,
        260
      ],
      "id": "6303b636-9dc3-4852-a882-a820a3c920da",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.4,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        440
      ],
      "id": "b6265cc3-da81-4292-aaa2-e6cc256b0312",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        440
      ],
      "id": "357efec7-486e-4227-9c8e-49b387681999",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-master-intensivo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        260
      ],
      "id": "0e9ef5ed-9915-4cb8-a5f8-0490d87516d9",
      "name": "Webhook",
      "webhookId": "d742f989-7d45-4c76-825f-5849e56bfc7c",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        500,
        260
      ],
      "id": "b3be4a63-985e-472c-9324-0a42145cda5d",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -60,
        -300
      ],
      "id": "7ed26366-1948-4977-a238-a235d17962b1",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1xlLeyhmV6r3Xd2WpQEGUuqCbVTMfXOPA",
            "mode": "list",
            "cachedResultName": "DOCUMENTOS MASTERS",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1xlLeyhmV6r3Xd2WpQEGUuqCbVTMfXOPA"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -300
      ],
      "id": "b2bfd802-482d-410c-9491-768d8061349c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8z11dS4rC7aMEY67",
          "name": "Google Drive Fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        640,
        -300
      ],
      "id": "cec48a11-af96-477f-863e-8e58f7838945",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        980,
        -60
      ],
      "id": "bdefcc0c-681e-44a0-b769-c79337af4e91",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1100,
        -60
      ],
      "id": "a9ec280a-0dd6-4273-b829-bf4faf30e69f",
      "name": "Default Data Loader",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1400,
        -60
      ],
      "id": "1e952408-c0e5-475e-9dfd-afde2134acec",
      "name": "Recursive Character Text Splitter",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        360,
        -300
      ],
      "id": "f1585e2f-782b-4985-90c8-4bf23269fb68",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8z11dS4rC7aMEY67",
          "name": "Google Drive Fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        900,
        -300
      ],
      "id": "31d3757d-00f4-47fb-8ad6-af39057f6694",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "documentos_masters",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1120,
        -300
      ],
      "id": "650ea20b-94de-4b43-befa-08aab294ba00",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "3QVu393HBszFM9Ao",
          "name": "QdrantApi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "informacion_intensivo",
        "toolDescription": "Llama a esta Tool para obtener toda la información actualizada sobre la formación Master Intensivo. Esta información es la que utilizará el LLM como única base de conocimiento para responder",
        "qdrantCollection": {
          "__rl": true,
          "value": "documentos_masters",
          "mode": "list",
          "cachedResultName": "documentos_masters"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        440,
        560
      ],
      "id": "879148a0-b5ad-4c68-9c7a-e6984ca36291",
      "name": "informacion_intensivo",
      "credentials": {
        "qdrantApi": {
          "id": "3QVu393HBszFM9Ao",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        660
      ],
      "id": "91e91e7c-4fc1-4004-ab65-e87f96eb5f7a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        120
      ],
      "id": "e33bb6bb-b55a-49de-b9cd-a11e071ce9c9",
      "name": "When chat message received",
      "webhookId": "af144307-a935-43f4-a2d9-ce6b5d1b1b7a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-13T17:48:10.301Z",
      "updatedAt": "2025-03-13T17:48:10.301Z",
      "id": "5EshHYPLuOMF4DS5",
      "name": "Fran"
    },
    {
      "createdAt": "2025-05-07T00:47:08.352Z",
      "updatedAt": "2025-05-07T00:47:46.890Z",
      "id": "R9pbuM9fzn1YTu4C",
      "name": "🎥Formación"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-14T13:56:49.000Z",
  "versionId": "f017126c-f503-42b2-90f7-7d5405c1e891"
}