workflows-iawinners/BACKUP WORKFLOWS (No Tocar🔴).json
{
  "active": true,
  "connections": {
    "GitHub": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-10T13:57:57.697Z",
  "id": "fIY7j02iPDwkR4S3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BACKUP WORKFLOWS (No Tocar🔴)",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "b66d8987-2f53-40a7-a374-5f01727fe4d5",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        20,
        200
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "LgSokJ7XlV1xieIq",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "1c911944-1044-4eee-8179-e79b9a26e688",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        540,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2775b5ed-3dc2-43dc-8303-ba4ce42440c1",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        820,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d96f8b32-a813-4f04-a772-1458faf65604",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        820,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7486f874-f400-481e-b568-ca6660f4a547",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        820,
        520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "12c100fa-adfc-4a04-b3b9-447a48719baf",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        1000,
        300
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "LgSokJ7XlV1xieIq",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "mode": "name"
        },
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "7cf960f6-d67b-498b-b712-1254a0af8cce",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        1000,
        520
      ],
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "LgSokJ7XlV1xieIq",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 48
            }
          ]
        }
      },
      "id": "ba17947f-1796-422a-815d-2ff3c6bc583a",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -860,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "9629a496-6153-4c72-b43b-f1f59bad499d",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -440,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "kgluG8c01hYnW8Ba",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "232af128-b482-4ba5-849c-8523eddc11d9",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        380,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d6813ce8-d5fd-4379-9965-e9d4cf16db09",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        240,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "rzfran"
            },
            {
              "name": "repo.name",
              "value": "BACKUP-N8N-WORKFLOWS-IAWINNERS"
            },
            {
              "name": "repo.path",
              "value": "workflows-iawinners/"
            }
          ]
        },
        "options": {}
      },
      "id": "b397ed2c-bac6-4950-b7a9-5d53e219aa97",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -640,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "15ea106c-bd8f-4e22-a231-7ac102a55601",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ee744c3-7b71-4f02-991c-ca0265e0ed34",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -220,
        320
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-03-10T14:10:56.000Z",
  "versionId": "00baf52e-28b6-4c38-89f9-fb5a9aa11cbc"
}