workflows-iawinners/EJEMPLO AGENTE CHATWOOT PRUEBAS.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crea Contacto ChatWoot": {
      "main": [
        [
          {
            "node": "Crear Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Conversación": {
      "main": [
        [
          {
            "node": "Enviar Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CONTACT": {
      "main": [
        [
          {
            "node": "Si Contacto Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Si Contacto Existe": {
      "main": [
        [
          {
            "node": "Coger Id conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crea Contacto ChatWoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coger Id conversations": {
      "main": [
        [
          {
            "node": "Activar bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activar bot": {
      "main": [
        [
          {
            "node": "Enviar Template1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GET CONTACT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Template": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Format Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Format Chain": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis7": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Redis9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis9": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Format Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar conversacion terminada": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Identificar conversacion terminada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Apagar Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-16T19:23:56.379Z",
  "id": "20eyNpaqfM2md3M2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EJEMPLO AGENTE CHATWOOT PRUEBAS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4980,
        -2040
      ],
      "id": "a6406792-2a9d-4b30-8095-10e3c74b3f57",
      "name": "Webhook",
      "webhookId": "8d422738-ad3f-408a-b53c-9904a183ad6c",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wv-QYEOH9bphU9V265NJxgR2oXUCGH_KWNtRr-AdFn8",
          "mode": "list",
          "cachedResultName": "Envío plantillas Inmobiliaria",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wv-QYEOH9bphU9V265NJxgR2oXUCGH_KWNtRr-AdFn8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wv-QYEOH9bphU9V265NJxgR2oXUCGH_KWNtRr-AdFn8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2380,
        -200
      ],
      "id": "b2125a3f-51f2-43ba-bdc2-7a2acb86bae5",
      "name": "Google Sheets",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('Google Sheets').item.json.nombre }}\",\n  \"phone_number\": \"+{{ $('Google Sheets').item.json.numero }}\",\n  \"identifier\": \"{{ $('Google Sheets').item.json.numero }}\",\n  \"inbox_id\": 2,\n  \"source_id\": \"{{ $('Google Sheets').item.json.numero }}\",\n \"custom_attributes\": {\n    \"bot\": \"on\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3400,
        -20
      ],
      "id": "63a28c07-b51e-42e4-ba8c-6ceb6ab05f47",
      "name": "Crea Contacto ChatWoot",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{ $('Google Sheets').item.json.numero }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -20
      ],
      "id": "18dec06a-b9c2-4395-a5f9-c57feff2dad5",
      "name": "Crear Conversación",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Hola {1}, te escribo de Inmobiliaria Manzano, estamos buscando propiedades a reformar en Barcelona. ¿Tienes alguna oportunidad? 🏡\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"template_params\": {\n    \"name\": \"inmobiliaria2\",\n    \"category\": \"marketing\",\n    \"language\": \"es_ES\",\n    \"processed_params\": {\n      \"1\": \"{{ $('Google Sheets').item.json.nombre }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3900,
        -20
      ],
      "id": "ccb47e3b-1ea4-4c08-a3c6-c7bbaa98b41b",
      "name": "Enviar Template",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/contacts/search?q=%2B{{ $('Google Sheets').item.json.numero }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        -200
      ],
      "id": "4457cee8-0d56-4a33-8bc7-cfd8bf3c82bf",
      "name": "GET CONTACT",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c072ad80-1948-4c04-afaa-827d250d0412",
              "leftValue": "={{ $json.payload[0].name }}",
              "rightValue": "={{ $('Google Sheets').item.json.nombre }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3060,
        -200
      ],
      "id": "534baaec-c0a9-41ff-9bf6-1644cf2a0787",
      "name": "Si Contacto Existe",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Coger Id conversations').item.json.data.payload[0].id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"Hola {1}, te escribo de Inmobiliaria Manzano, estamos buscando propiedades a reformar en Barcelona. ¿Tienes alguna oportunidad? 🏡\",\n  \"message_type\": \"outgoing\",\n  \"private\": false,\n  \"template_params\": {\n    \"name\": \"inmobiliaria2\",\n    \"category\": \"marketing\",\n    \"language\": \"es_ES\",\n    \"processed_params\": {\n      \"1\": \"{{ $('Google Sheets').item.json.nombre }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3900,
        -520
      ],
      "id": "33f3b611-ad71-4487-bb08-ad3cd8af2178",
      "name": "Enviar Template1",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source_id\": \"{{ $('Google Sheets').item.json.numero }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3380,
        -520
      ],
      "id": "dcd74193-2670-4071-b1da-7efba1f15a36",
      "name": "Coger Id conversations",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/contacts/{{ $json.data.payload[0].meta.sender.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"custom_attributes\": {\n    \"bot\": \"on\"\n  }\n}\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -520
      ],
      "id": "fc07ddfa-2d10-4014-9130-c86c133324cd",
      "name": "Activar bot",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2600,
        -200
      ],
      "id": "133f71ac-8675-4b5b-826d-063c39c6ccea",
      "name": "Loop Over Items",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -220,
        -1340
      ],
      "id": "3cb47b79-aaa3-4af1-95e2-3446e1220da2",
      "name": "Auto-fixing Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"part_1\": \"Responde con la primera parte de la respuesta.\",\n    \"part_2\": \"Responde con la segunda parte de la respuesta.\",\n    \"part_3\": \"Responde con la tercera parte de la respuesta (opcional).\",\n    \"part_4\": \"Responde con la cuarta parte de la respuesta (opcional).\",\n    \"part_5\": \"Responde con la quinta parte de la respuesta (opcional).\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -60,
        -1220
      ],
      "id": "1bee0cd3-f0a5-46ff-9008-ecf836bd4ec4",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Respuesta a formatear:\n{{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Tarea  \nTu función principal consiste en crear un JSON que contenga las diferentes partes importantes  del mensaje que vayas a recibir   \nNotas :  \n. debes seguir la siguiente estructura de JSON:  \n{\n  \"response\": {\n    \"part_1\": \"Responde con la primera parte de la respuesta.\",\n    \"part_2\": \"Responde con la segunda parte de la respuesta.\",\n    \"part_3\": \"Responde con la tercera parte de la respuesta (opcional).\",\n    \"part_4\": \"Responde con la cuarta parte de la respuesta (opcional).\",\n    \"part_5\": \"Responde con la quinta parte de la respuesta (opcional).\"\n  }\n}\n .  debes dividir los mensajes de una manera que suene bien,  me explico debes analizar que tan largo es el mensaje que recibes y en base en eso dividir el mensaje en las partes que sean necesarias, por ejemplo si el mensaje es breve divídelo en 1 o 2 partes y si el mensaje es extenso divídelo en 3 o 4 partes   \n. las partes que dividas deben tener sentido, no dividas las partes por hacerlo, piensa 2 veces antes de hacerlo\n. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -280,
        -1500
      ],
      "id": "55b033b5-2d88-41af-8c67-58bc7b6919c1",
      "name": "Format Chain",
      "retryOnFail": true,
      "maxTries": 5,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d46d583-b82d-4d85-a0b8-2c30006082a0",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        -1640
      ],
      "id": "d53c8c4e-f2c2-4073-a48c-587174b9cf09",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        620,
        -1740
      ],
      "id": "73df2eb5-0d3f-4307-9259-df8991809b31",
      "name": "Wait",
      "webhookId": "a87f8c54-00cf-456e-99fd-dfa7116e48e2",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c7eb0e9-13ee-40d6-9738-057a02ac1306",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        980,
        -1620
      ],
      "id": "5e5f18ad-df81-45f6-87d9-07d3aae7bdc5",
      "name": "If1",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1160,
        -1740
      ],
      "id": "b9d9b160-257a-4e26-ac6b-bb7d282dbb54",
      "name": "Wait1",
      "webhookId": "09b958ad-8fa5-4fdf-9247-9d90fba41415",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bc21c7-e460-458f-b0cb-d9e37e9bde8a",
              "leftValue": "={{ $('Format Chain').item.json.output.response.part_4 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        -1600
      ],
      "id": "e720b980-c928-4cc0-a35e-94d6fe5f26d2",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1720,
        -1740
      ],
      "id": "c861dbfb-25b0-47f2-abd1-bed1079a3c0d",
      "name": "Wait2",
      "webhookId": "e1418732-af66-4f40-ae81-976575c83712",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c7eb0e9-13ee-40d6-9738-057a02ac1306",
              "leftValue": "= {{ $('Format Chain').item.json.output.response.part_5 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        -1580
      ],
      "id": "68c54ea4-8a98-43d0-ae5c-9048139020e0",
      "name": "If3",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2460,
        -1580
      ],
      "id": "bb8ee2a5-30b9-418c-8086-35a9585d660c",
      "name": "Wait3",
      "webhookId": "a7002056-0888-4b79-a9e5-efebc6ad35c1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Llega el mensaje de WhatsApp a Chatwoot y lo interceptamos por Webhook",
        "height": 340,
        "width": 1000,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5160,
        -1620
      ],
      "typeVersion": 1,
      "id": "18ad9ac7-f60a-4a86-ad1c-7e5f745e916a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields4').item.json.telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2020,
        -1500
      ],
      "id": "fbaf887c-5cce-4913-bbfd-d31de54fc523",
      "name": "Redis6",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields4').item.json.telefono }}",
        "messageData": "={{ $json.mensaje }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2420,
        -1500
      ],
      "id": "75c36ee6-1af0-46ae-8f51-44e89a89a560",
      "name": "Redis7",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2220,
        -1500
      ],
      "id": "948273d9-6221-4a44-9f1f-72d1ef93bc2d",
      "name": "Wait6",
      "webhookId": "a8d5702b-2fe2-4f23-bad7-8bf42fe80ee8",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a313a41-eadc-4ada-bc2a-feff79845de9",
              "leftValue": "={{ $json.message[0] }}",
              "rightValue": "={{ $('Edit Fields').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1820,
        -1500
      ],
      "id": "dfa4e4ad-192d-41e3-bfe9-a3264b78ac5a",
      "name": "If6",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5f82380-4858-4361-908e-98e45c98f092",
              "name": "response",
              "value": "={{ $('Redis6').item.json.message }}",
              "type": "string"
            },
            {
              "id": "b3db797c-6f2b-4232-8e0c-021bc8e299ca",
              "name": "phone",
              "value": "={{ $('Edit Fields4').item.json.telefono }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1560,
        -1500
      ],
      "id": "cc374144-eac6-45a0-9dc5-b72de31316e7",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields4').item.json.telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1320,
        -1500
      ],
      "id": "72075bb4-0464-4f37-9f06-c7ca8adc1042",
      "name": "Redis9",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3340,
        -1500
      ],
      "id": "2e79d151-d634-4cbd-9c5f-fdbc80331335",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook1').item.json.body.attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3c7dc40-708e-4541-88d8-04e128f7a490",
                    "leftValue": "={{ $('Webhook1').item.json.body.content_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f97f8b7d-9218-4ee9-b938-72a34a7544e7",
                    "leftValue": "={{ $('Webhook1').item.json.body.attachments[0].file_type }}",
                    "rightValue": "=imágenes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imágenes"
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3680,
        -1500
      ],
      "id": "7469e34d-7bcb-44fc-809e-977768041c3b",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook1').item.json.body.attachments[0].data_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3340,
        -1680
      ],
      "id": "2d1b71a3-55da-46aa-8ad6-2084f421fb18",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -3160,
        -1680
      ],
      "id": "63968697-3fa3-424a-b603-450ea164d9ce",
      "name": "OpenAI",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d861e70d-6e86-4d61-b10b-80d485805a7b",
              "name": "response",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        -1680
      ],
      "id": "3549b127-b035-48d5-b621-8ae06ec2b29d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -940,
        -1300
      ],
      "id": "d88c6172-ad4e-4d5e-a128-7c7ac36f17c6",
      "name": "OpenAI Chat Model",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "73541b8d-e557-47ce-9e87-8a70d4665cb4",
              "leftValue": "={{ $json.body.conversation.messages[0].content }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "412a05bb-42e8-4f96-a688-15811fc2d463",
              "leftValue": "={{ $('Webhook1').item.json.body.attachments[0].data_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4600,
        -1500
      ],
      "id": "3545900a-4177-482b-af4b-938f93dbc9f7",
      "name": "If4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "289b00ac-d1d9-458c-8e0e-9f44327f2708",
              "name": "telefono",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "6aef9fa6-2963-421a-9cde-3078c5c7a69b",
              "name": "mensaje",
              "value": "={{ $('Webhook1').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        -1500
      ],
      "id": "a24bb125-861f-4ddd-aacf-4a645b1015f8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        -1340
      ],
      "id": "ed9be31d-4d05-4bcc-b105-c701cf3bbeae",
      "name": "OpenAI Chat Model1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        -1220
      ],
      "id": "ca0f786f-080f-4e33-a444-1924795f2e1c",
      "name": "OpenAI Chat Model2",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.phone }}",
        "tableName": "=n8n_message",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -800,
        -1300
      ],
      "id": "1bddf79c-cf6a-41da-856c-f0c79ac0ca3a",
      "name": "Postgres Chat Memory",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Enviamos varios mensajes de un respuesta",
        "height": 800,
        "width": 3300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        -1820
      ],
      "typeVersion": 1,
      "id": "5691ff54-f64a-42b6-8bb7-2086bb62e311",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Recopilamos mensajes en (x) intervalo de tiempo",
        "height": 700,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        -1700
      ],
      "typeVersion": 1,
      "id": "58d07712-148b-402c-99a8-1e30c73babea",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ¿Audio o texto?",
        "height": 480,
        "width": 1260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3780,
        -1760
      ],
      "typeVersion": 1,
      "id": "11ec9dd9-1aa0-462a-bef2-c5f5230381a8",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=pregunta: {{ $('Edit Fields2').item.json.response }}\ndia actual: {{ $json.fecha }}",
        "options": {
          "systemMessage": "=📍 INICIO DE CONVERSACIÓN\nMensaje de apertura general (para ambos escenarios):\n\nHola, soy el Agente IA de Inmobiliaria Manzano. ¿Estás gestionando actualmente alguna propiedad para vender?\n\nIMPORTANTE: Este inicio de conversación no debes hacerlo tu, la conversación ya está iniciada y no debes ni siquiera saludar a la persona que te escribe, simplemente seguir a los siguientes escenarios.\n\n\n🔸 Si responde que NO tiene inmuebles en venta:\nEntendido, gracias por tu tiempo. Si en el futuro gestionas alguna propiedad, no dudes en avisarme. ¡Que tengas buen día!\n\n🔸 Si responde que SÍ tiene un inmueble:\nPerfecto, para valorar adecuadamente la propiedad, necesito hacerte unas preguntas breves:\n\n✅ Ubicación y tipo\n¿Dónde está ubicada la propiedad? (Dirección o zona)\n¿Qué tipo de inmueble es? (Piso, casa, chalet, terreno, local…)\n\n✅ Situación del propietario\n¿Cuál es la situación del propietario? ¿Necesita vender o está explorando opciones?\n¿Es una herencia? (En caso afirmativo, ¿ya se ha realizado la aceptación de herencia?)\n\n✅ Solo si es una vivienda tipo piso (propiedad horizontal)\n¿Cuántos metros tiene según escritura?\n¿Cuántas viviendas hay en la finca o bloque?\n\n✅ Ofertas y precio\n¿Habéis recibido ofertas? ¿En qué rango de precio?\n¿Cuál sería el precio mínimo que aceptaríais como señal?\n\n✅ Estado general\n¿Cuál es el estado de los suministros? ¿Gas natural o instalación eléctrica?\n¿Hay alguna reforma pendiente, humedades u otros aspectos importantes a tener en cuenta?\n¿Tiene deudas asociadas? (IBI, comunidad, suministros…)\n\n\n✅ MENSAJE FINAL\nGracias por compartir todos estos detalles. Nuestro equipo va a revisar la información y nos pondremos en contacto contigo con una propuesta. ¡Seguimos en contacto!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -920,
        -1500
      ],
      "id": "bda5b4e9-e4b5-4241-b197-313ebeebb38a",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "message",
          "mode": "list",
          "cachedResultName": "message"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Edit Fields4').item.json.telefono }}",
            "role": "user",
            "message": "={{ $('Edit Fields4').item.json.mensaje }}",
            "created_at": "={{ $now.toISO() }}",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1560,
        -1240
      ],
      "id": "b76fdc01-054f-47b8-b7af-21ed3c50f13b",
      "name": "Postgres3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## 🧙‍♂️ El agente IA hace su magia",
        "height": 500,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1080,
        -1620
      ],
      "typeVersion": 1,
      "id": "2bbfc9cd-2ffc-46df-966f-4f90cf572046",
      "name": "Sticky Note4",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1320,
        -1240
      ],
      "id": "6a99f355-2232-444d-952f-bb453478422d",
      "name": "No Operation, do nothing1",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5f16570a-f7f9-4177-bda5-ad1d0786ac93",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5060,
        -1500
      ],
      "id": "33f1edc0-1c8b-432c-9d23-0db2a8fd83fa",
      "name": "Webhook1",
      "webhookId": "5f16570a-f7f9-4177-bda5-ad1d0786ac93"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ JSON.stringify($('Format Chain').item.json.output.response.part_1).slice(1, -1) }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -1640
      ],
      "id": "3ba665c6-e379-40d8-a198-f24a6d7910ff",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}\n/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"{{ $json.output }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -1420
      ],
      "id": "8aaf10dc-31e6-45e4-a89b-185a83c93375",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ JSON.stringify($('Format Chain').item.json.output.response.part_2).slice(1, -1) }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -1740
      ],
      "id": "d26c8fbe-1c1f-4fbe-8660-d13588be4193",
      "name": "HTTP Request4",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ JSON.stringify($('Format Chain').item.json.output.response.part_4).slice(1, -1) }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1900,
        -1740
      ],
      "id": "eb90a5a8-6419-49fd-8dea-e071425435e6",
      "name": "HTTP Request5",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ JSON.stringify($('Format Chain').item.json.output.response.part_3).slice(1, -1) }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -1740
      ],
      "id": "c4579403-461f-4a8d-88d4-e7a52d802771",
      "name": "HTTP Request6",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/conversations/{{ $('Webhook1').item.json.body.conversation.messages[0].conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ JSON.stringify($('Format Chain').item.json.output.response.part_5).slice(1, -1) }}\",\n  \"message_type\": \"outgoing\",\n  \"private\": \"false\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        -1580
      ],
      "id": "1b9a7928-376b-4788-8402-ce5cf4855634",
      "name": "HTTP Request7",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fe51594-8d61-45b4-a123-ed0c66d6f5c5",
              "name": "mensaje",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        -1500
      ],
      "id": "6f6a53af-06de-4726-a8dd-a20a2b5b9010",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7fe51594-8d61-45b4-a123-ed0c66d6f5c5",
              "name": "response",
              "value": "={{ $('Edit Fields4').item.json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2980,
        -1500
      ],
      "id": "0adeda19-01fa-434c-b33b-cbedfe37a3c8",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "531b8118-2092-4c8a-a013-d840b9da1d6b",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "=incoming",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4860,
        -1500
      ],
      "id": "9cbf5786-83c3-452b-bf7b-a602f07f78aa",
      "name": "If7"
    },
    {
      "parameters": {
        "content": "## Bot: ¿On/Off?\n",
        "height": 360,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4120,
        -1640
      ],
      "typeVersion": 1,
      "id": "80767725-ed23-4386-910e-a8166d3f9f8a",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=A continuación te vamos a mostrar el último mensaje de una conversación donde un usuario está interactuando con un asistente sobre propiedades inmobiliarias (no tendrás la conversación completa).\n\nDebes identificar si el mensaje indica que el cliente quiere hablar con Javi Manzano, ya sea pidiéndolo de forma directa (por ejemplo: \"quiero hablar con Javi Manzano\") o indirecta (por ejemplo: \"quiero hablar con Javi\", \"quiero que me contacte Javi\", \"prefiero tratar esto con una persona\").\n\nSi el mensaje indica que el cliente quiere hablar con un agente, debes responder: \"true\"\nEjemplo: true\n\nSi el mensaje no indica que el cliente quiere hablar con un agente, debes responder: \"false\"\nEjemplo: false",
              "role": "system"
            },
            {
              "content": "=Este es el mensaje:\n{{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2960,
        -1580
      ],
      "id": "e49f25ab-1b20-4ece-8f72-1edc9f6c9514",
      "name": "Identificar conversacion terminada",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## ¿Avisos por algún evento?",
        "height": 400,
        "width": 1140
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2880,
        -1740
      ],
      "typeVersion": 1,
      "id": "7aff7e04-da28-421e-ab17-7407507c5d26",
      "name": "Sticky Note9",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c963008-c7ec-46bd-912e-d83f151f1469",
              "leftValue": "={{ $json.message.content }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3320,
        -1580
      ],
      "id": "504a2a36-c2c5-4e6d-921c-8f38a8cc55d3",
      "name": "If10",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://chatwoot-production-ab57.up.railway.app/api/v1/accounts/1/contacts/{{ $('Webhook1').item.json.body.conversation.contact_inbox.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "(tu api key)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"custom_attributes\": {\n    \"bot\": \"off\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        -1600
      ],
      "id": "ae04e3e4-d8b3-4c81-9066-0a676a8f69e2",
      "name": "Apagar Bot",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "531b8118-2092-4c8a-a013-d840b9da1d6b",
              "leftValue": "={{ $('If7').item.json.body.conversation.messages[0].sender.custom_attributes.bot }}",
              "rightValue": "off",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4040,
        -1500
      ],
      "id": "dbe8cd5d-11a8-469b-b948-4036504e30d4",
      "name": "If12"
    },
    {
      "parameters": {
        "sendTo": "=javimanzano180@gmail.com",
        "subject": "=¡{{ $('WhatsApp Trigger1').item.json.contacts[0].profile.name }} necesita tu ayuda!",
        "message": "=ALERTA DE INTERVENCIÓN 🔔<br><br>\nTienes que intervenir en la conversación del cliente: {{ $('WhatsApp Trigger1').item.json.contacts[0].profile.name }}<br>\ny su número de teléfono es {{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}<br><br>\n\n¡El cliente quiere hablar con Javi Manzano! 🏠\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3560,
        -1600
      ],
      "id": "1f683dce-56d4-4a2c-86bf-52c3f219c32f",
      "name": "Gmail1",
      "webhookId": "812600ae-1df3-4266-92a0-046d4aae3824",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-17T04:29:34.075Z",
      "updatedAt": "2025-04-17T04:29:34.075Z",
      "id": "CesMK11X6lnRiXUk",
      "name": "🟡Pruebas"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-04-17T13:51:38.000Z",
  "versionId": "40c2e99f-c574-4c8d-b05f-d8eb0cddd87a"
}