workflows-iawinners/Formulario Consultas ACADEMIA.json
{
  "active": true,
  "connections": {
    "Formulario": {
      "main": [
        [
          {
            "node": "Area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make_Intensivo": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Area": {
      "main": [
        [
          {
            "node": "Make_Intensivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "n8n_Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GHL_Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MarcaPersonal_Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AgentesVoz_Expert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GPTs_Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL_Expert": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "n8n_Expert": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "MarcaPersonal_Expert": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AgentesVoz_Expert": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "GPTs_Expert": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Correo_Make",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Correo_n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Correo_GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Correo_MarcaPersonal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Correo_AgentesVoz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Correo_GPTs y Prompting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T05:49:11.037Z",
  "id": "lzGMpvbu1kzJ7pnD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Formulario Consultas ACADEMIA",
  "nodes": [
    {
      "parameters": {
        "events": [
          "responseFinished"
        ],
        "surveyIds": [
          "cm7y4prll000gw194pey85ps6"
        ]
      },
      "type": "@formbricks/n8n-nodes-formbricks.formbricks",
      "typeVersion": 1,
      "position": [
        -260,
        140
      ],
      "id": "f3b70308-d210-4bde-b3ad-78c125845c7e",
      "name": "Formulario",
      "webhookId": "752db204-0f89-434b-8e65-7965f7175d22",
      "credentials": {
        "formbricksApi": {
          "id": "ToOWOULfqNFrjcrw",
          "name": "Formbricks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2132471341,
          "mode": "list",
          "cachedResultName": "Make y Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2132471341"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "Día de Clase": "Miércoles",
            "Contestada": "No",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        -400
      ],
      "id": "4400603d-cf62-4fad-94f8-9c60ac825f02",
      "name": "Make_Intensivo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Tu respuesta no ha podido ser enviada por un error interno. Ponte en contacto con el equipo de IA Winners a través del grupo de WhatsApp de la formación."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        300,
        800
      ],
      "id": "b601f6d1-57f5-49b7-b667-bdda309f3371",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Make y Automatizaciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf5f0dc3-d555-45e2-81c6-d319f8551af6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Make"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6789b53b-9196-4242-a5a3-381b02b3c628",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "N8N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N8N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c25ed48-fbf3-497a-978e-41b5961bfdbf",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GoHighLevel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoHighLevel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f70fd712-84e2-43b2-b52c-91e820542ded",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Marca Personal, RRSS, Ventas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marca Personal, RRSS, Ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a52cf63f-a807-4e69-bfdc-eecbc2085f40",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Agentes de Voz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agentes de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "799abccc-0609-42a2-a30f-0f3fb822478c",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GPTs y Prompt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GPTs y Prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -40,
        80
      ],
      "id": "d110c4c6-a198-4bf9-97d9-49f3e9d59b12",
      "name": "Area"
    },
    {
      "parameters": {
        "sendTo": "=franciscorozasmira@gmail.com",
        "subject": "NUEVA PREGUNTA DE MAKE",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nueva Pregunta de Make - Ticket {{ $json.ticket }}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">\n        \n        <p style=\"margin-bottom: 1em;\">Hola</p>\n\n        <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>\n\n        <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>\n        \n        <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>\n        </blockquote>\n\n        <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>\n\n        <div style=\"line-height: 1.4;\">\n            <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>\n            <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=2132471341#gid=2132471341\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "ccList": "academia@iawinners.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -400
      ],
      "id": "2075d7f5-c500-4652-8df9-196efaacfaeb",
      "name": "Correo_Make",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "franciscorozasmira@gmail.com",
        "subject": "NUEVA PREGUNTA DE N8N",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nueva Pregunta de N8N - Ticket {{ $json.ticket }}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">\n        \n        <p style=\"margin-bottom: 1em;\">Hola</p>\n\n        <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>\n\n        <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>\n        \n        <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>\n        </blockquote>\n\n        <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>\n\n        <div style=\"line-height: 1.4;\">\n            <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>\n            <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=2132471341#gid=2132471341\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "replyTo": "academia@iawinners.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -200
      ],
      "id": "1551f282-d8b6-4e01-85e1-0c21c19cb183",
      "name": "Correo_n8n",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "academia@iawinners.com",
        "subject": "NUEVA PREGUNTA DE GHL",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nueva Pregunta de GHL - Ticket {{ $json.ticket }}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">\n        \n        <p style=\"margin-bottom: 1em;\">Hola</p>\n\n        <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>\n\n        <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>\n        \n        <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>\n        </blockquote>\n\n        <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>\n\n        <div style=\"line-height: 1.4;\">\n            <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>\n            <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=2132471341#gid=2132471341\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        0
      ],
      "id": "b97d5dc3-f067-4314-96b9-c82c62d4d6b4",
      "name": "Correo_GHL",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=adridigitalwinner@gmail.com",
        "subject": "NUEVA PREGUNTA DE MARCA PERSONAL",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nueva Pregunta de Marca Personal y RRSS - Ticket {{ $json.ticket }}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">\n        \n        <p style=\"margin-bottom: 1em;\">Hola</p>\n\n        <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>\n\n        <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>\n        \n        <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>\n        </blockquote>\n\n        <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>\n\n        <div style=\"line-height: 1.4;\">\n            <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>\n            <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=1579050785#gid=1579050785\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "ccList": "academia@iawinners.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        200
      ],
      "id": "ab517d3f-7c6e-4347-ab03-88bbd2371eda",
      "name": "Correo_MarcaPersonal",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=franciscorozasmira@gmail.com",
        "subject": "NUEVA PREGUNTA DE GPTs Y PROMPTING",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Nueva Pregunta de GPTs y Prompting - Ticket {{ $json.ticket }}</title>\n</head>\n<body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">\n    <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">\n        \n        <p style=\"margin-bottom: 1em;\">Hola</p>\n\n        <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>\n\n        <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>\n        \n        <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>\n            <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p>\n<p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>\n        </blockquote>\n\n        <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>\n\n        <div style=\"line-height: 1.4;\">\n            <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>\n            <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=2132471341#gid=2132471341\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>\n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "ccList": "academia@iawinners.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        600
      ],
      "id": "2f6b821a-75ba-471e-be9d-dedf76d59b5d",
      "name": "Correo_GPTs y Prompting",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1139528183,
          "mode": "list",
          "cachedResultName": "GoHighLevel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=1139528183"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}",
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        0
      ],
      "id": "5c115d0d-8c0a-4d34-843c-d5d647dd712e",
      "name": "GHL_Expert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}",
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        -200
      ],
      "id": "912e92a3-43de-4b51-878c-3b7df16adc55",
      "name": "n8n_Expert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1579050785,
          "mode": "list",
          "cachedResultName": "Marca Personal, RRSS y Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=1579050785"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}",
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Día de Clase": "Martes",
            "Contestada": "No",
            "Área": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        200
      ],
      "id": "164f09ab-3e2c-4f77-b93e-b8f6bd614c52",
      "name": "MarcaPersonal_Expert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2017748370,
          "mode": "list",
          "cachedResultName": "Agentes de Voz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2017748370"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}",
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        400
      ],
      "id": "ba33dd6d-7a66-4703-93a2-dd93dd5f295d",
      "name": "AgentesVoz_Expert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 582219647,
          "mode": "list",
          "cachedResultName": "GPT y Prompting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=582219647"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $json.data.createdAt.toDateTime().format('yyyy/MM/dd hh:mm:ss') }}",
            "Nombre": "={{ $json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "Correo": "={{ $json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "Pregunta": "={{ $json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "Archivo adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
            "Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "Día de Clase": "Martes",
            "Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Respuesta Texto",
              "displayName": "Respuesta Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link Video Explicativo",
              "displayName": "Link Video Explicativo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Enviar",
              "displayName": "Enviar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ticket",
              "displayName": "ticket",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        600
      ],
      "id": "b815f76f-2de3-4a55-80de-2c15486941b2",
      "name": "GPTs_Expert",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2132471341,
          "mode": "list",
          "cachedResultName": "Make y Automatizaciones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2132471341"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -400
      ],
      "id": "b8fd19e9-5543-4b9b-9128-babba4365fe8",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -200
      ],
      "id": "8729888d-7484-41be-b18e-7df8a6c15819",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1139528183,
          "mode": "list",
          "cachedResultName": "GoHighLevel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=1139528183"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        0
      ],
      "id": "2c95a8ec-e3a0-400f-b72d-ed1cc46f3dec",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1579050785,
          "mode": "list",
          "cachedResultName": "Marca Personal, RRSS y Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=1579050785"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        200
      ],
      "id": "683cd4d3-1d15-4d48-aee9-8c73ced24cf6",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2017748370,
          "mode": "list",
          "cachedResultName": "Agentes de Voz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2017748370"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        400
      ],
      "id": "4376684b-0d8d-4807-bf78-5cde6a4a89e8",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 582219647,
          "mode": "list",
          "cachedResultName": "GPT y Prompting",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=582219647"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.Nombre }}"
            },
            {
              "lookupColumn": "Pregunta",
              "lookupValue": "={{ $json.Pregunta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        600
      ],
      "id": "6c5ecb5e-433b-4328-b963-61ae7a1a1b67",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "luzcgarcia.ia@gmail.com",
        "subject": "NUEVA PREGUNTA DE AGENTES DE VOZ",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\">     <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">     <title>Nueva Pregunta de Agentes de Voz - Ticket {{ $json.ticket }}</title> </head> <body style=\"margin: 0; padding: 20px; background-color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #333333;\">     <div style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 5px; border: 1px solid #dddddd;\">                  <p style=\"margin-bottom: 1em;\">Hola</p>          <p style=\"margin-bottom: 1em;\">Hemos recibido una nueva pregunta en el formulario.</p>          <p style=\"margin-bottom: 1em;\">Estos son los datos:</p>                  <blockquote style=\"border-left: 4px solid #cccccc; padding-left: 15px; margin-left: 0; margin-right: 0; margin-top: 0; margin-bottom: 1em; font-style: italic; color: #555555; background-color: #fdfdfd; padding-top: 10px; padding-bottom: 1px;\">             <p style=\"margin-bottom: 10px; margin-top: 0;\"><em>Nombre: {{ $json.Nombre }}</em></p>             <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Correo: {{ $json.Correo }}</em></small></p> <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Pregunta: {{ $json.Pregunta }}</em></small></p> <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Área: {{ $json['Área'] }}</em></small></p> <p style=\"margin-bottom: 10px; margin-top: 0;\"><small><em>Ticket: {{ $json.ticket }}</em></small></p>         </blockquote>          <p style=\"margin-bottom: 0.5em; line-height: 1.4;\">Atentamente,</p>          <div style=\"line-height: 1.4;\">             <p style=\"margin-bottom: 0.5em; margin-top: 0;\"><strong>El equipo de Academia IA Winners</strong></p>             <p style=\"margin-bottom: 0; margin-top: 0;\"><a href=\"https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?gid=2017748370#gid=2017748370\" target=\"_blank\" style=\"color: #007bff; text-decoration: none;\">Clic aquí para ver el formulario</a></p>         </div>     </div> </body> </html>",
        "options": {
          "appendAttribution": false,
          "ccList": "academia@iawinners.com"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        400
      ],
      "id": "884d9421-933d-4a86-9efa-de45a05c7b5d",
      "name": "Correo_AgentesVoz",
      "webhookId": "19af7a77-757e-44b8-bf71-6f83e965a6cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "K9FC3dKPup4y5HK9",
          "name": "CORREO ACADEMIA IA WINNERS"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Formulario": {
      "webhookId": "cmbeexmp000gk9fbs8e5o0aam"
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-05T13:43:40.613Z",
      "updatedAt": "2025-03-05T13:43:40.613Z",
      "id": "UZSZ6IVuXW7XuPZM",
      "name": "📝Formularios"
    },
    {
      "createdAt": "2025-02-26T15:17:43.536Z",
      "updatedAt": "2025-02-26T15:17:43.536Z",
      "id": "bB5H9hQQ6Hyuq8xS",
      "name": "✅ PRODUCCION"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-02T01:30:25.000Z",
  "versionId": "40e34eb3-8675-4a34-9006-b7b762b2e7d8"
}