workflows-iawinners/Formulario Consultas ACADEMIA (FRAN).json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        []
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Gmail7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Gmail9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Gmail10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Gmail11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Google Drive7": {
      "main": [
        []
      ]
    },
    "Google Sheets7": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Google Sheets12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets12": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-26T05:49:11.037Z",
  "id": "lzGMpvbu1kzJ7pnD",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Formulario Consultas ACADEMIA (FRAN)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Consultas Academia IA Winners",
        "formDescription": "¿Tienes alguna pregunta para el próximo directo? \n\nCuéntanos qué te gustaría que viéramos en la próxima clase 👇",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Selecciona el curso al que perteneces",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Máster IA Expert"
                  },
                  {
                    "option": "Máster Intensivo"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Enviar",
          "path": "consultas-formacion",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Tu respuesta ha sido enviada al equipo de IA Winners"
            }
          },
          "useWorkflowTimezone": true
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        2380,
        160
      ],
      "id": "0e236d23-1b26-4de1-ba41-085ed5149e58",
      "name": "On form submission",
      "webhookId": "2284e997-2f12-44b6-a29f-8fd0966ca531",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS ACADEMIA IA WINNERS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2132471341,
          "mode": "list",
          "cachedResultName": "Master Intensivo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2132471341"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_Make": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "Fecha_n8n": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "Nombre": "={{ $('On form submission').item.json['Nombre y apellido'] }}",
            "Curso Inscrito": "={{ $('On form submission').item.json['Curso al que perteneces'] }}",
            "Correo": "={{ $('On form submission').item.json.Correo }}",
            "Pregunta": "={{ $('On form submission').item.json['Tu pregunta'] }}",
            "Área": "={{ $('On form submission').item.json['¿A qué área corresponde tu consulta?'] }}",
            "Día de Clase": "Miércoles",
            "Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha_Make",
              "displayName": "Fecha_Make",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Curso Inscrito",
              "displayName": "Curso Inscrito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_n8n",
              "displayName": "Fecha_n8n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Curso Inscrito",
              "displayName": "Curso Inscrito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Área",
              "displayName": "Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        300,
        -900
      ],
      "id": "4400603d-cf62-4fad-94f8-9c60ac825f02",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f952f60-8b7b-44e3-8b47-0d337fbabb71",
                    "leftValue": "={{ $json.data.data.jn1mwnohk2dsy42moc32bhig }}",
                    "rightValue": "Máster Intensivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Máster Intensivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a17c3a6-a40a-4d28-a9df-7ee62112dd0a",
                    "leftValue": "={{ $json.data.data.jn1mwnohk2dsy42moc32bhig }}",
                    "rightValue": "Máster IA Expert",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Máster IA Expert"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -440,
        200
      ],
      "id": "4e1a2e53-e4ac-4b8e-bf4c-e968219d06fd",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 804520427,
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=804520427"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Switch').item.json.Nombre }}",
            "Fecha": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm')}}",
            "Correo": "={{ $('Switch').item.json.Correo }}",
            "Pregunta": "={{ $('Switch').item.json['Tu pregunta'] }}",
            "Archivo adjunto": "={{ $json.webViewLink }}",
            "Clase/Temática": "={{ $('Switch').item.json['¿A qué clase corresponde tu consulta?'] }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clase/Temática",
              "displayName": "Clase/Temática",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        -700
      ],
      "id": "9203bc7b-70a9-4aad-bbd8-4f760b803fc6",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 509689010,
          "mode": "list",
          "cachedResultName": "GHL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=509689010"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Switch').item.json.Nombre }}",
            "Fecha": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm')}}",
            "Correo": "={{ $('Switch').item.json.Correo }}",
            "Pregunta": "={{ $('Switch').item.json['Tu pregunta'] }}",
            "Archivo adjunto": "={{ $json.webViewLink }}",
            "Clase/Temática": "={{ $('Switch').item.json['¿A qué clase corresponde tu consulta?'] }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clase/Temática",
              "displayName": "Clase/Temática",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        -500
      ],
      "id": "5e03e41e-10ad-48d1-952d-1c65265491f9",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 14910667,
          "mode": "list",
          "cachedResultName": "Marca Personal, RRSS, Ventas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=14910667"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Switch').item.json.Nombre }}",
            "Fecha": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm')}}",
            "Correo": "={{ $('Switch').item.json.Correo }}",
            "Pregunta": "={{ $('Switch').item.json['Tu pregunta'] }}",
            "Archivo adjunto": "={{ $json.webViewLink }}",
            "Clase/Temática": "={{ $('Switch').item.json['¿A qué clase corresponde tu consulta?'] }}",
            "Día de Clase": "Martes",
            "Contestada": "No"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clase/Temática",
              "displayName": "Clase/Temática",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        -300
      ],
      "id": "df531dd2-3728-49f2-9c61-1106bb039521",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 661125291,
          "mode": "list",
          "cachedResultName": "Agentes de Voz",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=661125291"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Switch').item.json.Nombre }}",
            "Fecha": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm')}}",
            "Correo": "={{ $('Switch').item.json.Correo }}",
            "Pregunta": "={{ $('Switch').item.json['Tu pregunta'] }}",
            "Archivo adjunto": "={{ $json.webViewLink }}",
            "Clase/Temática": "={{ $('Switch').item.json['¿A qué clase corresponde tu consulta?'] }}",
            "Día de Clase": "Jueves",
            "Contestada": "No"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clase/Temática",
              "displayName": "Clase/Temática",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        -100
      ],
      "id": "f9941510-052e-4ec6-8272-25166146fa4b",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2112063335,
          "mode": "list",
          "cachedResultName": "GPTs y Prompt",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2112063335"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $('Switch').item.json.Nombre }}",
            "Fecha": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('dd-MM-yyyy hh:mm')}}",
            "Correo": "={{ $('Switch').item.json.Correo }}",
            "Pregunta": "={{ $('Switch').item.json['Tu pregunta'] }}",
            "Archivo adjunto": "={{ $json.webViewLink }}",
            "Clase/Temática": "={{ $('Switch').item.json['¿A qué clase corresponde tu consulta?'] }}",
            "Día de Clase": "Martes",
            "Contestada": "No"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pregunta",
              "displayName": "Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Archivo adjunto",
              "displayName": "Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Clase/Temática",
              "displayName": "Clase/Temática",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Día de Clase",
              "displayName": "Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contestada",
              "displayName": "Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        100
      ],
      "id": "c7c50b34-faac-40d0-9f15-b17801c5ca4a",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Make y Automatizaciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf5f0dc3-d555-45e2-81c6-d319f8551af6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Make"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6789b53b-9196-4242-a5a3-381b02b3c628",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "N8N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N8N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c25ed48-fbf3-497a-978e-41b5961bfdbf",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GoHighLevel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoHighLevel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f70fd712-84e2-43b2-b52c-91e820542ded",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Marca Personal, RRSS, Ventas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marca Personal, RRSS, Ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a52cf63f-a807-4e69-bfdc-eecbc2085f40",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Agentes de Voz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agentes de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "799abccc-0609-42a2-a30f-0f3fb822478c",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GPTs y Prompting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GPTs y Prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        -40
      ],
      "id": "d110c4c6-a198-4bf9-97d9-49f3e9d59b12",
      "name": "Switch1"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Formulario').item.json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ok0bi1qotXQgwkad9jp1-aCD5u4pz634",
          "mode": "list",
          "cachedResultName": "IMAGENES CONSULTAS",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ok0bi1qotXQgwkad9jp1-aCD5u4pz634"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2380,
        360
      ],
      "id": "09520afc-33f5-4856-a9e6-236d051bc34f",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8z11dS4rC7aMEY67",
          "name": "Google Drive Fran"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "n_Nombre": "={{ $('Formulario').item.json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "n_Correo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "n_Pregunta": "={{ $('Formulario').item.json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "n_Archivo adjunto": "={{ $('Formulario').item.json.data.meta.url }}",
            "n_Área": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "n_Día de Clase": "Jueves",
            "n_Contestada": "No",
            "n_Fecha": "={{ $('Formulario').item.json.data.createdAt.toDateTime().format('dd-MM-yyyy hh:mm:ss') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo_Adjunto",
              "displayName": "m_Archivo_Adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de clase",
              "displayName": "m_Día de clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_Repondida",
              "displayName": "m_Repondida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        520
      ],
      "id": "7baf65d1-27c0-42d5-a76e-c0a7397bd6f7",
      "name": "Google Sheets7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "g_Área": "={{ $json.data.data.w7vnbks92bjmq2t57eflqs7a }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo adjunto",
              "displayName": "m_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de Clase",
              "displayName": "m_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Contestada",
              "displayName": "m_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        520,
        720
      ],
      "id": "aed2b3a0-2b87-4b46-b3e0-e3316db58e2b",
      "name": "Google Sheets8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "events": [
          "responseFinished"
        ],
        "surveyIds": [
          "cm7y4prll000gw194pey85ps6"
        ]
      },
      "type": "@formbricks/n8n-nodes-formbricks.formbricks",
      "typeVersion": 1,
      "position": [
        -720,
        200
      ],
      "id": "f3b70308-d210-4bde-b3ad-78c125845c7e",
      "name": "Formulario",
      "webhookId": "752db204-0f89-434b-8e65-7965f7175d22",
      "credentials": {
        "formbricksApi": {
          "id": "ToOWOULfqNFrjcrw",
          "name": "Formbricks account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Make y Automatizaciones",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf5f0dc3-d555-45e2-81c6-d319f8551af6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Make"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6789b53b-9196-4242-a5a3-381b02b3c628",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "N8N",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "N8N"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c25ed48-fbf3-497a-978e-41b5961bfdbf",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GoHighLevel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GoHighLevel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f70fd712-84e2-43b2-b52c-91e820542ded",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Marca Personal, RRSS, Ventas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Marca Personal, RRSS, Ventas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a52cf63f-a807-4e69-bfdc-eecbc2085f40",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "Agentes de Voz",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agentes de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "799abccc-0609-42a2-a30f-0f3fb822478c",
                    "leftValue": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
                    "rightValue": "GPTs y Prompting",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GPTs y Prompt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -140,
        320
      ],
      "id": "42820913-282c-4232-83fe-93b75ac3b62d",
      "name": "Switch3"
    },
    {
      "parameters": {
        "errorMessage": "Tu respuesta no ha podido ser enviada por un error interno. Ponte en contacto con el equipo de IA Winners a través del grupo de WhatsApp de la formación."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        240,
        1520
      ],
      "id": "e1186481-ae23-494a-9737-f718e27a8870",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "errorMessage": "Tu respuesta no ha podido ser enviada por un error interno. Ponte en contacto con el equipo de IA Winners a través del grupo de WhatsApp de la formación."
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        240,
        -1060
      ],
      "id": "b601f6d1-57f5-49b7-b667-bdda309f3371",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mp_Fecha": "={{ $('FORMULARIO IA EXPERT').item.json.values()[5].toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "mp_Nombre": "={{ $('FORMULARIO IA EXPERT').item.json.values()[0]}}",
            "mp_Correo": "={{ $('FORMULARIO IA EXPERT').item.json.values()[1]}}",
            "mp_Pregunta": "={{ $('FORMULARIO IA EXPERT').item.json.values()[2]}}",
            "mp_Área": "={{ $('FORMULARIO IA EXPERT').item.json.values()[3]}}",
            "mp_Archivo adjunto": "={{ $json.webViewLink }}",
            "mp_Día de Clase": "Martes",
            "mp_Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo adjunto",
              "displayName": "m_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de Clase",
              "displayName": "m_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Contestada",
              "displayName": "m_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        920
      ],
      "id": "d3d85c71-9842-4a97-906c-5146dd6fb4c1",
      "name": "Google Sheets9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "av_Fecha": "={{ $('FORMULARIO IA EXPERT').item.json.values()[5].toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "av_Nombre": "={{ $('FORMULARIO IA EXPERT').item.json.values()[0]}}",
            "av_Correo": "={{ $('FORMULARIO IA EXPERT').item.json.values()[1]}}",
            "av_Pregunta": "={{ $('FORMULARIO IA EXPERT').item.json.values()[2]}}",
            "av_Archivo adjunto": "={{ $json.webViewLink }}",
            "av_Área": "={{ $('FORMULARIO IA EXPERT').item.json.values()[3]}}",
            "av_Día de Clase": "Jueves",
            "av_Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo adjunto",
              "displayName": "m_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de Clase",
              "displayName": "m_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Contestada",
              "displayName": "m_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        360,
        1120
      ],
      "id": "bb193c1a-1df4-4b87-816d-2c70af1ea2b9",
      "name": "Google Sheets10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "gp_Fecha": "={{ $('FORMULARIO IA EXPERT').item.json.values()[5].toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "gp_Nombre": "={{ $('FORMULARIO IA EXPERT').item.json.values()[0]}}",
            "gp_Correo": "={{ $('FORMULARIO IA EXPERT').item.json.values()[1]}}",
            "gp_Pregunta": "={{ $('FORMULARIO IA EXPERT').item.json.values()[2]}}",
            "gp_Archivo adjunto": "={{ $json.webViewLink }}",
            "gp_Área": "={{ $('FORMULARIO IA EXPERT').item.json.values()[3]}}",
            "gp_Día de Clase": "Martes",
            "gp_Contestada": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo adjunto",
              "displayName": "m_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de Clase",
              "displayName": "m_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Contestada",
              "displayName": "m_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        280,
        1320
      ],
      "id": "ad9b23f3-00c0-4d09-bba7-a6617ceee320",
      "name": "Google Sheets11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>GohighLevel</strong> el día <span class=\"highlight\">Jueves a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        740,
        720
      ],
      "id": "2075d7f5-c500-4652-8df9-196efaacfaeb",
      "name": "Gmail",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>N8N</strong> el día <span class=\"highlight\">Jueves a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        520
      ],
      "id": "1551f282-d8b6-4e01-85e1-0c21c19cb183",
      "name": "Gmail1",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Make y Automatizaciones</strong> el día <span class=\"highlight\">Miércoles a las 18:00 PM (Hora España)</span>.\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        320
      ],
      "id": "b97d5dc3-f067-4314-96b9-c82c62d4d6b4",
      "name": "Gmail2",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Marca personal, RRSS y Ventas</strong> el día <span class=\"highlight\">Martes a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        920
      ],
      "id": "ab517d3f-7c6e-4347-ab03-88bbd2371eda",
      "name": "Gmail3",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Agentes de Voz</strong> el día <span class=\"highlight\">Jueves a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        1120
      ],
      "id": "54051ff8-fa1f-4827-8311-78e4cabc6e56",
      "name": "Gmail4",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>GPTs y Prompt</strong> el día <span class=\"highlight\">Martes a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        500,
        1320
      ],
      "id": "2f6b821a-75ba-471e-be9d-dedf76d59b5d",
      "name": "Gmail5",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>GohighLevel</strong> el día <span class=\"highlight\">Jueves a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -500
      ],
      "id": "e0e35b40-4356-4a13-a962-ba6754575996",
      "name": "Gmail6",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>N8N</strong> el día <span class=\"highlight\">Jueves a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        580,
        -700
      ],
      "id": "c8e427db-2a42-4813-a67d-ea0c551e1b93",
      "name": "Gmail7",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Make y Automatizaciones</strong> el día <span class=\"highlight\">JMiércoles a las 18:00 PM (Hora España)</span>.\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        -900
      ],
      "id": "2b4eeb2d-4e9f-40e4-898c-41018c768302",
      "name": "Gmail8",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Marca personal, RRSS y Ventas</strong> el día <span class=\"highlight\">Martes a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        740,
        -300
      ],
      "id": "e1fb52dd-59d2-4494-8751-22227420d1d0",
      "name": "Gmail9",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Marca personal, RRSS y Ventas</strong> el día <span class=\"highlight\">Martes a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        -100
      ],
      "id": "0f0cf182-02b1-4a80-842f-87ffe95296c3",
      "name": "Gmail10",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
        "subject": "HEMOS RECIBIDO TU CONSULTA",
        "message": "=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Respuesta enviada</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            max-width: 600px;\n            margin: 40px auto;\n            padding: 20px;\n            border: 1px solid #ddd;\n            border-radius: 8px;\n            background-color: #ffffff;\n            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);\n        }\n        h2 {\n            color: #333;\n            text-align: center;\n        }\n        p {\n            margin: 10px 0;\n            color: #555;\n        }\n        .highlight {\n            font-weight: bold;\n            color: #d9534f;\n        }\n        .calendar-link {\n            display: block;\n            text-align: center;\n            margin-top: 20px;\n            padding: 10px 15px;\n            background-color: #007bff;\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: bold;\n        }\n        .calendar-link:hover {\n            background-color: #0056b3;\n        }\n        .container {\n            text-align: center;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h2>Tu respuesta ha sido enviada al equipo de IA Winners</h2>\n        <p>Atenderemos tu duda en la próxima clase de <strong>Marca personal, RRSS y Ventas</strong> el día <span class=\"highlight\">Martes a las 18:00 PM (Hora España)</span>.</p>\n        <p><strong>Recuerda que esta es una clase exclusiva para miembros del IA Expert.</strong></p>\n        <p>📅 Puedes ver el calendario de clases aquí:</p>\n        <a href=\"https://linktr.ee/iawinners\" class=\"calendar-link\" target=\"_blank\">Ver calendario</a>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        880,
        100
      ],
      "id": "14867457-9fb6-490a-80b1-df5633c17857",
      "name": "Gmail11",
      "webhookId": "dd911cee-2c26-420c-88df-65d63026f13a",
      "credentials": {
        "gmailOAuth2": {
          "id": "Jb949OirQ2BFqA5S",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo",
          "mode": "list",
          "cachedResultName": "PREGUNTAS COMUNIDAD/MASTER INTENSIVO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118442775,
          "mode": "list",
          "cachedResultName": "Master IA Expert",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xXcYWedRa4Y471JJO5ni9BU6r093732AOg71GGYTRBo/edit#gid=2118442775"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "m_Fecha": "={{ $('Formulario').item.json.data.createdAt.toDateTime().format('dd-MM-yyyy hh:mm:ss') }}",
            "m_Nombre": "={{ $('Formulario').item.json.data.data.v6zx04fiywuhxf4npkt7o3bo }}",
            "m_Correo": "={{ $('Formulario').item.json.data.data.ans5r20ui8lz2vvs7db7elmu }}",
            "m_Pregunta": "={{ $('Formulario').item.json.data.data.w0xmi9ncyw7o8ij7w7km4ivc }}",
            "m_Área": "={{ $('Formulario').item.json.data.data.w7vnbks92bjmq2t57eflqs7a }}",
            "m_Día de clase": "Miércoles",
            "m_Repondida": "No",
            "m_Archivo_Adjunto": "={{ $json.data.data.idzm3u8c0495j7ryobyg6knq[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "m_Fecha",
              "displayName": "m_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Nombre",
              "displayName": "m_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Correo",
              "displayName": "m_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Pregunta",
              "displayName": "m_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Archivo_Adjunto",
              "displayName": "m_Archivo_Adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_Área",
              "displayName": "m_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "m_Día de clase",
              "displayName": "m_Día de clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "m_Repondida",
              "displayName": "m_Repondida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "n_Fecha",
              "displayName": "n_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Nombre",
              "displayName": "n_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Correo",
              "displayName": "n_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Pregunta",
              "displayName": "n_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Archivo adjunto",
              "displayName": "n_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Área",
              "displayName": "n_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Día de Clase",
              "displayName": "n_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "n_Contestada",
              "displayName": "n_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "g_Fecha",
              "displayName": "g_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Nombre",
              "displayName": "g_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Correo",
              "displayName": "g_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Pregunta",
              "displayName": "g_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Archivo adjunto",
              "displayName": "g_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Área",
              "displayName": "g_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Día de Clase",
              "displayName": "g_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "g_Contestada",
              "displayName": "g_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Fecha",
              "displayName": "mp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Nombre",
              "displayName": "mp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Correo",
              "displayName": "mp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Pregunta",
              "displayName": "mp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Archivo adjunto",
              "displayName": "mp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Área",
              "displayName": "mp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Día de Clase",
              "displayName": "mp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mp_Contestada",
              "displayName": "mp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Fecha",
              "displayName": "av_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Nombre",
              "displayName": "av_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Correo",
              "displayName": "av_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Pregunta",
              "displayName": "av_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Archivo adjunto",
              "displayName": "av_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Área",
              "displayName": "av_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Día de Clase",
              "displayName": "av_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "av_Contestada",
              "displayName": "av_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Fecha",
              "displayName": "gp_Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Nombre",
              "displayName": "gp_Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Correo",
              "displayName": "gp_Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Pregunta",
              "displayName": "gp_Pregunta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Archivo adjunto",
              "displayName": "gp_Archivo adjunto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Área",
              "displayName": "gp_Área",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Día de Clase",
              "displayName": "gp_Día de Clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gp_Contestada",
              "displayName": "gp_Contestada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        660,
        320
      ],
      "id": "2f0aa126-afba-4df7-8de1-354c72fb699b",
      "name": "Google Sheets12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SkQUSycZPhGPNNXN",
          "name": "Google Sheets Fran"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-05T13:43:40.613Z",
      "updatedAt": "2025-03-05T13:43:40.613Z",
      "id": "UZSZ6IVuXW7XuPZM",
      "name": "📝Formularios"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2025-03-08T02:36:01.000Z",
  "versionId": "559fbe56-d8dc-4a81-9765-5c964878e499"
}