workflows-iawinners/Mónica Setting - Enviar Plantillas.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Plantilla -50%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plantilla +50%",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plantilla Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plantilla No Asiste",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-16T09:37:34.507Z",
  "id": "Tag739xA3NSSKSuw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mónica Setting - Enviar Plantillas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dc67dd0a-83c9-411f-b80e-12dd45faee68",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -60
      ],
      "id": "eb7d8992-64a4-4778-b33e-eb7ee7adbc8a",
      "name": "Webhook",
      "webhookId": "dc67dd0a-83c9-411f-b80e-12dd45faee68"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "menos50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7834eddc-874d-4c3a-b411-582b9f466ec4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "-50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e1e8fd9-4b9e-45de-94fd-d2dcbd6b6de2",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "mas50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "+50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d564ce4-76fd-4cfc-86ae-42ae07920547",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0bddadac-9034-4695-b907-f2949bc921b0",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "No Asiste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Asiste"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d65a13c-9ebc-41bd-833e-b8b08e6cce46",
                    "leftValue": "={{ $json.Etapa }}",
                    "rightValue": "Seguimiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguimiento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        20,
        -120
      ],
      "id": "c00a14eb-a03b-4c5d-b571-a11a00b4015d",
      "name": "Switch"
    },
    {
      "parameters": {
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.Telefono }}",
        "template": "plantilla_menos50|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.Nombre }}"
                  },
                  {
                    "text": "https://iawinners.com/vsl"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        380,
        -520
      ],
      "id": "35407a1d-cc0d-408a-aba0-f2788b0ae757",
      "name": "Plantilla -50%",
      "webhookId": "14da6df0-d7f6-47ce-8c17-39020a161726",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.Telefono }}",
        "template": "plantilla_mas50|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.Nombre }}"
                  },
                  {
                    "text": "https://iawinners.com/agenda-reunion-ia"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        380,
        -300
      ],
      "id": "952a3bbe-e44b-412c-8cde-335e5bfeec90",
      "name": "Plantilla +50%",
      "webhookId": "14da6df0-d7f6-47ce-8c17-39020a161726",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('Edit Fields').item.json.Telefono }}",
        "template": "plantilla_agenda|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $('Edit Fields').item.json.Nombre }}"
                  },
                  {
                    "text": "={{ $('Edit Fields').item.json['Enlace Reunión'] }}"
                  },
                  {
                    "text": "={{ $('Edit Fields').item.json['Fecha Reunión'] }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        380,
        -80
      ],
      "id": "d7291737-e7e1-4809-a5c3-5759e558ee1f",
      "name": "Plantilla Agenda",
      "webhookId": "14da6df0-d7f6-47ce-8c17-39020a161726",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.customData.Telefono }}",
        "template": "plantilla_no_asiste|es",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.Nombre }}"
                  },
                  {
                    "text": "https://iawinners.com/agenda-reunion-ia"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        380,
        120
      ],
      "id": "6963a8b9-62c7-4bd6-9242-f8d9ca6f0ec6",
      "name": "Plantilla No Asiste",
      "webhookId": "14da6df0-d7f6-47ce-8c17-39020a161726",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      }
    },
    {
      "parameters": {
        "phoneNumberId": "589015034296503"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        380,
        340
      ],
      "id": "e058509e-8ced-4110-ba64-7be22bfba8c8",
      "name": "Plantilla Seguimiento",
      "webhookId": "14da6df0-d7f6-47ce-8c17-39020a161726",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b08ecde-4fe4-4dd5-b412-b7d7c2c16280",
              "name": "Nombre",
              "value": "={{ $json.body.customData.Nombre }}",
              "type": "string"
            },
            {
              "id": "231dbab8-31b0-4d93-a863-b7c799e3ce5a",
              "name": "Apellido",
              "value": "={{ $json.body.customData.Apellido }}",
              "type": "string"
            },
            {
              "id": "9cb69c34-0f28-4019-a539-b37bf6bcaaf3",
              "name": "Telefono",
              "value": "={{ $json.body.customData.Telefono }}",
              "type": "string"
            },
            {
              "id": "ca850a9c-e9a7-4bdb-80b8-909a86937b4f",
              "name": "Email",
              "value": "={{ $json.body.customData.Email }}",
              "type": "string"
            },
            {
              "id": "51842e52-7d3e-4165-8330-9ef0633053ef",
              "name": "Avatar",
              "value": "={{ $json.body.customData.Avatar }}",
              "type": "string"
            },
            {
              "id": "03729d9e-cc20-410c-a82b-21adaafbe33e",
              "name": "ID",
              "value": "={{ $json.body.customData.ID }}",
              "type": "string"
            },
            {
              "id": "811b63a8-c038-4908-b65d-ad3e9a9df24e",
              "name": "Etapa",
              "value": "={{ $json.body.customData.ETAPA }}",
              "type": "string"
            },
            {
              "id": "aa0a0e7f-d325-4b33-b15a-9eabd0fca670",
              "name": "Fecha Registro",
              "value": "={{ $json.body.customData['Fecha Registro'] }}",
              "type": "string"
            },
            {
              "id": "83ff7bf2-a61b-4db4-9996-d4e507e1628e",
              "name": "Enlace Reunión",
              "value": "={{ $json.body.customData['Meeting URL'] }}",
              "type": "string"
            },
            {
              "id": "987af4ea-60e5-4378-94ab-e84af3d50e2f",
              "name": "Fecha Reunión",
              "value": "={{ $json.body.customData['Fecha Agenda'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        -60
      ],
      "id": "903f53ff-557b-484e-88da-f3b3c0927cff",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.iawinners.com",
            "user-agent": "axios/1.7.7",
            "content-length": "12076",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "34.135.156.37",
            "cf-ipcountry": "US",
            "cf-ray": "942a5ad1fa7372cb-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "34.135.156.37, 172.69.17.143",
            "x-forwarded-host": "n8n.iawinners.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e96c02968f5",
            "x-real-ip": "172.69.17.143"
          },
          "params": {},
          "query": {},
          "body": {
            "Do you have a way of knowing your staff is calling new leads within five minutes?": "",
            "Do you currently have the ability to listen to recordings of conversations between new leads and your staff?": "",
            "Topic for call": "",
            "Lead Automation": "",
            "Website": "",
            "Do you currently have any auto-mated replies set up for people who message your Facebook page?": "",
            "Do you currently send automated email/text messages to no-shows encouraging them to re-schedule?": "",
            "Lead Management": "",
            "Are you interested in implementing any of the things you responded 'No' to for your business?": "",
            "Can your staff send text message to leads from a business number without using a personal phone?": "",
            "Are you currently generating a steady flow of new leads each month? ": "",
            "Do you currently send emails/text appointment reminders? ": "",
            "Do you currently offer a way for new leads to book a call/appointment with you online?": "",
            "Phone Number": "",
            "Do you have any suggestions for new menu items?": "",
            "Email Address": "",
            "Are you totally and permanently disabled?": "",
            "What were the outcomes or results achieved from your previous marketing efforts?": "",
            "What specific deliverables do you expect from the marketing agency?": "",
            "Are there any accessibility issues for our team (e.g., locked gates, pets)?": "",
            "Mileage:": "",
            "Location Cleanliness (scale of 1 to 5)": "",
            " Description of the Issue:": "",
            "Are they your dependent?": "",
            "What was your least favourite item(s)": "",
            "Other (Please specify):": "",
            "Any Additional Comments, Questions Or Special Requests?": "",
            "Allergies or Sensitivities:": "",
            "Is there anything else you would like to share with us about your visit?": "",
            "Location Name": "",
            "Are you currently renting?": "",
            "Taxpayer Signature": "",
            "Is this a residential or commercial property?": "",
            "Spouse Occupation ": "",
            "Have you implemented any marketing strategies in the past? If yes, please describe them briefly.": "",
            "Give us a brief description of the project:": "",
            "How did you hear about us?": "",
            "Preferred Time:": "",
            "Overall Atmosphere Rating (scale of 1 to 5)": "",
            "Type of Service (Check all that apply)": "",
            "Are you contributing to 401k or other pre-tax account?": "",
            "Check All Services Requested:": "",
            "What are your objectives and goals for the project?": "",
            "How satisfied were you with the food you were served?": "",
            "Vehicle Year:": "",
            "Any Previous Cosmetic Procedures?": "",
            "Overall satisfaction rating (scale of 1 to 5)": "",
            "Are you legally blind?": "",
            "Which specific services are required for your project? Please select all that apply:": "",
            "Current Medications": "",
            "Are they totally and permanently disabled?": "",
            "Was our staff knowledgeable and helpful with the menu? (scale of 1 to 5)": "",
            "What is budget range allocated for the marketing project?": "",
            "Are they a full-time student?": "",
            "Any Allergies?": "",
            "Do you have any additional comments, feedback, or suggestions regarding the legal services market?": "",
            "Is there any other relevant information or specific requirements that you would like to communicate to potential marketing agencies?": "",
            "Occupation": "",
            "Who is your primary target audience and demographic?": "",
            "Any Known Medical Conditions": "",
            "Type of visit": "",
            "Date Signed": "",
            "Could you provide a breakdown of how you intend to allocate the budget across different marketing activities (e.g., advertising, content creation, website development)?": "",
            "Enter your dependents here": "",
            "Enter the following expenses total amount": "",
            "What Was Your Favorite Item(s) You Tried?": "",
            "Spouse Full Name": "",
            "Preferred Barber (if any):": "",
            " Type of Service Needed (Check all that apply):": "",
            "Attach any relevant photos or documents related to the service request (if applicable).": "",
            "Service speed (scale of 1 to 5)": "",
            "Address": "",
            "Preferred Date for Consultation": "",
            "Spouse Date Of Birth": "",
            "Are they legally blind?": "",
            "Preferred Hair Products (if any):": "",
            "Total Expenses": "",
            "Vehicle Model:": "",
            "What is the monthly rental amount?": "",
            "Filing Status ": "",
            "Are there any specific qualifications or expertise you prioritize in the evaluation process?": "",
            "Reason for Consultation": "",
            "How friendly was our staff? (scale of 1 to 5)": "",
            "Preferred Date:": "",
            "Do you have an ideal timeline in mind for the project?": "",
            "Is this your first time opening a pre-tax account?": "",
            "Would you recommend us?": "",
            "Employment Status": "",
            "How efficient was the service? (scale of 1 to 5)": "",
            "Any Specific Concerns or Goals for the Consultation": "",
            "Vehicle Make:": "",
            "Are you a full-time student?": "",
            "Selecciona las RRSS ": "",
            "¿Cuánto dinero estás dispuesto/a a invertir para conseguir tu objetivo? *": "",
            "Actualmente, ¿qué te gustaría conseguir con la IA? ¿Cuál es tu objetivo específicamente? *": "",
            "Tu situación es...": "",
            "Selecciona la cantidad de emplados": "",
            "Objetivo de la formación": "",
            "objetivo-agencia-ia": "",
            "Nombre de afiliado": "",
            "Que avatar eres": "",
            "obstaculo": "",
            "Producto": "",
            "Selecciona las RRSS que tiene tu negocio": "",
            "¿Algo más que nos quieras comentar?": "",
            "Radio 29djr": "",
            "Selecciona la cantidad de empleados": "",
            "Expreriencia  IA": "",
            "Objetivo de Facturacion": "",
            "¿Te gustaría mejorarla?": "",
            "¿Tienes una empresa actualmente?": "",
            "Presupuesto": "",
            "Para poder empezar a hacer crecer tu Agencia de IA es necesaria una inversión económica . Ahora mismo, ¿estás dispuesto a invertir? ": "",
            "Objetivo principal": "",
            "Objetivo": "",
            "¿Principalmente sobre que tema es tu duda?": "",
            "Género": "",
            "Sector": "",
            "Describe brevemente qué necesitas resolver o aprender en esta sesión.": "",
            "Rango de edad": "",
            "Objetivos": "",
            "Brief description of your situation": "",
            "How would you like to be contacted?": "",
            "Ubicación ": "",
            "Service(s) Needed": "",
            "Selecciona la opción correcta": "",
            "Otros datos de interés": "",
            "How can we help?": "",
            "Message": "",
            "Facturación anual ": "",
            "Cif": "",
            "Día \"tipo\" de mi cliente ideal": "",
            "Nombre de tu empresa": "",
            "Dni": "",
            "¿Con qué frecuencia compra tu cliente ideal productos o servicios como el tuyo?": "",
            "Solutions": "",
            "Instagram": "",
            "Telefono empresa": "",
            "¿Cuánto suele gastar en productos como el tuyo?": "",
            "Gender": "",
            "¿Dispones de agencia de marketing?": "",
            "Email empresa": "",
            "¿Que podría influir en su decisión de compra?": "",
            "¿A que se dedica tu empresa?": "",
            "Razón Social": "",
            "¿Qué necesidad satisface tu producto/servicio a tu cliente?": "",
            "Facturación anual empresa": "",
            "¿Qué espera el cliente obtener de tu producto/servicio?": "",
            "Requested Media": "",
            "Cual es tu objetivo con nosotros?": "",
            "¿Cuál es el beneficio más importante de tu producto/servicio?": "",
            "Event start date ": "",
            "¿Dispones de web actualmente?": "",
            "¿Qué problema principal resuelves a tu cliente con tu producto o servicio?": "",
            "Event Start Time": "",
            "Dominio web": "",
            "¿Cuál es la pregunta más frecuente que le surge a tu cliente cuando piensa en tu producto o servicio? ": "",
            "Special Instructions ": "",
            "Plataforma de alojamiento web": "",
            "Problema 1": "",
            "What can we help with?": "",
            "TikTok": "",
            "Problema 2": "",
            "Choose a time slot:": "",
            "YouTube": "",
            "Problema 3": "",
            "¿Hay algo específico en tu sector que debamos saber?": "",
            "Are any of these affecting currently you?": "",
            "Fecha Factura": "",
            "Other": "",
            "Responde Chat Gpt": "",
            "Código Postal": "",
            "I consent to the above statements and affirm my honesty regarding my health.": "",
            "Single Line 6602j": "",
            "Ciudad": "",
            "Today's Date": "",
            "¿Tienes experiencia con IA y automatizaciones?": "",
            "Precio pactado (297€, 1797€ , 1997€ o 2497€)": "",
            "Dirección cliente": "",
            "Describe brevemente tu experiencia": "",
            "¿Qué áreas de la IA y automatizaciones te interesan más?": "",
            "¿Por qué estás interesado en el Máster en IA y Automatizaciones?": "",
            "Meeting_URL": "",
            "Número de empleados": "",
            "¿Prefieres clases grabadas, online en directo o híbridas?": "",
            "¿Que esperas obtener de este Master?": "",
            "¿Cuánto estas dispuesto a invertir en un Master de Ia y Automatizaciones que te enseñe todo de 0 a 100?": "",
            "¿Te gustaría tener opción de financiación?": "",
            "Precio pactado con My Digital Winner": "",
            "¿Estás interesado en opciones de financiamiento?": "",
            "Servicios pactados con My Digital Winner": "",
            "Nombre empresa": "",
            "¿Cuánto estas dispuesto a invertir en un Master de IA y Automatizaciones que te enseñe todo de 0 a 100?": "",
            "Capital para formación": "",
            "¿Que esperas obtener de este Master?1": "",
            "Mensaje enviado": "",
            "Respuesta IA": "",
            "¿Hay algo más que te gustaría que supiéramos sobre ti?": "",
            "PRUEBA": "",
            "Single Line 67emc": "",
            "ETAPA_LEAD": "menos50%",
            "Servicios solicitados con My Digital Winner": "",
            "Fecha_Reunion": "",
            "Te gustaría acceder a este evento para...": "",
            "Evergreen-VSL": "vsl-EnrqueM",
            "contact_id": "4fBpgqxBOkce7wCElMYl",
            "first_name": "Eric",
            "last_name": "Gorriz",
            "full_name": "Eric Gorriz",
            "email": "eric@funnelcracks.com",
            "phone": "+34617258885",
            "tags": "monica on",
            "country": "US",
            "timezone": "Asia/Makassar",
            "date_created": "2025-05-20T08:08:31.041Z",
            "contact_source": "evergreen | vsl funnel",
            "full_address": "",
            "contact_type": "lead",
            "location": {
              "name": "MY DIGITAL WINNER",
              "address": "30 N GOULD ST STE N",
              "city": "SHERIDAN ",
              "state": "WY",
              "country": "US",
              "postalCode": "82801",
              "fullAddress": "30 N GOULD ST STE N, SHERIDAN  WY 82801",
              "id": "H4xOOUiUOIw4yRDC8rba"
            },
            "workflow": {
              "id": "5cfbe2a0-d2dd-450f-aa3b-ab8530e36f39",
              "name": "01.0 Evergreen |  (Nutrición VSLTracking)"
            },
            "triggerData": {},
            "contact": {
              "attributionSource": {
                "sessionSource": "Social media",
                "url": "https://iawinners.com/registro-video2?fbclid=IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "campaign": null,
                "utmSource": null,
                "utmMedium": null,
                "utmContent": null,
                "utmTerm": null,
                "utmKeyword": null,
                "utmMatchtype": null,
                "referrer": "https://l.facebook.com",
                "fbclid": "IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "gclid": null,
                "fbc": "fb.1.1747728460915.IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "fbp": "fb.1.1747728460916.758284171598778232",
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
                "ip": "103.160.164.1",
                "gaClientId": "GA1.1.955816981.1747728462",
                "medium": "form",
                "mediumId": "342OOPvv4Uui2MBDHxPN",
                "adName": null,
                "adGroupId": null,
                "adId": null,
                "gbraid": null,
                "wbraid": null
              },
              "lastAttributionSource": {
                "sessionSource": "Social media",
                "url": "https://iawinners.com/registro-video2?fbclid=IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "utmSource": null,
                "utmMedium": null,
                "utmContent": null,
                "utmTerm": null,
                "utmKeyword": null,
                "utmMatchtype": null,
                "referrer": "https://l.facebook.com",
                "fbclid": "IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "gclid": null,
                "fbc": "fb.1.1747728460915.IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
                "fbp": "fb.1.1747728460916.758284171598778232",
                "userAgent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36",
                "ip": "103.160.164.1",
                "gaClientId": "GA1.1.955816981.1747728462",
                "medium": "form",
                "mediumId": "342OOPvv4Uui2MBDHxPN",
                "adName": null,
                "adGroupId": null,
                "adId": null,
                "gbraid": null,
                "wbraid": null
              }
            },
            "attributionSource": {},
            "customData": {
              "Fecha Registro": "05/20/2025",
              "Nombre": "Eric",
              "Apellido": "Gorriz",
              "Telefono": "+34 617 25 88 85",
              "Email": "eric@funnelcracks.com",
              "Avatar": "",
              "Fuente": "evergreen | vsl funnel",
              "Afiliado": "https://iawinners.com/registro-video2?fbclid=IwY2xjawKZF5ZleHRuA2FlbQIxMABicmlkETBMR3pETWxNamJoN3l1SlJxAR7JIeGcRmjOxvGEDe_7lHVJ2rTkjEgVEPpI3Gz0Q9IdBnC5a1ZoKA1hx8Z0BQ_aem_KDefh4QKLwGuJd4gynfcyA",
              "UTM 1 ": "",
              "UTM 2": "",
              "ETAPA": "menos50%",
              "ID": "4fBpgqxBOkce7wCElMYl",
              "VSL": "vsl-EnrqueM"
            }
          },
          "webhookUrl": "https://n8n.iawinners.com/webhook/dc67dd0a-83c9-411f-b80e-12dd45faee68",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-16T09:35:44.667Z",
      "updatedAt": "2025-04-16T09:35:44.667Z",
      "id": "HplrFFowHMbKC6tm",
      "name": "Mónica Setting"
    },
    {
      "createdAt": "2025-04-16T10:35:06.049Z",
      "updatedAt": "2025-04-16T10:35:06.049Z",
      "id": "VhIhN54OJ1lWSvmg",
      "name": "Evergreen"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-20T08:54:51.000Z",
  "versionId": "f6e91439-6c4b-4ef8-bd80-f4f4bee61f0c"
}