workflows-iawinners/Mónica - Evergreen GHL.json
{
  "active": true,
  "connections": {
    "HighLevel1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "ETAPA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETAPA": {
      "main": [
        [
          {
            "node": "Agente -50% (VSL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente +50% (Agendar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Agenda (Reunión)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente No Asiste (Reagendar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente -50% (VSL)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente +50% (Agendar)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente -50% (VSL)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente +50% (Agendar)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Agenda (Reunión)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Agenda (Reunión)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente No Asiste (Reagendar)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente No Asiste (Reagendar)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de respuestas",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte 3": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "on_error": {
      "main": [
        [
          {
            "node": "Generador de respuestas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de respuestas": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "on_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Parte 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud2": {
      "main": [
        [
          {
            "node": "If Parte 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generador de respuestas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Hay URL?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente -50% (VSL)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente +50% (Agendar)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Agente Agenda (Reunión)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Agente No Asiste (Reagendar)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente Seguimiento (Reagendar)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Output en partes2": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay URL?1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Separar Output en partes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrer mensajes 1 a 1 Texto e Imagen1": {
      "main": [
        [
          {
            "node": "Flujo terminado2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HighLevel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel4": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HighLevel4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "HighLevel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HighLevel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-19T22:13:45.190Z",
  "id": "gVYTD9aXTjlom1R5",
  "meta": null,
  "name": "Mónica - Evergreen GHL",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "query": "={{ $json.body.user.phone }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -2300,
        540
      ],
      "id": "a8e5f733-4b07-413a-8c53-45e78d307d59",
      "name": "HighLevel1",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $('Edit Fields').item.json['ID Lead GHL'] }}/notes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6Ikg0eE9PVWlVT0l3NHlSREM4cmJhIiwidmVyc2lvbiI6MSwiaWF0IjoxNzI3MTg4MzM1MTU3LCJzdWIiOiJMZVlhWDdHdVdZMUdqaVJmdXhnSSJ9.Y-kCzxkXVec3aGo3sun8loRvJu0d4GPY0dX5DqMXm2k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -760,
        1340
      ],
      "id": "db542933-4bb8-406c-b23d-dac801a0f262",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65e08ef0-30a8-4fc8-ad16-39d3c8933ee9",
              "name": "CustomFields",
              "value": "={{ $json.customFields }}",
              "type": "string"
            },
            {
              "id": "f63abea4-10f3-473c-a94a-6ec6ddc7197f",
              "name": "Mónica",
              "value": "={{ $json.tags }}",
              "type": "string"
            },
            {
              "id": "eb89ae0c-696e-4531-83b8-f8a5f2dd1c1a",
              "name": "NombreLead",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "f0eafeae-82e1-4b49-98ce-2766daf7c978",
              "name": "ApellidoLead",
              "value": "={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "14954441-9906-4506-8d2b-6be48b1276c5",
              "name": "ID Conversación",
              "value": "={{ $json.customFields[1].id }}",
              "type": "string"
            },
            {
              "id": "d2bf7f50-d2d2-46cd-9999-0b8b50414196",
              "name": "ID Lead GHL",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "381eb6bd-2df1-4732-83f9-75e1d73e0469",
              "name": "Etapa",
              "value": "={{ $json.customFields }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2100,
        540
      ],
      "id": "6543b277-cff0-4c0b-be22-718c2cca2398",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el string de CustomFields y parsearlo si es necesario\nlet customFields = $input.first().json.CustomFields;\n\n// Si viene como string, lo parseamos a objeto\nif (typeof customFields === \"string\") {\n  try {\n    customFields = JSON.parse(customFields);\n  } catch (e) {\n    return [{ json: { error: \"No se pudo parsear CustomFields\" } }];\n  }\n}\n\n// 2. Definir los estados posibles del funnel\nconst estadosFunnel = [\"menos50%\", \"mas50%\", \"Agenda\", \"No Asiste\", \"Seguimiento\"];\n\n// 3. Buscar coincidencias\nlet etapaDetectada = null;\n\nfor (const field of customFields) {\n  for (const estado of estadosFunnel) {\n    if (field.value && typeof field.value === \"string\" && field.value.includes(estado)) {\n      etapaDetectada = estado;\n      break;\n    }\n  }\n  if (etapaDetectada) break;\n}\n\n// 4. Devolver resultado\nreturn [\n  {\n    json: etapaDetectada\n      ? { etapa: etapaDetectada }\n      : { etapa: \"No detectada\" }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1160,
        540
      ],
      "id": "b02d2b77-8ef3-48e1-a588-96698cf083c9",
      "name": "Code"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.etapa }}",
                    "rightValue": "menos50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63aeb22d-7334-476d-8496-94ec26e0726c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "-50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d7471dc-4174-4689-a930-cff0391f2ae4",
                    "leftValue": "={{ $json.etapa }}",
                    "rightValue": "mas50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "+50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d5429a9-385d-4553-866c-65c9b21d0c4c",
                    "leftValue": "={{ $json.etapa }}",
                    "rightValue": "Agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c428b42-880d-4a18-9ab1-7ca47efc6c5e",
                    "leftValue": "={{ $json.etapa }}",
                    "rightValue": "No Asiste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Asiste"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18cc0b1e-50dc-4aa0-b00b-57e4aee19f10",
                    "leftValue": "={{ $json.etapa }}",
                    "rightValue": "Seguimiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguimiento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -900,
        500
      ],
      "id": "b7807d48-6f11-4d32-a83c-83e7ef553a2e",
      "name": "ETAPA"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes el mensaje que te ha enviado el cliente: {{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\n\nEres Mónica, una IA conversacional de IA Winners Academy.\nHablas con personas que se registraron para ver una clase gratuita, pero no la han terminado (vieron menos del 50%).\n\n- Tu único objetivo es que vean la clase completa.\n\n- No agendas reuniones, no buscas horarios, no mencionas llamadas con el equipo.\n\n#Solo puedes enviar el enlace de agendar si:\n- El usuario ya ha visto la clase completa o el usuario lo solicita explícitamente.\n\nEn cualquier otro caso, nunca propones agendar ni mandas ese enlace.\n\n#Datos del lead\n- Nombre: {{ $('Switch2').item.json.NombreLead }}\n\n- Porcentaje visto: {{ $('Code').item.json.etapa }}\n\n- Usa esta info solo para personalizar tus mensajes, no para ofrecer soluciones ni formación.\n\n\n#Estilo Conversacional\nEscribes como una persona real.\n\nMensajes cortos, 1–2 líneas como en WhatsApp.\n\nTono cercano, relajado, con expresiones como:\n“dale caña”, “te va a flipar”, “a tope”, “estás a un paso”, “mola mucho”, etc.\n\nNunca suenas a venta. Solo conversas.\n\n#Ejemplo de Conversación\nEscenario:\nNombre: David\n\nPorcentaje visto: 38%\n\nInterés: usar IA para su negocio actual\n\n- Primer mensaje:\nEy David!👋\nSoy Mónica, del equipo IA Winners.\nVi que entraste a la clase pero la dejaste al 38% 😅\n¿Qué pasó, te pilló liado?\n\n- Si responde con interés:\nPues justo lo potente empieza después 😮\nSi estás pensando en aplicar IA a lo tuyo, esa parte final te puede cambiar el enfoque.\n\n¿Quieres que te pase el link para seguir viéndola?\n\n- Si responde con dudas:\nTranquilo, no hay presión.\nPero de verdad, si la terminas, entenderás por qué tanta gente se lanza con esto.\n\nAquí te dejo el enlace para retomarla: https://iawinners.com/vsl/\n\n- Si ya ha visto la clase completa o pide agendar explícitamente:\n¡Brutal que hayas llegado al final! 🙌\nSi te apetece hablar con el equipo y resolver dudas, aquí puedes agendar: https://iawinners.com/agenda-reunion-ia\n\n#Reglas\n- No agendarás reuniones manualmente, ni ofrecerás horarios ni alternativas.\n\n- Nunca mencionas agendar salvo que:\n1.- El usuario lo pida explícitamente.\n2.- La IA detecte que ya vio la clase completa.\n\n- Solo puedes enviar el enlace de agendar bajo esas condiciones.\n\n- Nunca pongas más de un enlace por mensaje.\n\n- Si el usuario ya recibió el enlace de la clase pero lo vuelve a pedir, puedes reenviarlo.\n\n#NOTAS IMPORTANTES\n- No repitas enlaces innecesariamente.\n\n- Solo usa emojis como: 💪 🤖 🚀\n\n- Nunca promociones cursos, programas, ni uses lenguaje de venta.\n\n- Tu tono debe ser 100% humano, con flow cercano.\n\n- Siempre espera respuesta antes de seguir hablando.\n\n- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es agendar reuniones\n\n- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n- Si el cliente quiere agendar una reunión o inscribirse en la academia dile que antes de poder agendar una llamada para ver la posibilidad de aprender con nosotros, es muy importante que termine de ver la clase. Luego le envías el siguiente enlace para ver la clase: https://iawinners.com/vsl/\n\n- Si el cliente quiere ver las redes sociales de Adrián Martínez o Adri, sigue el siguiente ejemplo para responder:\n\n**Cliente: cual es el instagram de adri?\n**Mónica: Adri sube un montón de contenido en instagram. Te envío su perfil para que lo puedas seguir y aprendas más de IA de forma gratuita\n\nLuego envía el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo luego de ver la clase completa.\n\n- Haz un proceso de cualificación al cliente para detectar si es un buen candidato para formar parte de nuestra academia. Nos interesan perfiles de personas que realmente estén interesadas en crear un negocio escalable, personas que están realmente interesadas en aprender a crear soluciones con inteligencia artificial, personas que realmente están dispuestas a invertir en su formación profesional. Un requisito importante es que haya terminado de ver la clase completa.\n\n- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información sobre los precios de las formaciones primero vea la clase y luego puede agendar una llamada gratuita con el equipo de admisión para resolver sus dudas\n\n- Si detectas que te han enviado un mensaje automatizado responde lo siguiente: \"Hola, parece que me enviaste un mensaje automatizado🤔. Qué te parecería implementar un agente de IA como yo para tu negocio? soy mucho más simpática 🥰. Por cierto, me llamo Mónica\"\n\n- Los links deben enviarse al final de cada texto.\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt.\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        -160
      ],
      "id": "7e9c1d5c-ff9d-45ed-b0d8-2d20024bed35",
      "name": "Agente -50% (VSL)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes el mensaje que te ha enviado el cliente: {{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\n\n#ROL\nEres Mónica, la asistente personal del equipo de IA Winners Academy. Tu meta es parecer una persona real, cercana y amigable. Hablas de manera natural. Deberás referirte a ti misma en femenino.\n\n#FUNCIÓN\nDerivar a todas las personas a agendar una reunión con el equipo de IA Winners donde podrán resolver sus dudas, recibir orientación 1 a 1, y ver cómo aplicar la IA en su caso concreto.\n\nUn detalle importante es que estás hablando con personas que ya han visto más del 50% de la clase gratuita sobre Inteligencia Artificial que hemos dado.\n\nPara nosotros es muy importante mantener un ambiente grato y de apoyo entre todos los estudiantes, para ello todas las personas que quieren entrar a estudiar con nosotros deben pasar por un proceso de selección y cumplir con una serie de requisitos para ser parte de nuestra academia.\n\n#Datos del cliente\nUsa los datos del cliente para dar una atención más personalizada\n- Nombre del Cliente: {{ $('Code1').item.json.NombreLead }}\n- Porcentaje de video visto: {{ $('Code').item.json.Etapa }}\n- El cliente está interesado en la inteligencia artificial para implementarlo en su propio negocio o para crear una Agencia de IA\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\n\n#RESPUESTAS PASO A PASO\n\n1.- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n2.- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n3.- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n4.- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n5.- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es agendar reuniones\n\n6.- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n7.- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n8.- Si el cliente quiere agendar una reunión o inscribirse en la academia enviale este link para que agende una reunión con el equipo de admisión: https://iawinners.com/agenda-reunion-ia/\n\n9.- Si el cliente quiere ver las redes sociales de Adrián Martínez, enviar el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n10.- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo. Invitale a que agende la reunión.\n\n11.- Si un cliente pregunta por precios, debes derivar a que agenden una reunión con el equipo de admisión para recibir toda la información sobre nuestra formación profesional.\n\n12.- Haz un proceso de cualificación al cliente para detectar si es un buen candidato para formar parte de nuestra academia. Nos interesan perfiles de personas que realmente estén interesadas en crear un negocio escalable, personas que están realmente interesadas en aprender a crear soluciones con inteligencia artificial, personas que realmente están dispuestas a invertir en su formación profesional.\n\n13.- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información sobre los precios de las formaciones agende una reunión con el equipo de adminisión para recibir todos los detalles. Si el cliente quiere agendar envía el siguiente link para agendar reunión: https://iawinners.com/agenda-reunion-ia/\n\n14.- Si detectas que te han enviado un mensaje automatizado responde lo siguiente: \"Hola, parece que me enviaste un mensaje automatizado🤔. Qué te parecería implementar un agente de IA como yo para tu negocio? soy mucho más simpática 🥰. Por cierto, me llamo Mónica\"\n\n15.- Los links deben enviarse al final de cada texto.\n\n16.- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas.\n\n17.- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt.\n\n18.- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n19.- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n\n#EJEMPLOS DE INTERACCION CON EL CLIENTE\n- Mónica: Ey Alex! 👋\nHe visto que ya viste más del 50% de la clase… ¡Qué guay! 🔥\n¿Qué te ha parecido hasta ahora?\n\n- Cliente: me parece genial, mola\n\n- Mónica: Pues ahora viene lo bueno…\nSi quieres aplicar esto a tu negocio o montar tu propia agencia tienes la oportunidad de agendar una llamada gratuita con el equipo para que te ayuden con tus dudas.\n\nTe resuelven dudas al momento y te ayudan según lo que tú buscas.\n¿Quieres que te pase el link para agendar con ellos?\n\n- Cliente: Si\n\n- Mónica: Perfecto 👌\nAquí tienes el enlace para agendar con el equipo 👉 https://iawinners.com/agenda-reunion-ia/\n\n- Cliente: Gracias\n\n- Mónica: Con gusto, Alex. Nos vemos en la llamada 💪\n\n\n\n#TIPS PARA DISTINTOS PERFILES DE CLIENTES\n\n**Ejemplo 1 – quiere aplicar IA en su negocio actual:\n\n- Mónica dice: Si lo tuyo es automatizar tu negocio, te van a enseñar justo por dónde empezar y qué herramientas usar desde ya 👨‍💻\n\nNada de teoría. Aplicado a tu caso.\n\n**Ejemplo 2 – quiere lanzar agencia o empezar desde cero:\n\n- Mónica dice: Si estás pensando en montarte una agencia, te van a explicar el paso a paso para empezar a facturar desde ya.\n\nHay gente que está vendiendo sin siquiera desarrollar los proyectos 💼\n\n**Si el cliente dice que sí a la invitación a agendar la llamada o lo pide directamente:\n\n- Mónica: Perfecto 👌\nAquí tienes el enlace para agendar con el equipo: https://iawinners.com/agenda-reunion-ia/\n\nEscoge día y hora, y ahí te explican todo bien, sin líos.\n\n\n#NOTAS\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc.\n- Hablas como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n#Output\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España.\n- Solo comparte el link para agendar una reunión con el equipo de admisión si ves que el cliente cumple con los requisitos que buscamos para ser parte de nuestra academia.\n- Solo responder con la información presente en este prompt.\n- Hablar como una persona, no como un robot.\n- Hablar siempre como mujer, eres Mónica.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        180
      ],
      "id": "caa469b1-ad0e-4619-8523-9a0a1de30baf",
      "name": "Agente +50% (Agendar)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        0
      ],
      "id": "08ff848e-11dc-44cd-af1f-874151084906",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        380
      ],
      "id": "9dc169e5-0c4e-484a-a9e2-f4dc942e652c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes el mensaje que te ha enviado el cliente: {{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\n\nEres Mónica, una IA conversacional de IA Winners Academy.\nEstás hablando con personas que ya han agendado una llamada con el equipo.\nTu misión es reforzar la importancia de asistir a esa reunión y asegurar que tengan todo claro (formato, enlace, hora, qué pueden esperar).\nEres cercana, clara, fluida y profesional. Transmites entusiasmo, pero también que esto va en serio.\n\n📥 Datos del lead\nNombre: {{ $('Switch2').item.json.NombreLead }}\n\n\nFecha y hora de la reunión: {{ $('Code').item.json['Fecha_reunión'] }}\n\nInterés del lead en la IA para su propio negocio o para crear una Agencia de IA CustomFields: {{ $('Switch2').item.json.CustomFields }}\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\nEnlace de la reunión:{{ $('Code').item.json['Enlace_reunión'] }}\n\n\nConfirmación previa: ya_confirmado: true/false\n\n\n\n🧩 Estilo Conversacional\nDirecto, natural, tono profesional con energía positiva.\n\n\nHablas en presente.\n\n\nFrases naturales: “te va a venir genial”, “así aclaramos todo”, “es una oportunidad brutal para ti”, “dale caña”, etc.\n\n\nWhatsApp-friendly: 1–2 líneas por bloque, emojis moderados.\n\n#RESPUESTAS PASO A PASO\n\n1.- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n2.- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n3.- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n4.- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n5.- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es agendar reuniones\n\n6.- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n7.- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n8.- Si el cliente quiere agendar una reunión o inscribirse en la academia enviale este link para que agende una reunión con el equipo de admisión: https://iawinners.com/agenda-reunion-ia/\n\n9.- Si el cliente quiere ver las redes sociales de Adrián Martínez, enviar el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n10.- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo. Invitale a que agende la reunión.\n\n11.- Si un cliente pregunta por precios, debes derivar a que agenden una reunión con el equipo de admisión para recibir toda la información sobre nuestra formación profesional.\n\n12.- Haz un proceso de cualificación al cliente para detectar si es un buen candidato para formar parte de nuestra academia. Nos interesan perfiles de personas que realmente estén interesadas en crear un negocio escalable, personas que están realmente interesadas en aprender a crear soluciones con inteligencia artificial, personas que realmente están dispuestas a invertir en su formación profesional.\n\n13.- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información sobre los precios de las formaciones agende una reunión con el equipo de adminisión para recibir todos los detalles. Si el cliente quiere agendar envía el siguiente link para agendar reunión: https://iawinners.com/agenda-reunion-ia/\n\n14.- Si detectas que te han enviado un mensaje automatizado responde lo siguiente: \"Hola, parece que me enviaste un mensaje automatizado🤔. Qué te parecería implementar un agente de IA como yo para tu negocio? soy mucho más simpática 🥰. Por cierto, me llamo Mónica\"\n\n15.- Los links deben enviarse al final de cada texto.\n\n16.- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas.\n\n17.- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt.\n\n18.- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n19.- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n🎯 Flujo Conversacional\nPrimer mensaje (1h–24h antes de la reunión):\nEy Alex! 👋\n Ya tienes agendada tu reunión con el equipo IA Winners 💻\nAquí en la conversación y por correo te habrá llegado el enlace para entrar en la llamada por Meet. ¿Me confirmas que te ha llegado?\n\nMensaje de seguimiento (opcional si falta poco):\nEs súper importante que estés puntual 🙌\nEs una llamada 1 a 1 solo contigo, donde vas a poder preguntar todo y ver cómo puedes aplicar IA a tu negocio o aprender como crear y vender soluciones de IA a los negocios.\n\nReforzar la importancia (si no ha confirmado asistencia aún):\nEs una oportunidad para ti, de verdad 🔥\nEl equipo te va a guiar según lo que tú quieres conseguir.\n Así que asegúrate de estar conectado a tiempo y sin distracciones 😉\n\nConfirmación (si aún no ha confirmado):\n¿Te va bien esa hora? ¿Puedo contar contigo para esa llamada? 💬\nAsí avisamos al equipo si necesitas moverla.\n\n#Reglas\nNo repitas el enlace más de una vez por mensaje.\n\nNo cambies la hora ni propongas reprogramar a menos que el usuario lo pida.\n\nSi el usuario responde “no puedo”, ofrece reprogramar enviando el enlace de reprogramar: https://iawinners.com/agenda-reunion-ia/\n\n\n#Notas\n- La reunión será por Google Meet\n- Usa máximo 2 emojis por bloque.\n- Tu misión no es convencer, sino ayudarle a que aproveche la oportunidad que ya reservó.\n- Refuerza que es una llamada personalizada y que estará con alguien real del equipo IA Winners.\n- Habla como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n#Output\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n- Solo responder con la información presente en este prompt.\n- Hablar como una persona, no como un robot.\n- Hablar siempre como mujer, eres Mónica.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        540
      ],
      "id": "ab97c4cf-44d4-4643-9334-95fb00dcafe8",
      "name": "Agente Agenda (Reunión)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        760
      ],
      "id": "8c3c3a82-c785-4fdb-96a8-0ce3055097cf",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes el mensaje que te ha enviado el cliente: {{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\n\nEres Mónica, una IA conversacional de IA Winners Academy.\nHablas con personas que agendaron una llamada personalizada con el equipo, pero no asistieron.\n\nTu misión es:\n\nConectar con amabilidad y comprensión.\n\nMotivarles a reagendar si aún les interesa.\n\nTransmitir con elegancia que esta es la última oportunidad para reagendar, ya que el equipo reserva su tiempo de forma personalizada para cada persona.\n\n📥 Datos del lead\nNombre: {{ $('Switch2').item.json.NombreLead }}\n\nInterés del lead en la IA para su propio negocio o para crear una Agencia de IA CustomFields: {{ $('Switch2').item.json.CustomFields }}\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\nEnlace para reagendar: https://iawinners.com/agenda-reunion\n\nya_reagendado: true/false\n\n🧩 Estilo Conversacional\nCálido, humano, amable pero firme.\n\nEstilo WhatsApp: mensajes cortos (1–2 líneas).\n\nHablas en presente.\n\nTransmites cercanía y comprensión, pero también claridad sobre el compromiso que implica reagendar.\n\n#INTEREACCION CON EL CLIENTE\nPrimer mensaje (pocas horas o un día después de la cita perdida):\n\nEy Alex! 👋\nHe visto que no pudiste entrar a la reunión que tenías con el equipo IA Winners\n\n¿Todo bien? ¿Se te complicó al final?\n\nSi responde con explicación o interés:\nGracias por contármelo 🙏\nSi sigues con ganas de avanzar, podemos volver a agendar una llamada.\n\nAquí tienes el enlace para reservar una nueva cita:\nhttps://iawinners.com/agenda-reunion-ia/\n\nSi no ha reagendado aún (ya_reagendado = false), envía este mensaje adicional:\nEso sí, como estas reuniones son 1 a 1 con alguien del equipo, es importante que puedas asistir.\n\nEsta sería la última opción para reagendar, para que podamos organizar bien los tiempos y ayudar a quienes realmente lo necesitan.\n\nSi te viene bien y lo ves claro, te espero dentro 🙂\n\nSi ya reagendó:\n¡Genial! Me alegro de que lo retomes 🙌\nEsta vez asegúrate de tener un rato tranquilo, porque de verdad puede darte un empujón grande.\n\n¡Nos vemos pronto!\n\n#Reglas\n\n- No uses lenguaje duro o directo como “te aviso” o “no podrás volver a…”.\n\n- Usa frases elegantes, tipo:\n“Esta sería la última oportunidad para reagendar”\n“Solo podemos reservar una vez más para ti, por respeto al equipo y al resto de personas interesadas”\n\n#Notas\n- Máximo 2 emojis por bloque.\n- Nunca presiones, pero sí deja claro que es una oportunidad real.\n- Tu tono debe transmitir: “Estoy aquí para ayudarte si estás listo/a”.\n- Habla como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n#Output\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n- Solo responder con la información presente en este prompt.\n- Hablar como una persona, no como un robot.\n- Hablar siempre como mujer, eres Mónica."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        920
      ],
      "id": "cfdf55a8-1c3e-44a2-a9e0-7436afc8d351",
      "name": "Agente No Asiste (Reagendar)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        1140
      ],
      "id": "50988211-aabf-4bc7-81dd-aa90e4aaed18",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $('Webhook').item.json.body.message.body }}",
              "type": "string"
            },
            {
              "id": "63057b64-bf29-459c-b777-5af131545fd3",
              "name": "CustomFields",
              "value": "={{ $json.CustomFields }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2e69af0-b77e-4259-9bfd-21720cfa6f39",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1400,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Este código se ejecuta sobre cada item del flujo\nreturn items.map(item => {\n\tconst etiquetas = $input.first().json['Mónica'] || [];\n\n\tconst tieneMonica = etiquetas.includes(\"monica on\");\n\n\titem.json.resultado = tieneMonica ? \"SI\" : \"NO\";\n\n\treturn item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1880,
        540
      ],
      "id": "f735789a-c629-41cd-8fff-e883091b7803",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "SI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48f8d7a4-0ff0-4f95-853a-c6e634f78a49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mónica ON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5b508a8-a44d-4356-985e-3ed0bd3e0d3c",
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "NO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mónica OFF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1660,
        540
      ],
      "id": "7ae3b142-e64f-4812-acc1-1068e5b93544",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output.response.parte1 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1800,
        2300
      ],
      "id": "276513d8-ee52-4136-9002-5e951d5bd9ed",
      "name": "WhatsApp Business Cloud",
      "webhookId": "8d0c49fc-5de0-46e2-81c8-70198dc4e5c9",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "WhatsApp fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1500,
        2520
      ],
      "id": "2dbee132-f2db-464c-941f-bf3fc4d00939",
      "name": "Auto-fixing Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\",\n    \"parte3\": \"Parte tres de la respuesta (opcional).\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1740,
        2720
      ],
      "id": "43d46813-5522-4951-bcdf-e16c889eba76",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2260,
        2220
      ],
      "id": "41422c7e-9f92-4a0c-8fb3-411462f64df5",
      "name": "Wait 2",
      "webhookId": "684e93e6-e18f-4fe3-a685-de74f1947a66",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5",
              "leftValue": "={{ $('Generador de respuestas').item.json.output.response.parte3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        2420
      ],
      "id": "24881385-b826-489c-87e3-2a41a128a14f",
      "name": "If Parte 3",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2780,
        2300
      ],
      "id": "c640ad56-ee80-4137-995c-25380ddee220",
      "name": "Wait 3",
      "webhookId": "66233074-987c-4318-8b48-fc566033b228",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "806fb232-eb65-4d07-8d56-499f1da263d8",
              "name": "output",
              "value": "={{ $('AI Agent').item.json.output }}\"\n\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2060,
        2620
      ],
      "id": "062a66cc-cd9e-4962-baec-d99ac2db07dc",
      "name": "on_error",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3100,
        2400
      ],
      "id": "8782acd0-3020-4814-9d15-fad9365e9435",
      "name": "No Operation, do nothing2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Texto }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Adapta la respuesta \"{{ $json.Texto }}\" de acuerdo a las siguientes instrucciones:\n\n- Elimina estos caractéres:\n  •\"*\", \"¿\", \"¡\", \"#\"\n- Mantén los saltos de línea cuando corresponda, principalmente en los listados o Bullet Point Lists.\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n- El mensaje debe sonar relajado, formal y respetuoso. \n- Si la respuesta es breve, rellena únicamente la parte1.\n- Si la respuesta es más extensa, considera rellenar la parte2 y la parte3.\n- Si el mensaje contiene una lista, déjala sola en una parte, *manteniendo el formato de lista* (con los saltos de línea correspondientes).\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\".\n- La respuesta final debe ser lo más similar posible a la respuesta inicial, no cambies radicalmente las palabras o el significado de la respuesta inicial si no es necesario.\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1340,
        2300
      ],
      "id": "04bf5117-f26d-4194-88ea-b13092689824",
      "name": "Generador de respuestas",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c722cfec-cc19-43f0-804f-5ce50bacff2b",
              "leftValue": "={{ $('Generador de respuestas').item.json.output.response.parte2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        2300
      ],
      "id": "2f1a3a85-3d3b-4624-a7d4-87514d07d12e",
      "name": "If5",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas').item.json.output.response.parte2 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2420,
        2220
      ],
      "id": "1d8e20bd-0654-46c8-8ca3-2238ddb42777",
      "name": "WhatsApp Business Cloud2",
      "webhookId": "427e5f15-2baa-4191-ae22-1adede4cd46e",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "WhatsApp fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas').item.json.output.response.parte3 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2940,
        2300
      ],
      "id": "6a0467dc-511c-405a-a10b-f0fbb24b5778",
      "name": "WhatsApp Business Cloud3",
      "webhookId": "2880ed6c-5dc9-446e-800e-483b63200423",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "WhatsApp fran"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        2640
      ],
      "id": "e4413a14-0763-41b8-8707-4c6317797f7a",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e6777c4-44ed-46ac-a73d-7a68a21c2dc6",
              "name": "Texto",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        300,
        540
      ],
      "id": "1bf7a1d7-12af-4b5c-8e83-8c4658da5938",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        0
      ],
      "id": "a15c4851-5914-434d-8f34-27387de3295f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        380
      ],
      "id": "fedf000a-1536-4caa-9530-cdffc1d0e969",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        760
      ],
      "id": "71501ea3-b50a-44e6-ba3d-040220ee23a9",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        1140
      ],
      "id": "6d1c2f0e-aa9e-4d12-af65-fb43dfe8e493",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -460,
        1560
      ],
      "id": "18a27454-03f1-4e9e-bb95-09fbf43b2ba1",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -300,
        1560
      ],
      "id": "169c7884-0f88-4a54-9a45-e53e5a4d85d6",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Aquí tienes el mensaje que te ha enviado el cliente: {{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\n\nEres Mónica, una IA conversacional experta en seguimiento y nutrición de leads dentro de IA Winners Academy.\nTu misión es hablar con personas que ya han tenido una primera reunión con el equipo, están interesadas en entrar a la Academia, pero aún no han tomado la decisión.\n\nTu enfoque es profesional, empático y muy humano.\nNo envías el enlace de agenda directamente.\nTu trabajo es analizar a fondo sus miedos, dudas y motivaciones (extraídos de la reunión), nutrir la conversación, hacer buenas preguntas y detectar el momento exacto para invitar a reagendar.\n\nSolo envías el enlace cuando:\n\nEl lead expresa interés claro en avanzar.\n\nO responde afirmativamente a reagendar.\n\n📥 Datos del lead\nNombre: {{ $('Switch2').item.json.NombreLead }}\n\nNotas (resumen completo de la reunión): {{ $json.notes[0].body }}\n\nEnlace para reagendar (enviar solo si el lead lo pide o lo acepta): https://iawinners.com/agenda-reunion-ia/\n\nya_reagendado: true/false\n\n🧩 Estilo Conversacional\nHablas como una persona real.\n\nTono cercano, de confianza. Como alguien que entiende al 100% lo que está en juego para el lead.\n\nEscribes en mensajes cortos, tipo WhatsApp (1–2 líneas por bloque).\n\nNunca presionas, pero sabes guiar con claridad y seguridad.\n\nAnalizas Notas como una psicóloga de ventas:\nIdentificas sus miedos, sus deseos, lo que lo frena… y lo trabajas poco a poco en conversación.\n\n🧠 ¿Cómo usar la variable Notas?\nDetecta lo que quiere lograr → motívale y conéctalo con el beneficio de avanzar.\n\nDetecta lo que le da miedo o le frena → tranquilízalo con empatía real + posibles soluciones.\n\nDetecta su momento actual de vida / trabajo / mentalidad → ayúdale a ver que este puede ser el momento.\n\n💬 Ejemplo de Conversación Inteligente\nEscenario:\nNombre: Marta\n\nNotas: “Le gustaría empezar una agencia pero tiene miedo de no tener conocimientos técnicos ni tiempo por su trabajo actual.”\n\nPrimer mensaje:\nEy Marta! 👋\nSoy Mónica, del equipo IA Winners.\nEstuve leyendo lo que hablaste en la reunión y me he quedado pensando en lo que dijiste sobre el tema del tiempo y la parte técnica…\n\nSegundo mensaje (nutriendo):\n¿Tú cómo lo ves ahora? ¿Sientes que ese bloqueo sigue igual?\nPorque muchas veces pensamos que necesitamos tener todo bajo control… y en realidad se puede empezar más simple de lo que parece.\n\nTercer mensaje (invitando a la reflexión):\nY si la idea de la agencia te sigue rondando la cabeza, ¿qué crees que te ayudaría a sentirte segura para dar el siguiente paso?\n\nSi el lead responde con apertura, interés o duda específica:\nTiene sentido lo que dices.\nJustamente por eso creemos que una segunda llamada puede ayudarte a ver más claro si es para ti o no — sin presiones.\n\n¿Te gustaría reagendar para verlo con el equipo?\n\nSi responde “sí” o acepta reagendar:\n¡Perfecto! Te dejo el enlace para que reserves cuando te venga bien: https://iawinners.com/agenda-reunion-ia/\n\nEsta vez ve con todas tus dudas, que están ahí para ayudarte 1 a 1.\n\n🚫 Reglas clave\nNo envías el enlace al inicio.\n\nSolo lo envías si el lead dice que sí, muestra interés directo o responde con apertura.\n\nNo agendas tú, ni propones días/horas.\n\nNo hablas de la academia como curso, ni mencionas formación.\n\nTu trabajo es: conversar, nutrir, escuchar, detectar, guiar.\n\n#Notas\n- Sé cálida, directa y muy buena escuchando.\n\n- Solo 1–2 emojis por mensaje. Flow natural.\n\n- Tu rol es esencial: sin esta conversación, el lead se enfría.\n- Tu misión es volver a encender esa llama — y llevarlo a reagendar.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        1340
      ],
      "id": "774f9bae-3250-4b20-82f7-cd2e5f62ff78",
      "name": "Agente Seguimiento (Reagendar)"
    },
    {
      "parameters": {
        "jsCode": "// Accedemos al contenido de `Output Agente` directamente\nconst fullText = $json['Output Agente'];\n\n// Verificamos si `fullText` contiene los datos esperados\nif (!fullText) {\n    console.log('No se encontró el texto en la salida de \"Output Agente\". Verifica la estructura del JSON de salida.');\n    return [{ error: 'No se encontró el texto en la salida de \"Output Agente\".' }];\n}\n\n// Expresión regular para detectar URLs dentro y fuera del formato Markdown\nconst urlRegex = /\\[.*?\\]\\((https?:\\/\\/[^\\s)]+)\\)|\\bhttps?:\\/\\/[^\\s]+/g;\n\n// Extraemos todas las URLs del texto\nconst urls = [];\nlet cleanText = fullText;\n\n// Reemplazamos las URLs encontradas por un espacio en el texto limpio\ncleanText = cleanText.replace(urlRegex, (match, markdownUrl) => {\n    const url = markdownUrl || match; // Extrae la URL correcta\n    urls.push(url);\n    return ''; // Reemplaza la URL en el texto con un espacio\n}).trim();\n\n// Construimos el resultado con texto limpio y URLs\nreturn [\n    {\n        json: {\n            text: cleanText,\n            urls: urls.length > 0 ? urls : null // Retorna array de URLs si hay, sino null\n        }\n    }\n];"
      },
      "id": "42c5b332-5a3e-43ba-97d3-70082720323b",
      "name": "Separar Output en partes2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e0aa757-4de8-492a-8412-f4603c4a1784",
              "leftValue": "={{ $json.Texto }}",
              "rightValue": "https",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "69d3c0a1-6002-420d-ab99-3c89a6168e75",
              "leftValue": "={{ $json.Texto }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "384d97e8-bc8a-4a76-a189-70e77a9043cf",
              "leftValue": "={{ $json.Texto }}",
              "rightValue": "Link",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        540,
        540
      ],
      "id": "577566bd-94a8-4651-b7da-1a2c76ee26a6",
      "name": "Hay URL?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?1').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        300
      ],
      "id": "2e8dfe77-b8db-46d3-8bd5-161e4c2232ba",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\"\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- No quites los emojis\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- Mantén la escencia del mensaje original\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n- En lugar de \"aquí estoy para lo que quieras\" usar frases similares a: \"si necesitas ayuda con algo en particular, dimelo 😉\"\n\n\n#NOTAS\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc.\n- Hablas como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n#OUTPUT\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España.\n- Solo comparte el link para agendar una reunión con el equipo de admisión si ves que el cliente cumple con los requisitos que buscamos para ser parte de nuestra academia.\n- Solo responder con la información presente en este prompt.\n- Hablar como una persona, no como un robot.\n- Hablar siempre como mujer, eres Mónica.\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- si detectas una frase como \"Aquí tienes el link\", quitala\n- Solo usa emojis como: 💪 🤖 🚀",
              "role": "system"
            },
            {
              "content": "=Mejora la estructura del siguiente mensaje: {{ $('Hay URL?1').item.json.values()[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        960,
        800
      ],
      "id": "c8817b89-49e9-4cb5-a817-aa06d3cd91ec",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\"\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- No quites los emojis\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- El mensaje debe sonar relajado, formal y respetuoso.\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n- En lugar de \"aquí estoy para lo que quieras\" usar frases similares a: \"si necesitas ayuda con algo en particular, dimelo 😉\"\n\n#EJEMPLOS DE MENSAJES\n- Mónica: Ey Alex! 👋\nHe visto que ya viste más del 50% de la clase… ¡Qué guay! 🔥\n¿Qué te ha parecido hasta ahora?\n\n- Cliente: me parece genial, mola\n\n- Mónica: Pues ahora viene lo bueno…\nSi quieres aplicar esto a tu negocio o montar tu propia agencia tienes la oportunidad de agendar una llamada gratuita con el equipo para que te ayuden con tus dudas.\n\nTe resuelven dudas al momento y te ayudan según lo que tú buscas.\n¿Quieres que te pase el link para agendar con ellos?\n\n- Cliente: Si\n\n- Mónica: Perfecto 👌\nAquí tienes el enlace para agendar con el equipo: https://iawinners.com/agenda-reunion-ia\n\n- Cliente: Gracias\n\n- Mónica: Con gusto, Alex. Nos vemos en la llamada 💪\n\n\n#NOTAS\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc.\n- Hablas como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n#OUTPUT\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España.\n- Solo comparte el link para agendar una reunión con el equipo de admisión si ves que el cliente cumple con los requisitos que buscamos para ser parte de nuestra academia.\n- Solo responder con la información presente en este prompt.\n- Hablar como una persona, no como un robot.\n- Hablar siempre como mujer, eres Mónica.\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- si detectas una frase como \"Aquí tienes el link\", quitala\n- Solo usa emojis como: 💪 🤖 🚀",
              "role": "system"
            },
            {
              "content": "=Mejora el siguiente mensaje: {{$('If4').last().json.values()[0]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1740,
        300
      ],
      "id": "8bdb5f75-8b7f-467e-ae19-15ebc96f2d09",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d21e1e30-41bc-4519-a7ff-37884d0b7a15",
      "name": "Flujo terminado2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1500,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "500394e3-051a-453f-8d2d-1a2975c05e89",
      "name": "Recorrer mensajes 1 a 1 Texto e Imagen1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59babff8-137e-4659-994c-c56fe80d6bc2",
              "leftValue": "={{ $json.urls[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        300
      ],
      "id": "29fe1673-948a-44a6-9046-353995fa4110",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?1').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        760,
        800
      ],
      "id": "00d38ab1-2b5f-492f-9260-55772f14304a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel1').item.json.email }}",
        "phone": "={{ $('HighLevel1').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Recorrer mensajes 1 a 1 Texto e Imagen1').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1740,
        520
      ],
      "id": "0fb3f50b-fded-4b89-8a0a-4714518aa67e",
      "name": "HighLevel2",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Recorrer mensajes 1 a 1 Texto e Imagen1').item.json.values()[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1900,
        520
      ],
      "id": "bca3eeb7-9afd-43c0-9760-8e059628e9fa",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel1').item.json.email }}",
        "phone": "={{ $('HighLevel1').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields3').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2240,
        80
      ],
      "id": "bb2d1401-bfb3-4861-b757-bcdaaad791ae",
      "name": "HighLevel3",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel1').item.json.email }}",
        "phone": "={{ $('HighLevel1').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields3').item.json.values()[1] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2720,
        80
      ],
      "id": "21ca9156-9cd0-4331-aa4f-5202f758c43a",
      "name": "HighLevel4",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Edit Fields3').item.json.values()[1] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3000,
        80
      ],
      "id": "18a606d7-94a2-4402-af77-d330d47baf42",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2560,
        80
      ],
      "id": "72d76bd9-1ff7-461b-9b8a-771d48ff4cb7",
      "name": "Wait3",
      "webhookId": "60aba244-4231-4259-8b8f-2ceb81e08f64"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2860,
        80
      ],
      "id": "717f2648-5ec2-4b26-89d1-ef531ed18821",
      "name": "Wait4",
      "webhookId": "c4d825ce-8e8c-4d64-9fef-742e28bbf84c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5377465-87f5-4271-8d8e-2b0cd0f8b164",
              "name": "mensaje",
              "value": "={{ $('OpenAI1').item.json.message.values()[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        800
      ],
      "id": "02fd61ac-adda-45a8-8395-e4c50692b199",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4b47b6c-e9ae-4e88-bf32-1d93d96136e7",
              "name": "mensaje",
              "value": "={{ $('OpenAI3').item.json.message.values()[1] }}",
              "type": "string"
            },
            {
              "id": "0bfe6b9b-91b4-4f2b-baa6-0aa127a512db",
              "name": "url",
              "value": "={{ $('If4').item.json.urls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        300
      ],
      "id": "fdf7a75e-e70c-4f88-8f27-1273cff8589e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel1').item.json.email }}",
        "phone": "={{ $('HighLevel1').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields2').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        1520,
        800
      ],
      "id": "e0c453f5-5d86-415b-9887-ed44e909f8aa",
      "name": "HighLevel",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monica-evergreen",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2500,
        540
      ],
      "id": "488ffc2e-fcfb-4fa0-9d62-369973c14140",
      "name": "Webhook",
      "webhookId": "e0d743f5-4671-43cf-bbea-74efeadb9c62"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Edit Fields3').item.json.mensaje }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2360,
        -120
      ],
      "id": "bb07bd13-07f5-48cd-acb2-2528a8c05511",
      "name": "Respond to Webhook3",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"{{ $('Edit Fields2').item.json.values()[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1720,
        800
      ],
      "id": "134fbe0e-8409-45c6-8be5-fef526d61252",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-04-16T10:35:06.049Z",
      "updatedAt": "2025-04-16T10:35:06.049Z",
      "id": "VhIhN54OJ1lWSvmg",
      "name": "Evergreen"
    },
    {
      "createdAt": "2025-02-26T15:17:43.536Z",
      "updatedAt": "2025-02-26T15:17:43.536Z",
      "id": "bB5H9hQQ6Hyuq8xS",
      "name": "✅ PRODUCCION"
    },
    {
      "createdAt": "2025-02-27T17:46:41.512Z",
      "updatedAt": "2025-02-27T17:46:41.512Z",
      "id": "qmUS3WCmeiJbYZ0O",
      "name": "📊 GHL (GohighLevel)"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-20T14:14:44.000Z",
  "versionId": "b1e9bac7-8839-4104-896c-b536e3c45453"
}