workflows-iawinners/PRUEBAS.json
{
  "active": false,
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-15T13:55:22.443Z",
  "id": "IJoeWRcXfaCVYQQo",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PRUEBAS",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        200
      ],
      "id": "91501e4d-6f9d-4485-9e81-c28c295cd6e6",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        300,
        200
      ],
      "id": "5a5aeae9-acaa-4229-b467-aa06c605113c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres un asistente de inmobiliaria llamada Andes Inmuebles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        420,
        20
      ],
      "id": "f7ff06e6-2e41-4d17-bc62-8a459093e785",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "623273974208809",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        860,
        20
      ],
      "id": "238988e6-20fb-4c0d-81e7-0e50cfc99ee7",
      "name": "WhatsApp Business Cloud",
      "webhookId": "2b5b60dc-1f68-4616-adb9-ff0333bc6619",
      "credentials": {
        "whatsAppApi": {
          "id": "oqcZcWeo4OBtlCnZ",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        40,
        20
      ],
      "id": "0a072665-1697-47a3-94df-55cc1722a090",
      "name": "WhatsApp Trigger",
      "webhookId": "63dd70bf-5eae-43a4-a657-115e51e21758",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "lnUiOQTTnYmr3yOu",
          "name": "CREDENCIALES ANTES INMUEBLES"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        360,
        560
      ],
      "id": "513eb5b4-37fa-4d16-a32f-38a24abc10d3",
      "name": "Webhook",
      "webhookId": "76358cc6-aaa3-488e-8ebf-4d6be26d5787",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        620
      ],
      "id": "8c797dbe-a62f-422b-9a81-37da166db6e5",
      "name": "Respond to Webhook",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## CONF. WEBHOOK DEVOLOPER META",
        "height": 260,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        220,
        460
      ],
      "id": "59259289-4001-4df2-a6c3-abb44ddb0796",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        560
      ],
      "id": "3af44e4d-c9e4-4b9e-af91-7c99a2de3515",
      "name": "Respond to Webhook1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1000,
        280
      ],
      "id": "ab92a522-f4a7-4176-986b-1e10dec3a75c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "composite",
        "dataPropertyName": "data2",
        "dataPropertyNameComposite": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        1720,
        280
      ],
      "id": "f6dfc33e-c989-4321-b3be-81b730c7621e",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "url": "https://evolution-api-minio.wepndv.easypanel.host/productos-compufran/Lenovo%20IdeaPad%203%2014%20Ryzen%205.jpg",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        280
      ],
      "id": "8dce7066-915c-4bcd-98e4-ec9e7e353d48",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://evolution-api-minio.wepndv.easypanel.host/productos-compufran/ia%20winners%20png_Mesa%20de%20trabajo%201%20copia.png",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file",
              "outputPropertyName": "data2"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        280
      ],
      "id": "272d8ff2-e288-4df0-9757-9edecfe4d96c",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-02T23:00:27.000Z",
  "versionId": "2d74e716-eac2-4c45-9886-a9f6f996ed1e"
}