workflows-iawinners/Super Winner - Agente CRM.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Contactos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Agente de Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Contactos": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ObtenerContactos": {
      "ai_tool": [
        [
          {
            "node": "Agente de Contactos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ActualizarEstado": {
      "ai_tool": [
        [
          {
            "node": "Agente de Contactos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EliminarContacto": {
      "ai_tool": [
        [
          {
            "node": "Agente de Contactos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AddContactos": {
      "ai_tool": [
        [
          {
            "node": "Agente de Contactos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-09T17:26:58.867Z",
  "id": "9Jz5FxSMkWpFvF1x",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Super Winner - Agente CRM",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        340
      ],
      "id": "8dbf775b-bbe2-4eba-af86-24b50936a956",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -900,
        40
      ],
      "id": "5c7089af-8e03-4d48-89cb-97107739fad8",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "495b6463-6609-445d-b79c-34abe699b995",
      "name": "✅"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "Ha ocurrido un error. Por favor, inténtalo de nuevo.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ],
      "id": "7e5650b0-a281-461c-af11-3bc7cd7ea5db",
      "name": "❌"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Resumen  \nEres un asistente de gestión de contactos. Tus responsabilidades incluyen buscar contactos, agregar nuevos contactos o actualizar la información de un contacto.  \n\n## Gestión de Contactos  \n- Usa \"ObtenerContactos\" para obtener información de contacto. \n- Usa \"AddContactos\" para almacenar nueva información de contacto.\n- Usa \"ActualizarEstado\" para modificar y actualizar el estado de un contacto existente.\n- Usa \"EliminarContacto\" para eliminar la información de un contacto existente, debes obtener primero su \"row_number\" con \"ObtenerContactos\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        80
      ],
      "id": "95b05129-050e-416b-972c-247b03c86434",
      "name": "Agente de Contactos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes",
          "mode": "list",
          "cachedResultName": "CRM - SuperWinner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -540,
        320
      ],
      "id": "e534dc59-d469-475b-a50c-183c301bf39a",
      "name": "ObtenerContactos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wn4uY6kEcSU7yGw8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes",
          "mode": "list",
          "cachedResultName": "CRM - SuperWinner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $fromAI(\"nombre\") }}",
            "Apellidos": "={{$fromAI(\"apellidos\")}}",
            "Email": "={{$fromAI(\"email\")}}",
            "Whats App": "={{$fromAI(\"whatsapp\")}}",
            "Empresa": "={{$fromAI(\"empresa\")}}",
            "Información": "={{$fromAI(\"informacion\")}}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whats App",
              "displayName": "Whats App",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Información",
              "displayName": "Información",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -240,
        380
      ],
      "id": "34b1c643-62dc-4ee2-a0d3-919f910bbe1a",
      "name": "ActualizarEstado",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wn4uY6kEcSU7yGw8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes",
          "mode": "list",
          "cachedResultName": "CRM - SuperWinner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit#gid=0"
        },
        "startIndex": "={{$fromAI (\"row_number\")}}",
        "numberToDelete": "={{ 1 }}"
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -100,
        320
      ],
      "id": "6225ade3-0dfb-4c43-adcd-51fc39caf31d",
      "name": "EliminarContacto",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wn4uY6kEcSU7yGw8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes",
          "mode": "list",
          "cachedResultName": "CRM - SuperWinner",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wmnE3nT5IWO_iu1rnbkmbISPy9uUD-Yw-BGvSq9ELes/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{$fromAI(\"nombre\")}}",
            "Apellidos": "={{$fromAI(\"apellidos\")}}",
            "Email": "={{$fromAI(\"email\")}}",
            "Whats App": "={{$fromAI(\"whatsapp\")}}",
            "Empresa": "={{$fromAI(\"empresa\")}}",
            "Información": "={{$fromAI(\"empresa\")}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Apellidos",
              "displayName": "Apellidos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whats App",
              "displayName": "Whats App",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Información",
              "displayName": "Información",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -400,
        380
      ],
      "id": "ef8d61e0-39ec-40ca-bffb-a1f63617688d",
      "name": "AddContactos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Wn4uY6kEcSU7yGw8",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-09T17:24:59.078Z",
      "updatedAt": "2025-03-09T17:24:59.078Z",
      "id": "kKf4nTigoHJQmBQY",
      "name": "SuperW"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-03-09T19:23:17.000Z",
  "versionId": "a462537b-0029-449a-a592-5b60d1a5c35b"
}