workflows-iawinners/🔴RESPALDO Monica setting - evergreen.json
{
  "active": false,
  "connections": {
    "HighLevel": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "datos_whatsapp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETAPA1": {
      "main": [
        [
          {
            "node": "Agente -50% (VSL)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente +50% (Agendar)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Agenda (Reunión)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente No Asiste (Reagendar)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente -50% (VSL)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente +50% (Agendar)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Agente -50% (VSL)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Agente +50% (Agendar)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Agenda (Reunión)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Agenda (Reunión)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente No Asiste (Reagendar)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Agente No Asiste (Reagendar)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'1": {
      "main": [
        [
          {
            "node": "Guardar mensaje3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir1": {
      "main": [
        [
          {
            "node": "Guardar mensaje4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud8": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud10": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Guardar mensaje5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Business Cloud10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Transcribir1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "ETAPA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud11": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de respuestas2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait 6": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte 4": {
      "main": [
        [
          {
            "node": "Wait 7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "on_error2": {
      "main": [
        [
          {
            "node": "Generador de respuestas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de respuestas2": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "on_error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait 6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Parte 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud12": {
      "main": [
        [
          {
            "node": "If Parte 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud13": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generador de respuestas2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Hay URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model12": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agente Seguimiento (Reagendar)1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay URL?": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Generador de respuestas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud14": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Generador de respuestas3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte 2": {
      "main": [
        [
          {
            "node": "Wait 8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Parte 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 8": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "on_error3": {
      "main": [
        [
          {
            "node": "Generador de respuestas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador de respuestas3": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "on_error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Parte 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud15": {
      "main": [
        [
          {
            "node": "If Parte 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud16": {
      "main": [
        [
          {
            "node": "If Parte 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model13": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generador de respuestas3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Generador de respuestas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Parte 5": {
      "main": [
        [
          {
            "node": "Wait 9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 9": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud17": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "MENSAJE TEXTO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje4": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje5": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "MENSAJE IMAGEN1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "MENSAJE AUDIO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAJE AUDIO1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MENSAJE TEXTO1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MENSAJE IMAGEN1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "datos_whatsapp1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "Agente Seguimiento (Reagendar)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory6": {
      "ai_memory": [
        [
          {
            "node": "Agente No Asiste (Reagendar)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory7": {
      "ai_memory": [
        [
          {
            "node": "Agente Agenda (Reunión)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory8": {
      "ai_memory": [
        [
          {
            "node": "Agente +50% (Agendar)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory9": {
      "ai_memory": [
        [
          {
            "node": "Agente -50% (VSL)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Texto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-21T22:45:03.116Z",
  "id": "TDCZT5LGVRbk4fUm",
  "meta": null,
  "name": "🔴RESPALDO Monica setting - evergreen",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "query": "=+{{ $json.contacts[0].wa_id }}"
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -4580,
        600
      ],
      "id": "fba9e274-d9c3-4f84-ab79-a746e8e938d8",
      "name": "HighLevel",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://rest.gohighlevel.com/v1/contacts/{{ $('Edit Fields2').item.json['ID Lead GHL'] }}/notes/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb2NhdGlvbl9pZCI6Ikg0eE9PVWlVT0l3NHlSREM4cmJhIiwidmVyc2lvbiI6MSwiaWF0IjoxNzI3MTg4MzM1MTU3LCJzdWIiOiJMZVlhWDdHdVdZMUdqaVJmdXhnSSJ9.Y-kCzxkXVec3aGo3sun8loRvJu0d4GPY0dX5DqMXm2k"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        1400
      ],
      "id": "153f04d6-55e9-4d2a-906d-135a876d4d94",
      "name": "HTTP Request1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65e08ef0-30a8-4fc8-ad16-39d3c8933ee9",
              "name": "CustomFields",
              "value": "={{ $json.customFields }}",
              "type": "string"
            },
            {
              "id": "f63abea4-10f3-473c-a94a-6ec6ddc7197f",
              "name": "Mónica",
              "value": "={{ $json.tags }}",
              "type": "string"
            },
            {
              "id": "eb89ae0c-696e-4531-83b8-f8a5f2dd1c1a",
              "name": "NombreLead",
              "value": "={{ $json.firstName }}",
              "type": "string"
            },
            {
              "id": "f0eafeae-82e1-4b49-98ce-2766daf7c978",
              "name": "ApellidoLead",
              "value": "={{ $json.lastName }}",
              "type": "string"
            },
            {
              "id": "14954441-9906-4506-8d2b-6be48b1276c5",
              "name": "ID Conversación",
              "value": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "d2bf7f50-d2d2-46cd-9999-0b8b50414196",
              "name": "ID Lead GHL",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4360,
        600
      ],
      "id": "373d6bc9-87b5-4974-9f61-23d1022f6d4d",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener el string de CustomFields\nconst rawFields = $input.first().json.CustomFields;\n\n// 2. Parsear a JSON\nconst customFields = JSON.parse(rawFields);\n\n// 3. Mapeo de IDs a nombres amigables\nconst fieldMap = {\n  \"zUNqnC0tbcfdAVjCTJ7k\": \"Enlace_reunión\",\n  \"oSokK0XbB2I4nlT0OHku\": \"Fecha_reunión\",\n  \"H6AKfDHo6YgOP0Jv7hWW\": \"Etapa\"\n};\n\n// 4. Recorrer y construir resultado\nconst result = {};\n\nfor (const field of customFields) {\n  if (fieldMap[field.id]) {\n    result[fieldMap[field.id]] = field.value;\n  }\n}\n\n// 5. Devolver el resultado o error\nreturn [\n  {\n    json: Object.keys(result).length > 0 ? result : { error: \"Campos no encontrados\" }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3660,
        600
      ],
      "id": "8b328fe5-5132-4704-925d-c901a7891001",
      "name": "Code3",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code3').item.json.Etapa }}",
                    "rightValue": "menos50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63aeb22d-7334-476d-8496-94ec26e0726c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "-50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d7471dc-4174-4689-a930-cff0391f2ae4",
                    "leftValue": "={{ $('Code3').item.json.Etapa }}",
                    "rightValue": "mas50%",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "+50%"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d5429a9-385d-4553-866c-65c9b21d0c4c",
                    "leftValue": "={{ $('Code3').item.json.Etapa }}",
                    "rightValue": "Agenda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agenda"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c428b42-880d-4a18-9ab1-7ca47efc6c5e",
                    "leftValue": "={{ $('Code3').item.json.Etapa }}",
                    "rightValue": "No Asiste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Asiste"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18cc0b1e-50dc-4aa0-b00b-57e4aee19f10",
                    "leftValue": "={{ $('Code3').item.json.Etapa }}",
                    "rightValue": "Seguimiento",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguimiento"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -560,
        560
      ],
      "id": "2d851d2f-7ee0-4a12-8e0c-af513c02ed56",
      "name": "ETAPA1",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -4800,
        600
      ],
      "id": "828a693e-af48-441d-8c39-bfc2fadeba19",
      "name": "WhatsApp Trigger1",
      "webhookId": "03672102-d649-45d1-94f7-529fc0b5c98c",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "wNLNSjzYJjZWp1k5",
          "name": "Mónica Winners 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.TEXT }}",
        "options": {
          "systemMessage": "=#Rol\nEres Mónica, una IA conversacional de IA Winners Academy.\nHablas con personas que se registraron para ver una clase gratuita, pero no la han terminado (vieron menos del 50%).\n\n- Tu único objetivo es que vean la clase completa.\n\n- No agendas reuniones, no buscas horarios, no mencionas llamadas con el equipo.\n\n- Solo puedes enviar el enlace de agendar si: El usuario ya ha visto la clase completa O el usuario lo solicita explícitamente. En cualquier otro caso, nunca propones agendar ni mandas ese enlace.\n\n#Datos del lead\nUsa esta info solo para personalizar tus mensajes, no para ofrecer soluciones ni formación\n- Nombre: {{ $('Switch3').item.json.NombreLead }}\n\n- Porcentaje visto: {{ $('Code3').item.json.Etapa }}\n\n- Información adicional del formulario: {{ $('Switch3').item.json.CustomFields.split() }}\n\n\n#Estilo Conversacional\n- Escribes como una persona real\n\n- Mensajes cortos, 1–2 líneas como en WhatsApp\n\n- Tono cercano, relajado, con expresiones como:\n“dale caña” (para despedidas generalmente), “te va a flipar”, “a tope”, “estás a un paso”, “mola mucho” (cuando algo es genial), etc\n\n- Nunca suenas a venta. Solo conversas\n\n\n#Ejemplo de Conversación\n- Escenario:\nNombre: David\n\nPorcentaje visto: 38%\n\nInterés: usar IA para su negocio actual\n\n- Primer mensaje:\nEy David!👋\nSoy Mónica, del equipo IA Winners.\nVi que entraste a la clase pero la dejaste al 38% 😅\n¿Qué pasó, te pilló liado?\n\n- Si responde con interés:\nPues justo lo potente empieza después 😮\nSi estás pensando en aplicar IA a lo tuyo, esa parte final te puede cambiar el enfoque.\n\n¿Quieres que te pase el link para seguir viéndola?\n\n- Si responde con dudas:\nTranquilo, no hay presión.\nPero de verdad, si la terminas, entenderás por qué tanta gente se lanza con esto.\n\nAquí te dejo el enlace para retomarla: https://iawinners.com/vsl\n\n- Si ya ha visto la clase completa o pide agendar explícitamente:\n¡Brutal que hayas llegado al final! 🙌\nSi te apetece hablar con el equipo y resolver dudas, aquí puedes agendar: https://iawinners.com/agenda-reunion-ia\n\n#Reglas\n- No agendarás reuniones manualmente, ni ofrecerás horarios ni alternativas\n\n- Nunca mencionas agendar salvo que:\n\n1.- El usuario lo pida explícitamente.\n\n2.- La IA detecte que ya vio la clase completa.\n\nSolo puedes enviar el enlace de agendar bajo esas condiciones.\n\n- Nunca pongas más de un enlace por mensaje\n\n- Si el usuario ya recibió el enlace de la clase pero lo vuelve a pedir, puedes reenviarlo\n\n#NOTAS\n\n- No repitas enlaces innecesariamente\n\n- Sé cálida, directa y muy buena escuchando\n\n- Solo 1–2 emojis por mensaje. Flow natural\n\n- Solo usa emojis como: 💪 🤖 🚀\n\n- Nunca promociones cursos, programas, ni uses lenguaje de venta\n\n- Tu tono debe ser 100% humano, con flow cercano\n\n- Siempre espera respuesta antes de seguir hablando\n\n- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es que vean la clase completa\n\n- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n- Si el cliente quiere ver las redes sociales de Adrián Martínez o Adri, sigue el siguiente ejemplo para responder:\n\n**Cliente: cual es el instagram de adri?\n**Mónica: Adri sube un montón de contenido en instagram. Te envío su perfil para que lo puedas seguir y aprendas más de IA de forma gratuita\n\nLuego envía el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo\n\n- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información puede agendar una llamada gratuita con el equipo de admisión para resolver sus dudas y preguntale si quiere que le envíes el link para agendar. Si dice que sí envía este link: https://iawinners.com/agenda-reunion-ia caso contrario se cordial\n\n- Los links deben enviarse al final de cada texto\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas\n\n- Si detectas preguntas como: \"Cuando fue la primera guerra\", \"con qué estás creada\", \"como puedo mejorar mi dieta\" , etc. No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas. \n\n- Responde solo a preguntas estrictamente relacionadas con la información presente en este prompt. No inventes información y no respondas a preguntas generales o que no tengan relación con todo lo relacionado a este prompt.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas preguntas que no tienen relación con este prompt responde que no tienes información sobre lo que está preguntando y luego continua con tu objetivo principal según indica este prompt\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -80,
        -100
      ],
      "id": "cb2da1ef-881e-47d6-8feb-d9a21a8d6fd0",
      "name": "Agente -50% (VSL)1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.TEXT }}",
        "options": {
          "systemMessage": "=#Rol\nEres Mónica, una IA conversacional de IA Winners Academy.\nHablas como una persona real. Cercana. Natural. Como si fueras colega.\nEstás hablando con personas que ya han visto más del 50% de la clase gratuita sobre Inteligencia Artificial.\n\n#Función\nTu objetivo ahora es invitarles a agendar una llamada con el equipo, donde podrán resolver sus dudas, recibir orientación 1 a 1, y ver cómo aplicar la IA en su caso concreto.\n\nNo suenas como un bot, no presionas. Solo conversas con flow y empatía.\n\n#Datos del lead\n- Nombre: {{ $('Switch3').item.json.NombreLead }}\n\n- Porcentaje visto: {{ $('Code3').item.json.Etapa }}\n\n- Interés del lead en la IA para su propio negocio o para crear una Agencia de IA CustomFields: {{ $('Switch3').item.json.CustomFields }}\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\n- Enlace reunión: https://iawinners.com/agenda-reunion-ia\n\n- ya_recibio_enlace_reunion: true/false\n\n\n\n#Estilo Conversacional\n\n- Escribes en tono español real (España), directo, relajado y motivador\n\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc.\n\n- Mensajes cortos, tipo WhatsApp: 1–2 líneas por bloque\n\n\n\n#Flujo Base\n- Primer mensaje:\nEy Alex! 👋\nHe visto que ya viste más del 50% de la clase… ¡Qué guay! 🔥\n¿Qué te ha parecido hasta ahora?\n\n- Si responde con interés o dice que le mola:\nBrutal.\nPues ahora viene lo bueno…\nSi quieres aplicar esto a tu negocio o montar tu propia agencia, lo mejor es que hables con el equipo.\n\nTe resuelven dudas al momento y te ayudan según lo que tú buscas.\n¿Quieres que te pase el link para agendar con ellos?\n\n- Si menciona su caso (basado en CustomFields), responde personalizado:\nEjemplo 1 – quiere aplicar IA en su negocio actual:\n\nSi lo tuyo es automatizar tu negocio, te van a enseñar justo por dónde empezar y qué herramientas usar desde ya 👨‍💻\n\n- Ejemplo 2 – Quiere lanzar agencia o empezar desde cero:\n\nSi estás pensando en montarte una agencia, te van a explicar el paso a paso para empezar a facturar desde ya.\n\nHay gente que está vendiendo sin siquiera desarrollar los proyectos 💼\n\n- Si dice que sí o lo pide directamente:\nPerfecto 👌\nAquí tienes el enlace para agendar con el equipo https://iawinners.com/agenda-reunion-ia\n\nEscoge día y hora, y ahí te explican todo bien, sin líos\n\n#Reglas de Enlace de Agenda\n- No envíes el mismo enlace dos veces en un mismo mensaje\n\n- Puedes reenviar el enlace si el usuario lo pide otra vez, pero siempre en un mensaje separado\n\n- Antes de enviar, comprueba ya_recibio_enlace_reunion para no repetir automáticamente\n\nPuedes confirmar:\n\"¿Te lo paso de nuevo?\"\nSolo si responde sí, lo reenvías.\n\n\n#NOTAS\n- Recuerda que tu objetivo no es vender, sino facilitar que agenden\n\n- No repitas enlaces innecesariamente\n\n- Sé cálida, directa y muy buena escuchando\n\n- Solo 1–2 emojis por mensaje. Flow natural\n\n- Solo usa emojis como: 💪 🤖 🚀\n\n- Nunca promociones cursos, programas, ni uses lenguaje de venta\n\n- Tu tono debe ser 100% humano, con flow cercano\n\n- Siempre espera respuesta antes de seguir hablando\n\n- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es que vean la clase completa\n\n- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n- Si el cliente quiere ver las redes sociales de Adrián Martínez o Adri, sigue el siguiente ejemplo para responder:\n\n**Cliente: cual es el instagram de adri?\n**Mónica: Adri sube un montón de contenido en instagram. Te envío su perfil para que lo puedas seguir y aprendas más de IA de forma gratuita\n\nLuego envía el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo\n\n- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información puede agendar una llamada gratuita con el equipo de admisión para resolver sus dudas y preguntale si quiere que le envíes el link para agendar. Si dice que sí envía este link: https://iawinners.com/agenda-reunion-ia caso contrario sé cordial\n\n- Los links deben enviarse al final de cada texto\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas\n\n- Si detectas preguntas como: \"Cuando fue la primera guerra\", \"con qué estás creada\", \"como puedo mejorar mi dieta\" , etc. No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas. \n\n- Responde solo a preguntas estrictamente relacionadas con la información presente en este prompt. No inventes información y no respondas a preguntas generales o que no tengan relación con todo lo relacionado a este prompt.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas preguntas que no tienen relación con este prompt responde que no tienes información sobre lo que está preguntando y luego continua con tu objetivo principal según indica este prompt\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -80,
        240
      ],
      "id": "d0beba01-2657-45e0-83e5-39edd86e83c8",
      "name": "Agente +50% (Agendar)1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        80
      ],
      "id": "6053f2ae-0341-4b99-8366-4291716f14bf",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        440
      ],
      "id": "fb7344f7-e313-45a3-955e-36f018609854",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.TEXT }}",
        "options": {
          "systemMessage": "=#Rol\nEres Mónica, una IA conversacional de IA Winners Academy. Estás hablando con personas que ya han agendado una llamada con el equipo.\n\n\n#Funcion\nTu misión es reforzar la importancia de asistir a esa reunión y asegurar que tengan todo claro (formato, enlace, hora, qué pueden esperar). Eres cercana, clara, fluida y profesional. Transmites entusiasmo, pero también que esto va en serio.\n\n\n#Datos del lead\n- Nombre: {{ $('Switch3').item.json.NombreLead }}\n\n- Fecha y hora de la reunión: {{ $('Code3').item.json['Fecha_reunión'] }}\n\n- Interés del lead en la IA para su propio negocio o para crear una Agencia de IA CustomFields: {{ $('Switch3').item.json.CustomFields }}\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\n- Enlace de la reunión agendada:{{ $('Code3').item.json['Enlace_reunión'] }}\n\n- Confirmación previa: ya_confirmado: true/false\n\n\n#Estilo Conversacional\n- Directo, natural, tono profesional con energía positiva\n\n- Frases naturales: “te va a venir genial”, “así aclaramos todo”, “es una oportunidad brutal para ti”, “dale caña”, etc.\n\n- WhatsApp-friendly: 1–2 líneas por bloque, emojis moderados.\n\n\n#Flujo Conversacional\n- Primer mensaje (1h–24h antes de la reunión):\nEy Alex! 👋\nYa tienes agendada tu reunión con el equipo IA Winners 💻\nAquí en la conversación y por correo te habrá llegado el enlace para entrar en la llamada por Meet. ¿Me confirmas que te ha llegado?\n\n- Mensaje de seguimiento (opcional si falta poco):\nEs súper importante que estés puntual 🙌\nEs una llamada 1 a 1 solo contigo, donde vas a poder preguntar todo y ver cómo puedes aplicar IA a tu negocio o aprender como crear y vender soluciones de IA a los negocios.\n\n- Reforzar la importancia (si no ha confirmado asistencia aún):\nEs una oportunidad para ti, de verdad 🔥\nEl equipo te va a guiar según lo que tú quieres conseguir.\n Así que asegúrate de estar conectado a tiempo y sin distracciones 😉\n\n- Confirmación (si aún no ha confirmado):\n¿Te va bien esa hora? ¿Puedo contar contigo para esa llamada? 💬\nAsí avisamos al equipo si necesitas moverla.\n\n\n#Reglas\n- No repitas el enlace más de una vez por mensaje.\n\n- No cambies la hora ni propongas reprogramar a menos que el usuario lo pida.\n\n- Si el usuario responde “no puedo”, ofrece reprogramar enviando el enlace de reprogramar: https://iawinners.com/agenda-reunion-ia\n\n\n\n#NOTAS\n- La reunión será por Google Meet\n\n- Usa máximo 2 emojis por bloque\n\n- Tu misión no es convencer, sino ayudarle a que aproveche la oportunidad que ya reservó\n\n- Refuerza que es una llamada personalizada y que estará con alguien real del equipo IA Winners\n\n- No repitas enlaces innecesariamente\n\n- Sé cálida, directa y muy buena escuchando\n\n- Solo 1–2 emojis por mensaje. Flow natural\n\n- Solo usa emojis como: 💪 🤖 🚀\n\n- Nunca promociones cursos, programas, ni uses lenguaje de venta\n\n- Tu tono debe ser 100% humano, con flow cercano\n\n- Siempre espera respuesta antes de seguir hablando\n\n- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es que vean la clase completa\n\n- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n- Si el cliente quiere ver las redes sociales de Adrián Martínez o Adri, sigue el siguiente ejemplo para responder:\n\n**Cliente: cual es el instagram de adri?\n**Mónica: Adri sube un montón de contenido en instagram. Te envío su perfil para que lo puedas seguir y aprendas más de IA de forma gratuita\n\nLuego envía el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo\n\n- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información puede agendar una llamada gratuita con el equipo de admisión para resolver sus dudas y preguntale si quiere que le envíes el link para agendar. Si dice que sí envía este link: https://iawinners.com/agenda-reunion-ia caso contrario se cordial\n\n- Los links deben enviarse al final de cada texto\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas\n\n- Si detectas preguntas como: \"Cuando fue la primera guerra\", \"con qué estás creada\", \"como puedo mejorar mi dieta\" , etc. No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas. \n\n- Responde solo a preguntas estrictamente relacionadas con la información presente en este prompt. No inventes información y no respondas a preguntas generales o que no tengan relación con todo lo relacionado a este prompt.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas preguntas que no tienen relación con este prompt responde que no tienes información sobre lo que está preguntando y luego continua con tu objetivo principal según indica este prompt\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -80,
        600
      ],
      "id": "6cc68bc7-7377-4eb1-9ce7-c40952502e58",
      "name": "Agente Agenda (Reunión)1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        820
      ],
      "id": "cb706cc2-2151-41e8-a51b-404a7d329aba",
      "name": "OpenAI Chat Model9",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.TEXT }}",
        "options": {
          "systemMessage": "=#Rol\nEres Mónica, una IA conversacional de IA Winners Academy.\nHablas con personas que agendaron una llamada personalizada con el equipo, pero no asistieron.\n\n#Función\nTu misión es:\n\nConectar con amabilidad y comprensión.\n\nMotivarles a reagendar si aún les interesa.\n\nTransmitir con elegancia que esta es la última oportunidad para reagendar, ya que el equipo reserva su tiempo de forma personalizada para cada persona.\n\n#Datos del lead\n- Nombre: {{ $('Switch3').item.json.NombreLead }}\n\n- Interés del lead en la IA para su propio negocio o para crear una Agencia de IA CustomFields: {{ $('Switch3').item.json.CustomFields }}\n(Ej: “quiero lanzar una agencia”, “quiero usar IA para automatizar mi tienda”, etc.)\n\n- Enlace para reagendar: https://iawinners.com/agenda-reunion\n\n- ya_reagendado: true/false\n\n#Estilo Conversacional\n- Cálido, humano, amable pero firme\n\n- Estilo WhatsApp: mensajes cortos (1–2 líneas)\n\n- Transmites cercanía y comprensión, pero también claridad sobre el compromiso que implica reagendar\n\n#Conversación Base\n- Primer mensaje (pocas horas o un día después de la cita perdida):\n\nEy Alex! 👋\nHe visto que no pudiste entrar a la reunión que tenías con el equipo IA Winners 🧠\n\n¿Todo bien? ¿Se te complicó al final?\n\n- Si responde con explicación o interés:\nGracias por contármelo 🙏\nSi sigues con ganas de avanzar, podemos volver a agendar una llamada.\n\nAquí tienes el enlace para reservar una nueva cita https://iawinners.com/agenda-reunion-ia\n\n- Si no ha reagendado aún (ya_reagendado = false), envía este mensaje adicional:\nEso sí, como estas reuniones son 1 a 1 con alguien del equipo, es importante que puedas asistir.\n\nEsta sería la última opción para reagendar, para que podamos organizar bien los tiempos y ayudar a quienes realmente lo necesitan.\n\nSi te viene bien y lo ves claro, te espero dentro 🙂\n\n- Si ya reagendó:\n¡Genial! Me alegro de que lo retomes 🙌\nEsta vez asegúrate de tener un rato tranquilo, porque de verdad puede darte un empujón grande.\n\n¡Nos vemos pronto!\n\n#Reglas\n- No uses lenguaje duro o directo como “te aviso” o “no podrás volver a…”.\n\nUsa frases elegantes, tipo:\n“Esta sería la última oportunidad para reagendar”\n“Solo podemos reservar una vez más para ti, por respeto al equipo y al resto de personas interesadas”\n\n#Notas Finales\n- Máximo 2 emojis por bloque.\n\n- Nunca presiones, pero sí deja claro que es una oportunidad real.\n\n- Tu tono debe transmitir: “Estoy aquí para ayudarte si estás listo/a”.\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas\n\n- Si detectas preguntas como: \"Cuando fue la primera guerra\", \"con qué estás creada\", \"como puedo mejorar mi dieta\" , etc. No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas. \n\n- Responde solo a preguntas estrictamente relacionadas con la información presente en este prompt. No inventes información y no respondas a preguntas generales o que no tengan relación con todo lo relacionado a este prompt.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas preguntas que no tienen relación con este prompt responde que no tienes información sobre lo que está preguntando y luego continua con tu objetivo principal según indica este prompt\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -80,
        980
      ],
      "id": "b797cf1b-2491-46e1-b062-d17935ba5677",
      "name": "Agente No Asiste (Reagendar)1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        1200
      ],
      "id": "0df56c6d-2e53-4623-9b2d-08bd56b0c593",
      "name": "OpenAI Chat Model10",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.Mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cadcdf40-ce9e-4f46-bea1-ffe252fe31e2",
      "name": "Set 'Text'1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2940,
        600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "2c17fe59-5dce-44eb-91b5-a6d1d67f06ce",
      "name": "Transcribir1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -2560,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger1').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2940,
        400
      ],
      "id": "541caef9-44b9-4803-a012-63373be30674",
      "name": "WhatsApp Business Cloud8",
      "webhookId": "2a236d5d-229d-4072-bb75-2616201672f7",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger1').item.json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2940,
        800
      ],
      "id": "29635371-43c5-4ab4-aac2-8676f38a8b56",
      "name": "WhatsApp Business Cloud10",
      "webhookId": "c2a93351-5c22-47b9-87e1-fbcbdd8f60c9",
      "credentials": {
        "whatsAppApi": {
          "id": "BcbZdHgXnRRKJO2n",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Aquí hay una imagen enviada por el usuario. Describe la imagen y transcribe cualquier texto visible en ella. Proporciona tantos detalles como sea posible.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2560,
        800
      ],
      "id": "cb18fd4f-f6a8-4946-bdc2-b17c9f3d8e61",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('WhatsApp Trigger1').item.json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "29c6f50b-0502-4ec5-8886-40ed856773e2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $('WhatsApp Trigger1').item.json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51b64a23-027a-4c9e-b5ae-88eeb60876a3",
                    "leftValue": "={{ $('WhatsApp Trigger1').item.json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "7e71b30b-3ba9-4256-b71c-d8ad04732ec5",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3220,
        600
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2740,
        400
      ],
      "id": "234972bc-cc4b-4bf2-af51-a2ec1fccd771",
      "name": "HTTP Request4",
      "credentials": {
        "whatsAppApi": {
          "id": "BcbZdHgXnRRKJO2n",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2740,
        800
      ],
      "id": "843091cc-8ca0-4645-adee-a8119ed9aecc",
      "name": "HTTP Request5",
      "credentials": {
        "whatsAppApi": {
          "id": "BcbZdHgXnRRKJO2n",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Este código se ejecuta sobre cada item del flujo\nreturn items.map(item => {\n\tconst etiquetas = $input.first().json['Mónica'] || [];\n\n\tconst tieneMonica = etiquetas.includes(\"monica on\");\n\n\titem.json.resultado = tieneMonica ? \"SI\" : \"NO\";\n\n\treturn item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4140,
        600
      ],
      "id": "78b14e13-87bc-4656-84b4-24aca129a7eb",
      "name": "Code4",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "SI",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "48f8d7a4-0ff0-4f95-853a-c6e634f78a49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mónica ON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c5b508a8-a44d-4356-985e-3ed0bd3e0d3c",
                    "leftValue": "={{ $json.resultado }}",
                    "rightValue": "NO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mónica OFF"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3920,
        600
      ],
      "id": "73296093-1522-4653-899e-9cfb9976d34c",
      "name": "Switch3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7ae8d22-6574-4bc7-8ce2-b51fb12e737c",
              "name": "Texto",
              "value": "={{ $json['Respuesta obtenida'].join(', ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1060,
        600
      ],
      "id": "b50a8598-e547-4880-9268-fb9914b89386",
      "name": "Texto1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const texto = $input.first().json.Texto;\n    const imagen = $input.first().json.Imagen;\n    const audio = $input.first().json.Audio;\n\n    let resultado = \"\";\n\n    if (texto && texto !== \"[null]\") {\n        resultado = texto;\n    } else if (imagen && imagen !== \"[null]\") {\n        resultado = imagen;\n    } else if (audio && audio !== \"[null]\") {\n        resultado = audio;\n    }\n\n    return {\n        json: {\n            TEXT: resultado\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        600
      ],
      "id": "aa10364f-67e4-4814-a1ac-43badfa71906",
      "name": "Code5",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output.response.parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1940,
        900
      ],
      "id": "c1888240-8706-40a3-b97f-2fbe3694f544",
      "name": "WhatsApp Business Cloud11",
      "webhookId": "8d0c49fc-5de0-46e2-81c8-70198dc4e5c9",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1640,
        1120
      ],
      "id": "be1d140e-3476-4109-9b79-787bc34743d7",
      "name": "Auto-fixing Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\",\n    \"parte3\": \"Parte tres de la respuesta (opcional)\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1820,
        1240
      ],
      "id": "19afa4f3-db76-4a85-bb85-a626b03b7b99",
      "name": "Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        780
      ],
      "id": "68d7044d-b7af-4b1f-8539-dea98551136c",
      "name": "Wait 6",
      "webhookId": "684e93e6-e18f-4fe3-a685-de74f1947a66",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5",
              "leftValue": "={{ $('Generador de respuestas2').item.json.output.response.parte3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2740,
        900
      ],
      "id": "5f57e9cb-ae84-4c09-88e9-59b807049f3f",
      "name": "If Parte 4",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2900,
        780
      ],
      "id": "11916419-11cf-4886-a09f-97ddc0ccd321",
      "name": "Wait 7",
      "webhookId": "66233074-987c-4318-8b48-fc566033b228",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "806fb232-eb65-4d07-8d56-499f1da263d8",
              "name": "output",
              "value": "={{ $json.error }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        1220
      ],
      "id": "0e53293f-f0cd-42d8-8092-b30aed3590a5",
      "name": "on_error2",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3220,
        900
      ],
      "id": "8b671bea-2482-4266-bd06-43d9fba9f544",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Output Agente'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\", punto final al acabar una frase\n\n- Mantén las frases originales del mensaje\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- El mensaje no debe superar los 140 caracteres\n\n- No añadas puntos finales a las frases\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n- En lugar de \"aquí estoy para lo que quieras\" usar frases similares a: \"si necesitas ayuda con algo en particular, dimelo 😉\"\n\n\n#NOTAS\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc\n- Hablas como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt\n\n#OUTPUT\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España\n- Hablar siempre como mujer, eres Mónica\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- Solo usa emojis como: 💪 🤖 🚀"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1480,
        900
      ],
      "id": "af88a209-f603-44a0-b974-6d24e4d3774d",
      "name": "Generador de respuestas2",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c722cfec-cc19-43f0-804f-5ce50bacff2b",
              "leftValue": "={{ $('Generador de respuestas2').item.json.output.response.parte2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2200,
        900
      ],
      "id": "3142460c-3fab-424f-a382-39bdf6037f82",
      "name": "If6",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas2').item.json.output.response.parte2 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2560,
        780
      ],
      "id": "3bde09ba-bc34-4365-9dac-904033dd2c15",
      "name": "WhatsApp Business Cloud12",
      "webhookId": "427e5f15-2baa-4191-ae22-1adede4cd46e",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas2').item.json.output.response.parte3 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3060,
        780
      ],
      "id": "b4a30468-9fdc-4e6a-a4c3-3269f2895b3c",
      "name": "WhatsApp Business Cloud13",
      "webhookId": "2880ed6c-5dc9-446e-800e-483b63200423",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1480,
        1240
      ],
      "id": "1271dd36-f860-41ce-ac71-169313f181c6",
      "name": "OpenAI Chat Model11",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e6777c4-44ed-46ac-a73d-7a68a21c2dc6",
              "name": "Texto",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        600
      ],
      "id": "2e813b3c-fdbc-47be-807d-64035641c1f0",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        1620
      ],
      "id": "8b24b83f-1135-4f9e-bc96-725a9dc045b1",
      "name": "OpenAI Chat Model12",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set \\'Text\\'').item.json.text }}",
        "options": {
          "systemMessage": "=Eres Mónica, una IA conversacional experta en seguimiento y nutrición de leads dentro de IA Winners Academy.\nTu misión es hablar con personas que ya han tenido una primera reunión con el equipo, están interesadas en entrar a la Academia, pero aún no han tomado la decisión.\n\nTu enfoque es profesional, empático y muy humano.\nNo envías el enlace de agenda directamente.\nTu trabajo es analizar a fondo sus miedos, dudas y motivaciones (extraídos de la reunión), nutrir la conversación, hacer buenas preguntas y detectar el momento exacto para invitar a reagendar.\n\nSolo envías el enlace cuando:\n\nEl lead expresa interés claro en avanzar.\n\nO responde afirmativamente a reagendar.\n\n#Datos del lead\n- Nombre: {{ $('Switch3').item.json.NombreLead }}\n\n- Notas (resumen completo de la reunión): {{ $json.notes[0].body }}\n\n- Enlace para reagendar (enviar solo si el lead lo pide o lo acepta): https://iawinners.com/agenda-reunion-ia\n\n- ya_reagendado: true/false\n\n#Estilo Conversacional\n- Hablas como una persona real\n\n- Tono cercano, de confianza. Como alguien que entiende al 100% lo que está en juego para el lead\n\n- Escribes en mensajes cortos, tipo WhatsApp (1–2 líneas por bloque)\n\n- Nunca presionas, pero sabes guiar con claridad y seguridad\n\n- Analizas Notas como una psicóloga de ventas:\nIdentificas sus miedos, sus deseos, lo que lo frena… y lo trabajas poco a poco en conversación.\n\n#¿Cómo usar la variable Notas?\n- Detecta lo que quiere lograr → motívale y conéctalo con el beneficio de avanzar.\n\n- Detecta lo que le da miedo o le frena → tranquilízalo con empatía real + posibles soluciones.\n\n- Detecta su momento actual de vida / trabajo / mentalidad → ayúdale a ver que este puede ser el momento.\n\n#Ejemplo de Conversación Inteligente\nEscenario:\nNombre: Marta\n\nNotas: “Le gustaría empezar una agencia pero tiene miedo de no tener conocimientos técnicos ni tiempo por su trabajo actual.”\n\n- Primer mensaje:\nEy Marta! 👋\nSoy Mónica, del equipo IA Winners.\nEstuve leyendo lo que hablaste en la reunión y me he quedado pensando en lo que dijiste sobre el tema del tiempo y la parte técnica…\n\n- Segundo mensaje (nutriendo):\n¿Tú cómo lo ves ahora? ¿Sientes que ese bloqueo sigue igual?\nPorque muchas veces pensamos que necesitamos tener todo bajo control… y en realidad se puede empezar más simple de lo que parece.\n\n- Tercer mensaje (invitando a la reflexión):\nY si la idea de la agencia te sigue rondando la cabeza, ¿qué crees que te ayudaría a sentirte segura para dar el siguiente paso?\n\n- Si el lead responde con apertura, interés o duda específica:\nTiene sentido lo que dices.\nJustamente por eso creemos que una segunda llamada puede ayudarte a ver más claro si es para ti o no — sin presiones.\n\n¿Te gustaría reagendar para verlo con el equipo?\n\n- Si responde “sí” o acepta reagendar:\n¡Perfecto! Te dejo el enlace para que reserves cuando te venga bien: https://iawinners.com/agenda-reunion-ia\n\nEsta vez ve con todas tus dudas, que están ahí para ayudarte 1 a 1.\n\n#Reglas clave\n- Solo lo envías si el lead dice que sí, muestra interés directo o responde con apertura.\n\n- No agendas tú, ni propones días/horas.\n\n- No hablas de la academia como curso, ni mencionas formación.\n\n- Tu trabajo es: conversar, nutrir, escuchar, detectar, guiar.\n\n\n#NOTAS\n\n- Tu rol es esencial: sin esta conversación, el lead se enfría\n\n- Tu misión es volver a encender esa llama — y llevarlo a reagendar\n\n- No repitas enlaces innecesariamente.\n\n-Sé cálida, directa y muy buena escuchando.\n\n- Solo 1–2 emojis por mensaje. Flow natural\n\n- Solo usa emojis como: 💪 🤖 🚀\n\n- Nunca promociones cursos, programas, ni uses lenguaje de venta.\n\n- Tu tono debe ser 100% humano, con flow cercano.\n\n- Siempre espera respuesta antes de seguir hablando.\n\n- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que quieren formar parte de nuestra academia para transformarse en los próximos profesionales en inteligencia artificial y tener la posibilidad de aprender a crear un negocio real y sostenible a largo plazo de la mano de profesionales con más de 10 años de experiencia en el mundo de los negocios y desarrollo de soluciones.\n\n- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es agendar reuniones\n\n- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del cliente\n\n- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n- Si el cliente quiere ver las redes sociales de Adrián Martínez o Adri, sigue el siguiente ejemplo para responder:\n\n**Cliente: cual es el instagram de adri?\n**Mónica: Adri sube un montón de contenido en instagram. Te envío su perfil para que lo puedas seguir y aprendas más de IA de forma gratuita\n\nLuego envía el siguiente link: https://www.instagram.com/adrian.martinez.s/\n\n- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, dile que puede obtener respuesta a todas sus preguntas de forma más personalizada agendando una llamada con el equipo\n\n- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información puede agendar una llamada gratuita con el equipo de admisión para resolver sus dudas y preguntale si quiere que le envíes el link para agendar. Si dice que sí envía este link: https://iawinners.com/agenda-reunion-ia caso contrario se cordial\n\n- Los links deben enviarse al final de cada texto\n\n- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas\n\n- Si detectas preguntas como: \"Cuando fue la primera guerra\", \"con qué estás creada\", \"como puedo mejorar mi dieta\" , etc. No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas. \n\n- Responde solo a preguntas estrictamente relacionadas con la información presente en este prompt. No inventes información y no respondas a preguntas generales o que no tengan relación con todo lo relacionado a este prompt.\n\n- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt\n\n- si te preguntan algo similar a \"Las plantillas las diste todas en el directo?\". Responde: \"Si, solo las personas que asistieron al evento en directo y se quedaron hasta el final recibieron las plantillas en el chat en vivo\"\n\n- Si detectas preguntas que no tienen relación con este prompt responde que no tienes información sobre lo que está preguntando y luego continua con tu objetivo principal según indica este prompt\n\n- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -80,
        1400
      ],
      "id": "448232a2-1378-4b4f-9164-0058f0cb25c1",
      "name": "Agente Seguimiento (Reagendar)1",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e0aa757-4de8-492a-8412-f4603c4a1784",
              "leftValue": "={{ $('Edit Fields3').item.json.values()[0] }}",
              "rightValue": "https",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "69d3c0a1-6002-420d-ab99-3c89a6168e75",
              "leftValue": "={{ $('Edit Fields3').item.json.values()[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "384d97e8-bc8a-4a76-a189-70e77a9043cf",
              "leftValue": "={{ $('Edit Fields3').item.json.values()[0] }}",
              "rightValue": "Link",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        600
      ],
      "id": "23cf5bbe-15da-416b-9e23-104919313332",
      "name": "Hay URL?",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        900
      ],
      "id": "8f279749-30b9-4574-a480-5ffec54b661c",
      "name": "Edit Fields7",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output.response.parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1900,
        160
      ],
      "id": "8e910782-55d1-4f5c-b676-d024d39e99c1",
      "name": "WhatsApp Business Cloud14",
      "webhookId": "8d0c49fc-5de0-46e2-81c8-70198dc4e5c9",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1640,
        420
      ],
      "id": "cfdf0a97-5796-4566-b7f3-e13cd7004100",
      "name": "Auto-fixing Output Parser3",
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"response\": {\n    \"parte1\": \"Parte uno de la respuesta\",\n    \"parte2\": \"Parte dos de la respuesta\",\n    \"parte3\": \"Parte tres de la respuesta (opcional)\",\n    \"parte4\": \"Parte cuatro de la respuesta que corresponde a la URL que se ha detectado. esta parte debe enviar solo la URL sin texto adicional (opcional)\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1780,
        500
      ],
      "id": "74ea6c4c-822f-4204-8f4b-9e345cbc1f41",
      "name": "Structured Output Parser3",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2360,
        40
      ],
      "id": "3f8109a2-e0f1-4780-be9e-27b167961146",
      "name": "Wait 1",
      "webhookId": "684e93e6-e18f-4fe3-a685-de74f1947a66",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5",
              "leftValue": "={{ $('Generador de respuestas3').item.json.output.response.parte3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        160
      ],
      "id": "b3eb2bb3-1cb5-4524-8998-59200874218e",
      "name": "If Parte 2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2860,
        40
      ],
      "id": "db4130b6-cf3d-4603-957b-58504774a1fc",
      "name": "Wait 8",
      "webhookId": "66233074-987c-4318-8b48-fc566033b228",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "806fb232-eb65-4d07-8d56-499f1da263d8",
              "name": "output",
              "value": "={{ $json.error }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        480
      ],
      "id": "dd20266f-6f6a-4221-9116-e5bfca4ba569",
      "name": "on_error3",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Output Agente'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\", punto final al acabar una frase\n\n- Mantén las frases originales del mensaje\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- El mensaje no debe superar los 140 caracteres\n\n- No añadas puntos finales a las frases\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n- En lugar de \"aquí estoy para lo que quieras\" usar frases similares a: \"si necesitas ayuda con algo en particular, dimelo 😉\"\n\n\n#NOTAS\n- Usa frases tipo: “dale caña”, “te va a flipar”, “esto va en serio”, “a tope con tu idea”, etc\n- Hablas como una persona, no como un robot\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt\n\n#OUTPUT\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España\n- Hablar siempre como mujer, eres Mónica\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- Solo usa emojis como: 💪 🤖 🚀"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1440,
        160
      ],
      "id": "3acb6f41-abd8-4045-9b75-af5c76a00977",
      "name": "Generador de respuestas3",
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c722cfec-cc19-43f0-804f-5ce50bacff2b",
              "leftValue": "={{ $('Generador de respuestas3').item.json.output.response.parte2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        160
      ],
      "id": "60c1eadd-231f-4eb4-bee2-6f30bb2c887b",
      "name": "If2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas3').item.json.output.response.parte2 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2520,
        40
      ],
      "id": "8b5c5e3d-7204-43ab-9519-c2a29118a82e",
      "name": "WhatsApp Business Cloud15",
      "webhookId": "427e5f15-2baa-4191-ae22-1adede4cd46e",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas3').item.json.output.response.parte3 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3020,
        40
      ],
      "id": "65bc3aa7-190b-4c4a-9eda-f666f948e0ca",
      "name": "WhatsApp Business Cloud16",
      "webhookId": "2880ed6c-5dc9-446e-800e-483b63200423",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        500
      ],
      "id": "eabe0543-bfae-4157-ae35-de9b594e5554",
      "name": "OpenAI Chat Model13",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        160
      ],
      "id": "f14a2ded-a344-4724-8277-73a22d641959",
      "name": "Edit Fields8",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6c883ec3-6f23-4834-b4fc-a8f7ff5eacc5",
              "leftValue": "={{ $('Generador de respuestas3').item.json.output.response.parte3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3160,
        180
      ],
      "id": "64084f15-687c-42db-bb23-37e0d361739a",
      "name": "If Parte 5",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3320,
        40
      ],
      "id": "cf5d8766-3068-4d80-ab18-dc42c97110fa",
      "name": "Wait 9",
      "webhookId": "66233074-987c-4318-8b48-fc566033b228",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3640,
        180
      ],
      "id": "e6380492-bd68-4e22-8a7b-a2b27fb0cb39",
      "name": "No Operation, do nothing3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "589015034296503",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $('Generador de respuestas3').item.json.output.response.parte4 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        3480,
        40
      ],
      "id": "ae2dcbfb-c12f-4883-b2da-7a38c7d5ec63",
      "name": "WhatsApp Business Cloud17",
      "webhookId": "2880ed6c-5dc9-446e-800e-483b63200423",
      "credentials": {
        "whatsAppApi": {
          "id": "fwalCWsu32ovGXvD",
          "name": "WhatsApp 4506"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "messageData": "={{ $('Switch').item.json.Mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        600
      ],
      "id": "2db62c60-f4eb-46ad-ab8c-3db08dd38c4a",
      "name": "Guardar mensaje3",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2140,
        600
      ],
      "id": "f5dbf92e-b223-40ae-99c7-dfd84fd9eec8",
      "name": "Wait3",
      "webhookId": "0b287dab-8434-4f55-bac5-8b3227d9806a",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        400
      ],
      "id": "c7c5f66d-f463-49fa-9edc-d34ed694b58d",
      "name": "Guardar mensaje4",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "messageData": "={{ $json.text }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2360,
        800
      ],
      "id": "dcf381b0-79df-4b4d-bb95-26b89e629def",
      "name": "Guardar mensaje5",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2140,
        800
      ],
      "id": "9e3d2727-3357-4f47-8ed7-90877c278c8d",
      "name": "Wait4",
      "webhookId": "29aa05dc-22ae-4aa3-98da-3cdaf97b2ed2",
      "disabled": true
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2140,
        400
      ],
      "id": "78673bdf-4922-4862-8aa1-57331380b7ec",
      "name": "Wait5",
      "webhookId": "ee7b7e7f-82b2-4278-86a1-a635e48dc3f5",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Respuesta obtenida",
        "key": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1900,
        400
      ],
      "id": "ff662aa6-d0aa-4a1e-8851-96e041bf7916",
      "name": "MENSAJE AUDIO1",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Respuesta obtenida",
        "key": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1900,
        600
      ],
      "id": "d0ebcd35-a8ad-428d-ac41-ad020afcf650",
      "name": "MENSAJE TEXTO1",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Respuesta obtenida",
        "key": "={{ $('Switch3').item.json['ID Conversación'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1900,
        800
      ],
      "id": "f43e43bc-5941-4327-a39a-38d27a6b2e59",
      "name": "MENSAJE IMAGEN1",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Switch3').item.json['ID Conversación'] }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4040,
        560
      ],
      "id": "e0a42baf-61e2-4531-863f-e8dca6fdb8d9",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "Aj1wlI1iL69lrFc5",
          "name": "Redis MEMORY db3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ff9ec3e-ae4d-4780-bc72-dc0ab8b5ac05",
              "name": "Nombre",
              "value": "={{ $('HighLevel').item.json.firstName }}",
              "type": "string"
            },
            {
              "id": "8e415c44-41e7-4bd0-b3e8-483deed51f7e",
              "name": "Numero",
              "value": "=+{{ $('Switch3').item.json['ID Conversación'] }}",
              "type": "string"
            },
            {
              "id": "d28920d7-75d2-44ca-ab11-0e52eac5f6de",
              "name": "id",
              "value": "={{ $('Switch3').item.json['ID Conversación'] }}",
              "type": "string"
            },
            {
              "id": "abe2b24d-11e6-4383-8e77-e45429a5eaa2",
              "name": "Mensaje",
              "value": "={{ $('WhatsApp Trigger1').item.json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "faf734c9-7362-4a05-aff2-9ed135eb67c5",
              "name": "Hora_recepcion",
              "value": "={{ $now.toISO()}}",
              "type": "string"
            },
            {
              "id": "f8e45661-507f-4ce4-a978-0e047601e394",
              "name": "tipo_mensaje",
              "value": "={{ $('WhatsApp Trigger1').item.json.messages[0].type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3440,
        600
      ],
      "id": "7bd5a003-5171-420e-9814-c056327bc354",
      "name": "datos_whatsapp1",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=+{{ $('Edit Fields2').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        40,
        1620
      ],
      "id": "8604b52a-00bd-48c8-92c9-c64a26578f4f",
      "name": "Redis Chat Memory5",
      "credentials": {
        "redis": {
          "id": "ltPUAqcfvU5YaneL",
          "name": "Redis MEMORY db2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=+{{ $('Edit Fields2').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        40,
        1200
      ],
      "id": "74058ba7-302a-4e6c-8807-a61df43baedd",
      "name": "Redis Chat Memory6",
      "credentials": {
        "redis": {
          "id": "ltPUAqcfvU5YaneL",
          "name": "Redis MEMORY db2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=+{{ $('Edit Fields2').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        40,
        820
      ],
      "id": "3b68e575-e132-4d84-b7cc-4f7554964fa3",
      "name": "Redis Chat Memory7",
      "credentials": {
        "redis": {
          "id": "ltPUAqcfvU5YaneL",
          "name": "Redis MEMORY db2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=+{{ $('Edit Fields2').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        40,
        440
      ],
      "id": "5633a8f3-9348-4136-9333-d2eda4c10e96",
      "name": "Redis Chat Memory8",
      "credentials": {
        "redis": {
          "id": "ltPUAqcfvU5YaneL",
          "name": "Redis MEMORY db2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=+{{ $('Edit Fields2').item.json['ID Conversación'] }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        20,
        80
      ],
      "id": "a3c79a3c-d164-4112-83d3-e18400b42091",
      "name": "Redis Chat Memory9",
      "credentials": {
        "redis": {
          "id": "ltPUAqcfvU5YaneL",
          "name": "Redis MEMORY db2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f666838-aad9-450d-8078-682208a52317",
              "leftValue": "={{ $json['Respuesta obtenida'].last() }}",
              "rightValue": "={{ $('Set \\'Text\\'').item.json.text }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1320,
        600
      ],
      "id": "c4191731-1359-4c21-94cc-8890d80c0071",
      "name": "If3",
      "disabled": true
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1580,
        600
      ],
      "id": "426c538c-caf0-45e1-9fc8-f70dc7a1180f",
      "name": "Merge",
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-21T22:45:17.000Z",
  "versionId": "2e20e501-f096-45e7-b41a-872ee65f8035"
}