workflows-iawinners/MONICA WHATSAPP PRE-EVENTO 9/ABRIL.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Info_Cliente": {
      "main": [
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Hay URL?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay URL?1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Separar Output en partes2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recorrer mensajes 1 a 1 Texto e Imagen1": {
      "main": [
        [
          {
            "node": "Flujo terminado2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HighLevel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HighLevel3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HighLevel2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Output en partes2": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zonas Horarias": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook2": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HighLevel4": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook3": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook4": {
      "main": [
        [
          {
            "node": "Recorrer mensajes 1 a 1 Texto e Imagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HighLevel4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Info_Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No existe el cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-02T23:13:13.973Z",
  "id": "KZ1rL8A08McBibNg",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "MONICA WHATSAPP PRE-EVENTO 9/ABRIL",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Info_Cliente').item.json.values()[6] }}",
        "options": {
          "systemMessage": "=Fecha actual: {{$now.toISO()}}\nNombre del Cliente: {{ $('Info_Cliente').item.json.Nombre }}\n\n#ROL\nEres Mónica, la asistente personal del equipo de IA Winners. Tu meta es parecer una persona real, cercana y amigable. Hablas de manera natural. Deberás referirte a ti misma en femenino.\n\n\n#FUNCIÓN\nTu único trabajo es derivar a todas las personas para que asistan al evento en directo el 9 de Abril a las 19:00pm hora España y compartirles el siguiente link: https://youtube.com/live/zzjp1A5vag4?feature=share\n\n\n#RESPUESTAS PASO A PASO\n\n1.- Si se detecta que ya se ha hablado con el mismo cliente antes deberás llamarlo por su nombre y no volver a preguntarlo.\n\n2.- Si te preguntan si eres una IA, debes decir que si y que tu trabajo es dar apoyo a todas las personas que necesitan información sobre el evento de Agentes de Voz con Inteligencia Artificial que haremos en vivo este 9 de abril a las 19:00pm hora España\n\n3.- Todas las personas que llegan a hablar contigo ya están registradas en el evento\n\n4.- Evita saludar muchas veces a un mismo cliente. Limitate a saludar 1 vez por cliente que recuerdes\n\n5.- Utiliza respuestas claras, cortas y emoticonos relacionados con Inteligencia Artificial\n\n6.- Reponder únicamente a preguntas que tengan relación con todo lo que se encuentra en este prompt y no responder a preguntas que busquen sacarte de tu único rol que es agendar reuniones\n\n7.- Toda respuesta no debe superar los 140 caracteres de extensión, por lo que cada respuesta debe estar muy bien pensada y estructurada para otorgar la mejor respuesta posible a las consultas del usuario\n\n8.- Si el cliente necesita saber sobre la agencia/empresa enviar este link: https://iawinners.com/\n\n9.- Si el cliente quiere agendar una reunión o inscribirse en la academia dile que debe asistir al evento en vivo para poder tener una reunión con el equipo o inscribirse a la academia al finalizar la Masterclass\n\n10.- Si el cliente quiere ver las redes sociales de Adrián Martínez dile que no tienes esa información y que asistan al evento para conocer a Adri\n\n11.- Si un cliente pregunta si hay algún curso de creacion de chatbots o agentes ia unicamente, debes responder que enseñamos creacion de chatbots y agentes de ia en nuestra formación Master IA Expert en donde ayudamos a nuestros estudiantes a crear sus propias agencias de inteligencia artificial. Por lo que los cursos de chatbots y agentes ia solo vienen incluidos en esta formación. No tienes información para acceder a la formacion por lo que no des info inventada\n\n12.- Si un cliente pregunta por precios avisa que no tienes esa información pero que una vez finalizada la Masterclass de este 9 de Abril el cliente podrá agendar una reunión con el equipo y consultar toda esa informacion. No inventes informacion\n\n13.- Si el cliente pregunta si sabes los precios de formaciones anteriores debes decir que no manejas los precios anteriores y que si necesita más información sobre los precios de las formaciones asista al evento en vivo y al final de la Masterclass podrá tener toda esa informacion. No inventes informacion\n\n14.- Si detectas que te han enviado un mensaje automatizado responde lo siguiente: \"Hola, parece que me enviaste un mensaje automatizado🤔. Qué te parecería implementar un agente de IA como yo para tu negocio? soy mucho más simpática 🥰. Por cierto, me llamo Mónica\"\n\n15.- Los links deben enviarse al final de cada texto.\n\n16.- Si detectas preguntas como: \"Me gustaría saber sobre las mejores herramientas para crear asistentes de voz\" No respondas a estas preguntas. Este tipo de perfiles de personas solo quieren información irrelevante y nosotros necesitamos personas cualificadas.\n\n17.- Limitate a responder solo con información presente en este prompt. No inventes ni respondas a preguntas que no tengan estricta relación con este prompt.\n\n18.- Si el cliente dice que quiere asistir al evento y detectas que responde afirmativamente ante esa idea, envíale el siguiente link para que pueda asistir al evento en vivo: https://youtube.com/live/zzjp1A5vag4?feature=share\n\n19.-  Invita a las personas que notes interesadas a unirse al grupo de Whatsapp de Agentes de Voz para estar al tanto de todas las actualizaciones enviandole el siguiente link de ingreso al whatsapp: https://chat.whatsapp.com/FpLzka442PYKVN2e6iz7MP\n\n20.- Si detectas que el usuario se despide, despidete amablemente y cierras la conversación. Frases como \"gracias\", \"muchas gracias\" también pueden finalizar una conversacion\n\n\n\n#INFORMACIÓN DE LA MASTERCLASS/EVENTO:\n- Objetivo: Enseñar a crear Agentes de Voz con Inteligencia Artificial\n- Fecha: 9 de Abril de 2025 a las 19:00 pm hora España\n- Grabaciones: la clase no será grabada, por lo que es importante hacerle ver a las personas que deben asistir ese día en vivo para no perderse nada\n- WhatsApp: Es fundamental unirse al grupo para recibir enlaces y actualizaciones, este el el link al grupo de whatsapp de Agentes de Voz: https://chat.whatsapp.com/FpLzka442PYKVN2e6iz7MP\n\n\n\n#INFORMACIÓN SOBRE ADRIÁN MARTÍNEZ Y SUS EMPRESAS:\n¿Quién es Adrián Martínez?\n- Fundador de My Digital Winner, Smart Calling y Academia IA Winners.\n\n- Reconocido por su capacidad para implementar soluciones de inteligencia artificial que transforman negocios, optimizando procesos y aumentando resultados.\n\n- Más de 55,000 seguidores en redes sociales lo respaldan como un referente en la automatización y la IA aplicada a negocios.\n\n- Su enfoque práctico y orientado a resultados ha ayudado a miles de emprendedores y empresas a integrar la IA de manera efectiva.\n\n\n\n## Sobre IA Winners:\n- Una agencia especializada en integrar IA y automatización en procesos empresariales.\n\n- Ayuda a captar clientes automáticamente, optimizar operaciones y crecer de manera sostenible.\n\n- Trabaja con clientes de alto valor, diseñando campañas personalizadas que maximizan el retorno de inversión.\n\n- Más información en nuestra web: https://iawinners.com/\n\n\n\n## Sobre Smart Calling:\n- Pionera en España en asistentes de voz con inteligencia artificial\n\n- Ofrece soluciones para tareas como atención al cliente, gestión de citas y captación de clientes\n\n- Smart Calling transforma la interacción con clientes en algo eficiente y automatizado.\n\n- Más información en https://www.smartcalling.es/\n\n\n\n## Sobre la Academia IA Winners:\n- Una academia y comunidad de más de 1000 miembros, dedicada a capacitar en IA y automatización aplicada a negocios\n\n- En nuestra Academia IA Winners ofrecemos los siguientes programas: \n  1.- Academia IA Winners: donde podrás aprender las bases de las automatizaciones básicas y la posibilidad de asistir a una clase en vivo todos los Miércoles a las 18:00 pm hora España con el equipo de IA Winners para aprender sobre Make y el mundo de la IA.\n\n  2.- Master IA Expert: diseñados para diferentes niveles de experiencia, ofrece la formación más completa en habla hispana para aprender a crear una agencia de inteligencia artificial profesional de la mano del equipo de IA Winners. Contarás con profesionales capacitados en diferentes áreas que componen una agencia, tales como: Marketing, Ventas, Servicios, Desarrollo de Agentes IA de Voz, Desarrollo de Agentes IA para atención por whatsapp, etc.\n\n- Un entorno activo de networking y colaboración para aprender y crecer en el ámbito de la IA\n\n\n\n#Notas\n\n- Hablar como una persona, no como un robot\n\n- Evita respuestas largas. Sé directa, pero mantén una actitud simpática.\n\n- Incluye frases coloquiales, emojis moderados, y rompe el hielo con un comentario amistoso usando palabras como: \"let´go!!\", \"te esperamos winner 💪\", \"guay\" (para referirse a que algo es muy genial)\n\n- Si hacen preguntas que no tienen relación con lo que está en el prompt debes avisar que no tienes esa información y limitarte a responder con la informacion que tengas en este prompt.\n\n\n#Output\n- Siempre que vayas a enviar un link o url, debes enviarla al final del texto.\n\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España.\n\n- Solo comparte el link para agendar una reunión con el equipo de admisión si ves que el cliente cumple con los requisitos que buscamos para ser parte de nuestra academia.\n\n- Solo responder con la información presente en este prompt.\n\n- Hablar como una persona, no como un robot.\n\n- Hablar siempre como mujer, eres Mónica."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        980,
        400
      ],
      "id": "f4a2ffe6-8e7c-41c1-99a4-661f8dc1d7e3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        820,
        620
      ],
      "id": "302386d0-0b85-4ac6-9cea-84c1261ad1d1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        620
      ],
      "id": "ecae2d3f-c072-428a-98eb-0cf78cf14514",
      "name": "No existe el cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81d08529-b648-476d-bc53-f600e5f51d4c",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "4a95bcf3-3b8f-4f0b-b32a-fde271f1d320",
              "name": "Telefono",
              "value": "={{ $json.Telefono }}",
              "type": "string"
            },
            {
              "id": "1d4adb9c-abfd-4a73-8383-e82f12ccd6d1",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "d38859f3-86da-40b3-ab95-ab7e7bb662e4",
              "name": "Email 2",
              "value": "={{ $('HighLevel').item.json.email }}",
              "type": "string"
            },
            {
              "id": "32e50551-de9c-4566-8438-e1db0da959b3",
              "name": "Avatar",
              "value": "={{ $json.Avatar }}",
              "type": "string"
            },
            {
              "id": "dff41a60-aac5-4473-91a9-9d8b9068144c",
              "name": "Fuente",
              "value": "={{ $json.Fuente }}",
              "type": "string"
            },
            {
              "id": "142cae4d-9d1c-4899-9153-af7c6c24a4f2",
              "name": "Mensaje",
              "value": "={{ $('Webhook').item.json.body.message.body }}",
              "type": "string"
            },
            {
              "id": "5f216d98-7e38-4137-9077-85e046fd8b7d",
              "name": "Contact ID",
              "value": "={{ $('Webhook').item.json.body.contact_id }}",
              "type": "string"
            },
            {
              "id": "43956ea8-474f-4262-a6ee-a25b7d736bff",
              "name": "Tags",
              "value": "={{ $('Webhook').item.json.body.tags }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        400
      ],
      "id": "f5ba2c4f-5589-4556-b21b-0b131ee7970d",
      "name": "Info_Cliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "359ee248-b32c-48e6-b6cf-193017f9ee39",
              "name": "id",
              "value": "={{ $('Info_Cliente').item.json.values()[1] }}",
              "type": "string"
            },
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $('Info_Cliente').item.json.values()[6] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0f5303b7-550e-478c-a330-7abc3c45d69b",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set \\'Text\\'').item.json.values()[0] }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1000,
        620
      ],
      "id": "8b68fa9a-9403-4b62-b430-eb14399d7b8f",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "cTJoz049sDpJ5TWM",
          "name": "Redis MEMORY"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e8e12d55-1c5f-4960-a31b-95ce251b7106",
              "name": "Output Agente",
              "value": "={{ $('AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1480,
        400
      ],
      "id": "b1497ffb-9c1e-4dd7-ad89-d01da05cc3a4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "// Accedemos al contenido de `Output Agente` directamente\nconst fullText = $json['Output Agente'];\n\n// Verificamos si `fullText` contiene los datos esperados\nif (!fullText) {\n    console.log('No se encontró el texto en la salida de \"Output Agente\". Verifica la estructura del JSON de salida.');\n    return [{ error: 'No se encontró el texto en la salida de \"Output Agente\".' }];\n}\n\n// Expresión regular para detectar URLs dentro y fuera del formato Markdown\nconst urlRegex = /\\[.*?\\]\\((https?:\\/\\/[^\\s)]+)\\)|\\bhttps?:\\/\\/[^\\s]+/g;\n\n// Extraemos todas las URLs del texto\nconst urls = [];\nlet cleanText = fullText;\n\n// Reemplazamos las URLs encontradas por un espacio en el texto limpio\ncleanText = cleanText.replace(urlRegex, (match, markdownUrl) => {\n    const url = markdownUrl || match; // Extrae la URL correcta\n    urls.push(url);\n    return ''; // Reemplaza la URL en el texto con un espacio\n}).trim();\n\n// Construimos el resultado con texto limpio y URLs\nreturn [\n    {\n        json: {\n            text: cleanText,\n            urls: urls.length > 0 ? urls : null // Retorna array de URLs si hay, sino null\n        }\n    }\n];"
      },
      "id": "44de75ae-da92-472b-b5b2-e1780d311d8e",
      "name": "Separar Output en partes2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3e0aa757-4de8-492a-8412-f4603c4a1784",
              "leftValue": "={{ $('Edit Fields2').item.json.values()[0] }}",
              "rightValue": "https",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "69d3c0a1-6002-420d-ab99-3c89a6168e75",
              "leftValue": "={{ $('Edit Fields2').item.json.values()[0] }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "384d97e8-bc8a-4a76-a189-70e77a9043cf",
              "leftValue": "={{ $('Edit Fields2').item.json.values()[0] }}",
              "rightValue": "Link",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        400
      ],
      "id": "c388dcc0-7e98-498e-b578-ff80d13b1f81",
      "name": "Hay URL?1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?1').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        160
      ],
      "id": "c3ce3875-dd3a-4cbc-9d92-e91683f11d75",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\"\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- No quites los emojis\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- El mensaje debe sonar relajado, formal y respetuoso.\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n\n#Output\n- Las respuestas no puedes superar los 140 caracteres\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- si detectas una frase como \"Aquí tienes el link\", quitala",
              "role": "system"
            },
            {
              "content": "=Mejora la estructura del siguiente mensaje: {{ $('Hay URL?1').item.json.values()[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2080,
        660
      ],
      "id": "0712e1fc-87c6-489b-9d0b-dc96bbf3d729",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=- Tu trabajo es mejorar la estructura del mensaje quitando símbolos como \"#\",\"**texto**\", \"![texto]\", \":\"\n\n- En tus respuestas siempre responde SOLO con el mensaje mejorado asegurandote de que el mensaje tenga sentido y buena estructura\n\n- No quites los emojis\n\n- Utiliza signos de interrogación \"?\" solo en el final de las frases.\n\n- El mensaje debe sonar relajado, formal y respetuoso.\n\n- No uses puntos finales\n\n- El output debe sonar muy natural y humano. Debes eliminar las siguientes frases o similares:\n  - \"Estoy aquí para ayudarte\" \n  - \"Gracias por la información\" \n  - \"No dudes en preguntar\"\n  - \"Con gusto te ayudaré\"\n  - \"¿Cómo te puedo ayudar en algo más?\"\n\n- En lugar de frases como \"¿en qué puedo asistirte hoy?\". En su lugar usa frases más comunes y más relajadas\n\n\n#Output\n- Las respuestas no puedes superar los 140 caracteres\n- No usar frases como \"¡Eso suena emocionante!\" y sé más natural en tu forma de expresarte como si fueras de España\n- Solo comparte los links si el cliente te lo solicita\n- Hablar como una persona, no como un robot\n- Hablar siempre como mujer, eres Mónica\n- si detectas una frase como \"Aquí tienes el link\", quitala",
              "role": "system"
            },
            {
              "content": "=Mejora el siguiente mensaje: {{$('If4').last().json.values()[0]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2860,
        160
      ],
      "id": "89279c76-cd7e-458f-abf6-43cef19faa36",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "ncEn8Lip4F0P7Ul7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "07c20522-3ea7-423f-9c84-c959a3a00f53",
      "name": "Flujo terminado2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2620,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "87169bb1-9195-4b2f-b4bb-216b2933346f",
      "name": "Recorrer mensajes 1 a 1 Texto e Imagen1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2340,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a5377465-87f5-4271-8d8e-2b0cd0f8b164",
              "name": "mensaje",
              "value": "={{ $('OpenAI1').item.json.message.values()[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2440,
        660
      ],
      "id": "7283f48e-62be-4ce0-b5dc-1ca7938cca57",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4b47b6c-e9ae-4e88-bf32-1d93d96136e7",
              "name": "mensaje",
              "value": "={{ $('OpenAI3').item.json.message.values()[1] }}",
              "type": "string"
            },
            {
              "id": "0bfe6b9b-91b4-4f2b-baa6-0aa127a512db",
              "name": "url",
              "value": "={{ $('If4').item.json.urls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        160
      ],
      "id": "8dbf1cf6-c286-4912-b140-17cd99d30f1f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59babff8-137e-4659-994c-c56fe80d6bc2",
              "leftValue": "={{ $json.urls[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2620,
        160
      ],
      "id": "a8061699-543d-43ce-a6f4-b775e254ea9a",
      "name": "If4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1360,
        620
      ],
      "id": "bb5f0239-51bd-4dcb-b62b-44ba0d9783ba",
      "name": "Zonas Horarias",
      "credentials": {
        "serpApi": {
          "id": "XpePc3fs87WWcVbM",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf9f2548-053b-472f-b601-4e34ca31511c",
              "name": "Output Agente",
              "value": "={{ $('Hay URL?1').item.json.values()[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1880,
        660
      ],
      "id": "a42976e5-443d-41c3-af52-fac2afa70b23",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.body.contact_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        20,
        400
      ],
      "id": "7cd05b63-c9e9-498a-8186-9cd2466b8a60",
      "name": "HighLevel",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n-ghl",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        400
      ],
      "id": "939192ce-a329-48e8-a8f2-c83760b7dc24",
      "name": "Webhook",
      "webhookId": "f9700b49-c0d5-47fb-ac84-75b1c47e7e4d"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel').item.json.emailLowerCase }}",
        "phone": "={{ $('HighLevel').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2640,
        660
      ],
      "id": "b3393f94-d82b-4c71-a259-22fe12b21cf7",
      "name": "HighLevel1",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Edit Fields').item.json.values()[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2880,
        660
      ],
      "id": "cda85091-abeb-4542-bfbb-7eaa923ea827",
      "name": "Respond to Webhook1",
      "executeOnce": false
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel').item.json.emailLowerCase }}",
        "phone": "={{ $('HighLevel').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Recorrer mensajes 1 a 1 Texto e Imagen1').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2860,
        380
      ],
      "id": "b7df4b10-4593-439d-b29a-54c59956b9b2",
      "name": "HighLevel2",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Recorrer mensajes 1 a 1 Texto e Imagen1').item.json.values()[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3020,
        380
      ],
      "id": "335141f4-505e-4c90-a31c-e6f2508b6048",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel').item.json.emailLowerCase }}",
        "phone": "={{ $('HighLevel').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields1').item.json.values()[0] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        3360,
        -60
      ],
      "id": "3272fb25-5f3a-4b6e-b8f3-d24dabe09023",
      "name": "HighLevel3",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Edit Fields1').item.json.mensaje }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3520,
        -60
      ],
      "id": "96a664ed-2d6f-4929-bbe2-2f4c7d4391af",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "email": "={{ $('HighLevel').item.json.emailLowerCase }}",
        "phone": "={{ $('HighLevel').item.json.phone }}",
        "additionalFields": {
          "customFields": {
            "values": [
              {
                "fieldId": {
                  "__rl": true,
                  "value": "a9gBJcawbV7nrFZixtJ4",
                  "mode": "list",
                  "cachedResultName": "Respuesta IA"
                },
                "fieldValue": "={{ $('Edit Fields1').item.json.values()[1] }}"
              }
            ]
          }
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        3840,
        -60
      ],
      "id": "121fbf60-4dc1-42f9-9720-c129bc276cf4",
      "name": "HighLevel4",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "aY7LV507gGvVe8My",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $('Edit Fields1').item.json.values()[1] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4120,
        -60
      ],
      "id": "e6b10a32-edad-44ef-90b4-a016a30537a7",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3680,
        -60
      ],
      "id": "42d53c29-a837-43af-b1f4-6056b720eb7b",
      "name": "Wait3",
      "webhookId": "60aba244-4231-4259-8b8f-2ceb81e08f64"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3980,
        -60
      ],
      "id": "d5a47f64-8155-471b-a045-a3c531b42638",
      "name": "Wait4",
      "webhookId": "c4d825ce-8e8c-4d64-9fef-742e28bbf84c"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1220,
        620
      ],
      "id": "82be45be-ff17-4b91-abe2-2545d30b9600",
      "name": "Calculator"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U7Vnx65YdyWIdvFUM2DoOMokjXxidgMt2n2ie-ntEu0",
          "mode": "list",
          "cachedResultName": "FULL CAMPAIGN ANALYTIC | LANZAMIENTO AGENTES DE IA (VOZ)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U7Vnx65YdyWIdvFUM2DoOMokjXxidgMt2n2ie-ntEu0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1683958641,
          "mode": "list",
          "cachedResultName": "Registros Evento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U7Vnx65YdyWIdvFUM2DoOMokjXxidgMt2n2ie-ntEu0/edit#gid=1683958641"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.phone.toNumber() }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        400
      ],
      "id": "cb11adea-6515-4fff-bfda-7de08153454d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Cu6zJ48iSEjW5Hc8",
          "name": "Google Sheets fran"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-03-10T12:50:25.838Z",
      "updatedAt": "2025-03-10T12:50:25.838Z",
      "id": "IfwmE4Wy4hV5SX5c",
      "name": "Monica"
    },
    {
      "createdAt": "2025-02-26T07:17:34.787Z",
      "updatedAt": "2025-02-27T17:47:03.175Z",
      "id": "UFH6BosTRpNyXl3E",
      "name": "💬🟢WhatsApp"
    },
    {
      "createdAt": "2025-02-26T15:17:43.536Z",
      "updatedAt": "2025-02-26T15:17:43.536Z",
      "id": "bB5H9hQQ6Hyuq8xS",
      "name": "✅ PRODUCCION"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-01T18:08:19.000Z",
  "versionId": "ea16b6b0-9451-490d-b4a7-bf5b9d64e8fd"
}